#donation_container {
float:left;
margin:0 auto ;
margin-bottom:20px;
}

#donation_container h2{
    margin-top: 25px;
}

#donation_container div#steps{
text-align:left;
clear: both;
}

#donation_container div.step-1{
float:left;
width:370px;
clear:left;
border-right:dashed #999 thin;
margin:10px;
height:560px;
}

#donation_container div.or{
    background: white;
    font-size: 20px;
    font-style: italic;
    padding: 4px;
    float: left;
    margin-left: -24px;
    margin-top: 10px;
}

#donation_container div.step-2{
margin: 10px 0px 10px 20px;
overflow: hidden;
}

#slideshow-container{
    margin-top:-30px;
}

#whatwedo-container{
    margin-top:10px;
}

#bottomrow-container{
    margin-top:20px;
}

.bottomrow-item{
    float:left;
    margin:0px 15px;
    width:300px;
    height: 180px;
}

#bottomrow-container .white{
    background-color:#fff;
}
div#living_with_container{

   background-color: #fff;
   text-align:left;
   padding: 20px;
float:left;
   margin-bottom:25px;
   width:920px;
   
}


#living_with_container p {
line-height:18px;
float:left;
clear:right;
width:450px;
}
#living_with_container img.kid {
float:right;
height:250px;
margin-left:30px;
}
div.living_with_text {
float:left;
margin-bottom:20px;
}

.donate{
width:20em;
padding-left:10px;
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
background-color:#f4f4f4;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
margin-bottom: 15px;
}