paymentReason=>Test Widget<br>transactionAmount=>USD 1.1<br>signatureMethod=>RSA-SHA1<br>status=>SS<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>subscriptionId=>c9e4fb34-66a6-4091-b9cb-ca849af95c8e<br>transactionDate=>1402514716<br>buyerName=>Ravinder Pal<br>operation=>pay<br>recurringFrequency=>1 month<br>recipientName=>Ashish Nandwani<br>noOfPromotionTransactions=>2<br>transactionSerialNumber=>1<br>signatureVersion=>2<br>promotionAmount=>USD 0.1<br>subscriptionPeriod=>12 months<br>signature=>N+TF9j4tOKwEPYpdVpWxM46rro3llDQgLHW0deSnbbjBHEuOInJoaOn6FddDsoTKIdUaTZpuZXy9
NUXWoiXvemRpa6xYP/GWcusqDKhqNZdxrM4MjAnEjt8CGS7kfLVPBOOyBVA8dj91DQq+B/ByTaFt
nJxn532eZBOZHOKAPB1ZoQ1oi0+cXovl3+enhVtlL7vFaGhBkKNU8+vLVc+UnH+phQzV70BYEG9x
GjMT9647UWGSvcx5uil1S4gZ5Q1J4WkCSCBRKBlPROT+nZfHvCS7kMM4+2/eERH0WDS/k3PJZFVl
jEPRX9oVvA0yeLw9xpPwAhBER/CVBw8EhtnpTQ==<br>paymentMethod=>Credit Card<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/110713/PKICert.pem?requestId=bjyl800o7bbm72r6loyh3wtrankonns1l0nf80bw7ecwd7ufho1<br>__utma=>220773262.823465736.1384368906.1401921973.1402076725.43<br>__utmz=>220773262.1384368906.1.1.utmcsr=(direct)|utmccn=(direct)|utmcmd=(none)<br>