paymentReason=>Test Widget<br>transactionAmount=>USD 1.1<br>signatureMethod=>RSA-SHA1<br>status=>SS<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>subscriptionId=>4126f3cc-0d07-4a35-8a35-85d46ea105ea<br>transactionDate=>1402514983<br>buyerName=>Ravinder Pal<br>operation=>pay<br>recurringFrequency=>1 month<br>recipientName=>Ashish Nandwani<br>noOfPromotionTransactions=>2<br>transactionSerialNumber=>1<br>signatureVersion=>2<br>promotionAmount=>USD 0.1<br>subscriptionPeriod=>12 months<br>signature=>g3uDCuK8vziv7jJc7qy8hn2OL9hYk6MG2xZQeEAAFtWrsTlf/Fts1T5oCgIcpk6gDSYTMWOTgxr9
nkQqfuF9aYsz4I3lCLnqknKpoT16z/8yCwdjl5lstKrDVTFxdol6oUxvOi0UPl4c1piWtOfT/wcI
0zTtHGmRX0Afc/wCsWHKs1eelEDHS/10ZSn+/A9Lfm1WzQbCPl0q6ityRwECZ1s55iMfqVWvCeMR
618CYTtIXvRygSb9p50cEmCGW4ks9J5Oz6FmQLQuK4b4STjZZTQvGqHiOybAwSvr9Ncp+Fnthv4/
uOhPKl01tm1u45ieZtxNB3cHEXMn1FtKZRJtAQ==<br>paymentMethod=>Credit Card<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/110713/PKICert.pem?requestId=bjyl800o7bbm72r6loyh3wtrankonns1l0nf80bw7ecwd7ufho1<br>__utma=>220773262.823465736.1384368906.1401921973.1402076725.43<br>__utmz=>220773262.1384368906.1.1.utmcsr=(direct)|utmccn=(direct)|utmcmd=(none)<br>