paymentReason=>Test Widget<br>transactionAmount=>USD 0.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>18Q66GJUQ79U4HAIDM1Q2A7U5SM1QGQUT6J<br>status=>PI<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1402514984<br>buyerName=>Ravinder Pal<br>subscriptionId=>4126f3cc-0d07-4a35-8a35-85d46ea105ea<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>1<br>signatureVersion=>2<br>signature=>ApAV2M+TEfo8si6S/sA9NDJ7JRS62lNY85jfxlcJRYDoGksdCE7yMweIkGwm7EluPQtJ6Xd+1gs3
zKduMPwVOUlU4jsfDlWWuBC41bRQoHYPvBbGBB9l76byhoA0hK0bPP1wCo9s/IcZo3pIZMO8Okvk
n790Yqrnt9lVW1G+slJGPUj/WWsC58j6LpQFxEWSQyVduRwlmxtaEONg1qTk1FQPhMwK+zrLzyyD
0azw83ozU1ItUERwOliqHHWteasrswj5aMPCWTVquk08L5vufuw8RA79XgO1dIZHFLConaEMvBTz
uxOk+NKAAMRuxVOv6T34PeiIoipvhLPQwEcjOA==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0asoh81<br>paymentMethod=>CC<br>