paymentReason=>Test Widget<br>transactionAmount=>USD 1.10<br>signatureMethod=>RSA-SHA1<br>startValidityDate=>1402514716<br>status=>SubscriptionSuccessful<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Ravinder Pal<br>subscriptionId=>c9e4fb34-66a6-4091-b9cb-ca849af95c8e<br>recurringFrequency=>1 MONTH<br>recipientName=>Ashish Nandwani<br>noOfPromotionTransactions=>2<br>signatureVersion=>2<br>promotionAmount=>USD 0.10<br>subscriptionPeriod=>12 MONTH<br>signature=>Lw3iG2xFjUEYdxxk60FXDscgtSJ7hq9Wnu413CSmlva0iQjVxd0dcyOCgcxqteGSDf3/vUL4Y64F
AhhbYGco8j8GWPjHhi3j9nnXiVbMpUEC+8TtRnCS7oeu8xX/cqFtJR6O0nzssALliQLe8+b7q98e
ed76HqbhUkeESvHowa1KQ1+t3Em0SzO4imDVJScas1vjqHYy2XhNUOhM9zQO8IZh8hcPKLs5DxXh
85hYrHt+7l+QZmmmrH1mk88swtd80xKKhbo/5l8t2OVNzeS4hi2Mjdg9I3w2crxXpedJUeccmT5A
B06glrbg+InFAqpD2ifTBDczFY4YqP3dri45Qw==<br>paymentMethod=>CC<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0asoh81<br>