paymentReason=>Test Widget<br>transactionAmount=>USD 1.10<br>signatureMethod=>RSA-SHA1<br>startValidityDate=>1402514983<br>status=>SubscriptionSuccessful<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Ravinder Pal<br>subscriptionId=>4126f3cc-0d07-4a35-8a35-85d46ea105ea<br>recurringFrequency=>1 MONTH<br>recipientName=>Ashish Nandwani<br>noOfPromotionTransactions=>2<br>signatureVersion=>2<br>promotionAmount=>USD 0.10<br>subscriptionPeriod=>12 MONTH<br>signature=>CdB9aopcUYK9TwZnzO7sILY5mg9bYdHs2F9GZQ5u+W1vOsdOHK64fG68t19sq9lyu2r+mCQZOfeS
lJovnVRyXw6MQP8A5pLu9d1owJL18aIGUUMzPsTkl1BPX3iohYCvilCXrL2y2oewz4bS3ffKkvNE
MU9aIa1BQZbQXRcvudbZhWe2YeH7QHnbQmWXsPH2Ie0VZ+npmhZZgPAyzPw7JHGtWfqiGXVVcqDi
aQIDlx6nZkZjZEvmOwn/7ZkUzSWL6/dADsSjQF109T9vxYnzHbTBNkTnZNeOTYzKtSBbr8i0Kbmi
zSS7vNWcNJEwXUllZHbIbl89DkoavRlDm+E2fg==<br>paymentMethod=>CC<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0asoh81<br>