paymentReason=>Test Widget<br>transactionAmount=>USD 0.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>18Q668FA37ASALHPE83ZQIVPPHLEOJIJZQB<br>status=>PI<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1402514718<br>buyerName=>Ravinder Pal<br>subscriptionId=>c9e4fb34-66a6-4091-b9cb-ca849af95c8e<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>1<br>signatureVersion=>2<br>signature=>JVyhrdOIENV1d9tuEk8GkrPx3w70bCAbhnK4j1RvIWsMvSczzYWHjTfdpkzMF9EiHw+aSUFmkBec
szez8bvnoSTGMcC/ISxrfR11alWdLSgwsCBtJ5vqs8uSZEhUKO5gRX1HMlnLF/KLSkgF9Wjl5kVV
IqUTxaOrWDoqBqs4QVdS5zs8M4E1G/rBDDEhYFUesc9BGrnVC4JmbU50xHXgjSmI4i8UXKJmidor
bIDKyEkL+cCYjMrxWmsOEDNFCJ+WVGIZJtRJofWAZVGIhDbj6JDkwNxGo/uLzJL4M2+CtJW9GnqS
oT7DHZmH8zSC5vaaAy/jRLprp1Ja/flFb/aBXg==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0asoh81<br>paymentMethod=>CC<br>