paymentReason=>Test Widget<br>transactionAmount=>USD 0.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>18Q668FA37ASALHPE83ZQIVPPHLEOJIJZQB<br>status=>PS<br>nextTransactionDate=>1405106716<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1402514718<br>buyerName=>Ravinder Pal<br>subscriptionId=>c9e4fb34-66a6-4091-b9cb-ca849af95c8e<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>1<br>signatureVersion=>2<br>signature=>oAN6TMs4UnzEFRvv9Q+bg0uRU3gUNw/YfS98CyglD1QenA6zW8uBaaJ5Dmzj9ommxbB6Htb45upS
ZU8uU6Z/bUS5Q/5cjTIc2cj3wiTtOQy9dGVpDQ4nqyQDddVAtqwpzHKmkpsiTc9a5Jqaj450LV80
/VSH4bfFRDyeiXiUZ1Nf7q5MF4G5gV8gS0g1Ff49voLhpWunDPFQWnJk6JsBQEoU7/wrrIXjDV3r
DV3uvkxYvJ09fIQPPMuznzip83UfIn62gF1Urt+zFXqa4EV3ozalli/qs4uWDK7zxmuyYiEyRloX
GVjKBtqylWqxjUvScXeuZEqE6zlQ32PxFsd8gQ==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0asoh81<br>paymentMethod=>CC<br>