paymentReason=>Test Widget<br>transactionAmount=>USD 0.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>18Q66GJUQ79U4HAIDM1Q2A7U5SM1QGQUT6J<br>status=>PS<br>nextTransactionDate=>1405106983<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1402514984<br>buyerName=>Ravinder Pal<br>subscriptionId=>4126f3cc-0d07-4a35-8a35-85d46ea105ea<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>1<br>signatureVersion=>2<br>signature=>f/tvlqkKKQLTxHiAYJ2sN1giysfo8+q0YVci/kqxbdHrg+zJxPDhrZUZrMmdfFb0da4DjFoEiVNG
f1IH1m0nif8BQ1HYxiTIKXgBi5uBloamfPaFLdwLChjRMpy895NtC+gM50vorZCw6R1ZgOgTiZ3k
4kRKOgFVVEHvU5S00ptKfLvJ4R+g0XsDCo1Dx/P0WrJCaibOwlHSckNdQ9iBPaJda5C++G58YbyP
AGGRlJek0orMLgiRWxgorPW2wJMcMzgXbAv42IjDxdZy33nARrmqv/T7a1uRGz74JXRpYDCVDjgg
DS+oFk5u+ztTM+RmnhvhiHzpJozkRuoJ+Ss+Sg==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0asoh81<br>paymentMethod=>CC<br>