paymentReason=>Test Widget<br>transactionAmount=>USD 0.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>214Z51Z6988782PG61BIZV7BOP3EZ9KN8H5<br>status=>PI<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1405106988<br>buyerName=>Ravinder Pal<br>subscriptionId=>4126f3cc-0d07-4a35-8a35-85d46ea105ea<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>2<br>signatureVersion=>2<br>signature=>KNKf/hxC09SFJgcc+RJFBnE5NxzvBGg5BJuFfTRZfg3FotbgyV/w0Bbm51l19eFtBw6FRHNvwFTw
jnGR3REVFfooX0Vpnfh0OULgdd50OGKGDiKJnKF7+uNDyJdtdWsK+DYL+2n7FLT19Qkw4ICvFuya
dCEFtgHZM1Fh3NLach07qd11UmyHYKLeyM6MeljTD0fGuO4IVOA/NEhT9s5xXClF80LKiaMJtITh
AOB2yQHLnARNv70zP312khUg0cvGIzo2qGva6M5JK06x+V4BU7Pl8DSEiqVmzGieJgq0X1Tuu5vx
uvRvt6tP52LoWgrs8hK2UGjgUoEafMxPbLvGyg==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0aspvsh<br>paymentMethod=>CC<br>