paymentReason=>Test Widget<br>transactionAmount=>USD 0.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>18SJE6BQE7FO46RSASGTQQJ1TQV9GDVDGAD<br>status=>PS<br>nextTransactionDate=>1407785116<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1405106728<br>buyerName=>Ravinder Pal<br>subscriptionId=>c9e4fb34-66a6-4091-b9cb-ca849af95c8e<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>2<br>signatureVersion=>2<br>signature=>Wbewf4RC+JqFhXw2fehZuAzeU/6sJ/eRQ+ag7YIw4U07TUW/mWdg3aiwuzj/jPTKyBDBuwLU2st/
fhFTsAA51KfQJbvWCqzVleoClAHJU40PLbFn9K0ZP0Wk6VDC4S+wwMiAEG4QxRM9w5WJ3OFjWatl
QkP5B4NU5TuXi9ue6qu1rnrg52FvwbQLgKx5HrXxvK+VXVcT63ZlPu4PB+OKVYSTq8U3YBW5lFUZ
9nrspAUS0oKRpLC3zMBCKsQ9fRZtMEuI4llqoVQaaH/1E0DvfodS5RKfJxCVLqfr/o6H8W6C15+i
KnLphrI73K/xc0re6zwIxPVu2ZrXXZ5eZ1SbjA==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0aspvsh<br>paymentMethod=>CC<br>