paymentReason=>Test Widget<br>transactionAmount=>USD 0.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>18SJE6BQE7FO46RSASGTQQJ1TQV9GDVDGAD<br>status=>PI<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1405106728<br>buyerName=>Ravinder Pal<br>subscriptionId=>c9e4fb34-66a6-4091-b9cb-ca849af95c8e<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>2<br>signatureVersion=>2<br>signature=>WDMXn13hvTEF38vcsPSKO0j1sW6zgcZsorr2tNnn2f8NZLikxJLQA/1RI0NJYXxHe7wOtvessL8d
T452n8BkIhFQNvxneVCkhZTDhm+8t8sjzqjd5gRY3ajRfB4ZdXoS3jT8EYa1plWjqPSTmpVN7dXC
gPdM06NohZ6iMXXAsydIYwOUYkRDTlsC5aD/rzE6B//FE+4EkcHWZIlXIwG62I2PMbi4lLXI/wP8
tOXdNtNlyG5yhqJiB0tzPbMdkR2aHZCIuskI0jc8B7PTrBVng6rtV96T0AgPkilI2XvEWVJBsNel
dVMOIEtMZOwLFmbHgDpCQftEeYWmISvDg72rpA==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0aspvsh<br>paymentMethod=>CC<br>