paymentReason=>Test Widget<br>transactionAmount=>USD 0.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>214Z51Z6988782PG61BIZV7BOP3EZ9KN8H5<br>status=>PS<br>nextTransactionDate=>1407785383<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1405106988<br>buyerName=>Ravinder Pal<br>subscriptionId=>4126f3cc-0d07-4a35-8a35-85d46ea105ea<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>2<br>signatureVersion=>2<br>signature=>kC8G361Um59LruIcukIhT9WbKzV85v+Mzn6z5vbsx79/v183OXtzJnV+3O5VF5Rdv0kjmPb8NLHk
Gs42o83EZWE+M+uY6W2f9PWYkmhyshNrNiOtQSo7INNvFoKIAfBEjgLSuZC/zBkGVoWKV2gUe/c8
zyK5zxqCJaSnOfuzl10isHKeq4/7fJj5AzjzYq1zpoWUXrBAo+Yi8dFWwmfjt4vEHeezVd+O9/8G
k4dN7APdtDxTRWESqslkP+tzA5T9YPjs/DkCQhZLCqm4FndJ+q1F0jU4RN1TBHByF+Jjyoa2OJxb
7F6fAKG8N7JeVbrNGww1qfYpMaZgaDBHxfPDLA==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0aspvsh<br>paymentMethod=>CC<br>