paymentReason=>Test Widget<br>transactionAmount=>USD 1.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>18V38GCDS6QURRNHZ2OZZ5M8VAUPD6CC588<br>status=>PS<br>nextTransactionDate=>1410463516<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1407785120<br>buyerName=>Ravinder Pal<br>subscriptionId=>c9e4fb34-66a6-4091-b9cb-ca849af95c8e<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>3<br>signatureVersion=>2<br>signature=>0R2AhGm0Cs9CKd7i3pSglFfFCA6c8cGXzdgLDiJ8lMdax55JSvGvFp2NZytZY8P4CWpbVvrBvgRO
7X0lSGRBNciE566LG5T5mDEEEfcjF5dVjILABAihIoUBDDwJJqKKt4+XZQhEWbDbx0x3p0P08hWl
aAllP5+DTo1Vps7iCjLjvXo25crw5sKGBNjA0Gy49fXvkNo3jg8JgzBrHvF2xdqqhMxnKpjqrrga
2/s9OOeuTfBYb1B8CtGsMUzEpO/9ReuuuJwCrEkcfk8BpVtOlPMBcJlzdl6J6VJZFqSwnpGfIamw
iMV6qWDOzyD1obNoEV0/sHxS7nU984Ln7uct/g==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0asracx<br>paymentMethod=>CC<br>