paymentReason=>Test Widget<br>transactionAmount=>USD 1.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>18V38GCDS6QURRNHZ2OZZ5M8VAUPD6CC588<br>status=>PI<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1407785120<br>buyerName=>Ravinder Pal<br>subscriptionId=>c9e4fb34-66a6-4091-b9cb-ca849af95c8e<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>3<br>signatureVersion=>2<br>signature=>WrJ2UV4dDtpUCTXbPNAggLn9tOqCuaCXbRyb3Khe2XgrOI+HuBD3h2HpB7uHSCArrKGIM3Wu9zpX
2RuVVEtNqgQ7v4boMQ8457uDkKm8r99/xhqcZRFdHCgkiXXk9Kti3/ctG7G3TL8nLPtGr3ujGRWK
k2Qlj4bnPbNQKaDBBmgWyyW50UjhLBFvogUyYpeP7Ef8nly4EZUG3YVdZGZmluICSwgk252uEIGa
9VtvbqUdIBNzslNv6rsR1johGg3xMU6JUNqxQ3ZLCxvqtHq8OEckP9HTC+flUIRZbTW4reVIpwBr
8NukwUii9F9D/on05j48xiDXUCPGnAYcu8R9eg==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0asracx<br>paymentMethod=>CC<br>