paymentReason=>Test Widget<br>transactionAmount=>USD 1.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>18V38OEGE5OFEF3PN4UFK8PLZDVSSV9V2R1<br>status=>PI<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1407785384<br>buyerName=>Ravinder Pal<br>subscriptionId=>4126f3cc-0d07-4a35-8a35-85d46ea105ea<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>3<br>signatureVersion=>2<br>signature=>bsPuEqQK0wNDtCBDjNBMHF9KrtADjbpdne0eK00+D9Io5hQnC54nOJ33w7pLr+mnfZvd/ykuzz3d
FfHbTjGASs7nukZgmtyhRu8SLon1JBh8CiWQ8MWaNXU+uZWsKTilmM8de/lbZ8KEMCYpU6HjN2d6
RFVVHb38aKg2eYvUYS3Lgiu83xo+FKPVn+OzRZbD2wKKpf7oNPBKnPeJ0veIwAcfg0NcO0abfFxr
1rmRP0coBnaWsvCr0vmT5ySo5RLBhJSHtFridmz5wVmhkojc7FfshSKKxKj5p/zMkX0abGza1Blj
bpBPivmBo4i9mhriPbS+J01aeWq+LBDJSSD+hA==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0asracx<br>paymentMethod=>CC<br>