paymentReason=>Test Widget<br>transactionAmount=>USD 1.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>18V38OEGE5OFEF3PN4UFK8PLZDVSSV9V2R1<br>status=>PS<br>nextTransactionDate=>1410463783<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1407785384<br>buyerName=>Ravinder Pal<br>subscriptionId=>4126f3cc-0d07-4a35-8a35-85d46ea105ea<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>3<br>signatureVersion=>2<br>signature=>04YdPzGZZ7AcIWU3Ey0q00SOpszHe+U0bsMJj83YOmuyn0jducs1R+aIz55dxLl6lrjpBlD53wE5
9BZsnPb05gviAXa7/93DCwnqM2FhwzvUfLMWbEvt2FCXKJovrBJRiQkXEwgWkbnDDUTCPWPDXoBs
mL+adAvQ8pkKICXg8tHlkOCu6AnJoOIiZ+mxu/QA3ji1KO6ekozKrt0gOjxytqjferxOW7IjeITR
hzTBCDpmTCraOZkiGPpKF8xpGWujT33enK/WTL2nYuZ3n98HaSGKkcWmLCDzndMzd4DLgDG57J1z
3UmbbeibVINkHj+kOZqwEDCBFrDx4TaF8mfuWA==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0asracx<br>paymentMethod=>CC<br>