paymentReason=>Test Widget<br>transactionAmount=>USD 1.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>191J33Z5OKUTFL2TTNNLET74A7JON32PLM4<br>status=>PS<br>nextTransactionDate=>1413055783<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1410463793<br>buyerName=>Ravinder Pal<br>subscriptionId=>4126f3cc-0d07-4a35-8a35-85d46ea105ea<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>4<br>signatureVersion=>2<br>signature=>nAnDyiBiMNJvbu7aCpyXrKsWGQHFj+pm4IMY6Cf/CBKsDD/SSXYLKULjyQf1kpmDndSZaldl8Ccr
i9TLS/R/Hz+HCof2JBQc02dpvTYtb4Wh4dcGYsdkHV53V3EgSBLdQUknF8tW2Mn06e1EtyOV0QXl
iWy3SvIzZjaWNh9IUb36IvemHFr4N3hD3SAqpw47JugFcdujtOvFPG1DCELRncCa8WkDk0uzC3aW
WRJyoOB92NiktLoxEDauPY8V8UPI7SAL4m98EGHitBmbsXevXHB18aBqgy/FsONKd4RdAter3do9
MRPNGLv38PByPlfpNK9JSV4581NlONnyyULi1w==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0assoxd<br>paymentMethod=>CC<br>