paymentReason=>Test Widget<br>transactionAmount=>USD 1.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>191J2QJOL69KG534C1D9IRHTCAPO84B7RE8<br>status=>PI<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1410463518<br>buyerName=>Ravinder Pal<br>subscriptionId=>c9e4fb34-66a6-4091-b9cb-ca849af95c8e<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>4<br>signatureVersion=>2<br>signature=>AmzSYp0hixHajxUiso+H7kjoKfGp5xh/Pan1JeFAmiLFCml+46aa5KBmnb3dc1/7uguxXhMkHAUq
ywxC0S91vWB403g1aQFZbWqwpF0SA+qRy1FRpSgr8QIdANYiTUANryOXp4VvbAmq9xxw0paJGX+W
IGheNa2to20TXjwL25UpG5oKw2HczfEqhyXklW59BcQBQ01DfHXDP+CAMQkeBbsQwppPHWmVEVLw
b/WCWWDYHWZCgA/tqUlKMD7rjh2LxVUxcjT3VGiWqKkyD2i1Q3Ed+FNqLL+LqNvRWbayzO55vKEZ
Rm5Sn1tVPfxkg6D8semMGRlwNpo0A/Ktz7PJ/Q==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0assoxd<br>paymentMethod=>CC<br>