paymentReason=>Test Widget<br>transactionAmount=>USD 1.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>191J2QJOL69KG534C1D9IRHTCAPO84B7RE8<br>status=>PS<br>nextTransactionDate=>1413055516<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1410463518<br>buyerName=>Ravinder Pal<br>subscriptionId=>c9e4fb34-66a6-4091-b9cb-ca849af95c8e<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>4<br>signatureVersion=>2<br>signature=>uKeDSihVWfrOLF42cxH48AI3dAiF6llsiuflu/VDeovKiuxZteH7MEEw3BJ3FwSD+R6VERoZDXxQ
YG4y2ROQCXquMZAEfOe90dhA9WggKFc8CQfEW3y/tqlMKhTRykAj7Kd0ji8DX4tTJdXOs6RFRuGg
qqaY8jR89cd3Tc1uAKkMz6Wc59XQqRJJrfWdmTeoVfujJrAP6xA6ne0CdndtjjJRnhuQg0khibLp
JI5u0TcmGbVJoYEh4S+CfS6h4d94wArh0rYRPswGFqf6sYUDGm5/+fXV0V6NiK6IxS7JYHr1iFYw
fm/RnbvMF80DLJMkMaLv1jjK6WByKS0lAh3xfA==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0assoxd<br>paymentMethod=>CC<br>