paymentReason=>Test Widget<br>transactionAmount=>USD 1.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>191J33Z5OKUTFL2TTNNLET74A7JON32PLM4<br>status=>PI<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1410463793<br>buyerName=>Ravinder Pal<br>subscriptionId=>4126f3cc-0d07-4a35-8a35-85d46ea105ea<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>4<br>signatureVersion=>2<br>signature=>phRfR6UmVkHK5MAIqbjDm3oyb/2TaOJi0rHAXSHZLO+yL1PrFuxHREAqALV8RfduEP36sKY7ujWq
PcuShJX0CftXB38y4K6ZDVbF0XfzYE4qUMkkwECFEmtSX7sIQtUvVS4MamTKDYjbuQhx+np03Fu0
y7Il/KIVTOSkSpzGn4QUg0arswlrkLV4eBaGTq9YinquL68lH0UR/VUnCr52coVBm3ZVclfmePV2
Ua4AQRDWjAzZ7SV27B+UlJ8hm1VORdDDqQZWUQh7HvJGovFV0tvJX0T4yf9oKOs9pn6X6j2w4B4y
dR24rfHLuyYMuz479inhZPDcMrduXlZMarNffA==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0assoxd<br>paymentMethod=>CC<br>