paymentReason=>Test Widget<br>transactionAmount=>USD 1.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>194ZBZJMCURIADBJ5ETBN2TDM9KI3G835Q9<br>status=>PI<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1413055794<br>buyerName=>Ravinder Pal<br>subscriptionId=>4126f3cc-0d07-4a35-8a35-85d46ea105ea<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>5<br>signatureVersion=>2<br>signature=>L2XYifBIqDi3Z2til/l79PcfMyZ8+iEVGeHsp6j3EKq99Nyi2cXZ2XusFu2iM5M5OcRX5npc6Ry+
iNnUVelNc59t42WXp+YHfJEE3ltw5G+xD4QWv+0oCO4esjLx2Du4dOKhD8Vr78MSzmh2jJYpQvb4
Q06ymsTzjfukn5G1jOrwlHoQHiZEWp2Stc+x1RNAQK6yFW1D54a/WGG8/qwbRYk8G5TCfVSAfkq+
HEBVca8+GFSUvgypBVxCD1bU8gFuKsw/MzSbUxaMLa69QnnTYlHOlAmiwHm6Y/2uHdmBik+g1PXp
1dhLJj5sQaON0wtH7ZtrGmkHkwAn5rRaakB9xg==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0b2fn75<br>paymentMethod=>CC<br>