paymentReason=>Test Widget<br>transactionAmount=>USD 1.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>194ZAO79K5M55CMDNAPZ925E82VNA252L8D<br>status=>PI<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1413055520<br>buyerName=>Ravinder Pal<br>subscriptionId=>c9e4fb34-66a6-4091-b9cb-ca849af95c8e<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>5<br>signatureVersion=>2<br>signature=>jV5DNGjjdQqxPAIkg+88xsPzCsSw0izouWYxE6pRoYnilCq3on+S/AAwicEsEjt+73QIp9sQaqYn
fyfXe2UTc7/lnmDVNCJutxo9yPTuChPRdle0RDZpwiwN6WWyyaKBjGGoeSmrDsbxBhc3dFIEmb+5
cH/dHIC71qz/dl4YllIGlFQdsQqrevFFoY19f0XlUCPEwDSovBAIpmMakzxWkK6M8nYtDCSgukgs
tUVd7Uet877MiXmxnxFZM2LC3uJWgokVWe2A6Yx+uIjBEzg72OMMKu2Jtf5bVfPo0SnD8mpWMCJ2
gHBAeulsA7yjWEoHeoCu1P70Y8fv5PqpfUR/uA==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0b2fn75<br>paymentMethod=>CC<br>