paymentReason=>Test Widget<br>transactionAmount=>USD 1.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>194ZBZJMCURIADBJ5ETBN2TDM9KI3G835Q9<br>status=>PS<br>nextTransactionDate=>1415734183<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1413055794<br>buyerName=>Ravinder Pal<br>subscriptionId=>4126f3cc-0d07-4a35-8a35-85d46ea105ea<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>5<br>signatureVersion=>2<br>signature=>s9QdJzLTm9P6EQZw8H6MuVluOaKdobDqP7UtVeUmRrVzfTzlPe1ZZNRCzYjgmtl6GUMXKV0ha79K
DKgDmu5Q2zU4spgdblrFujXT5vFI1L5XDTp+GhC03bdlG0s+M07MYIXNuhDG30R2O0wcPmQrx5cL
8AMOZCZBEpfVzrD57QI/0riYkO6Tow8oaw9z4jhDWIqIXNR3faMutTo3FoBFje3UBKL20qwQgVs1
nqywon+obzh6xRt+2A6U8/9sIYbvdOt/djFbPH7yOaYD2kvbfY+RofxI00PfmKhf/CvARkYIyZkE
Z4bKZMKHrdqdUwkYZvmSZ5goPJHGuS5xK33GTg==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0b2fn75<br>paymentMethod=>CC<br>