paymentReason=>Test Widget<br>transactionAmount=>USD 1.10<br>signatureMethod=>RSA-SHA1<br>transactionId=>194ZAO79K5M55CMDNAPZ925E82VNA252L8D<br>status=>PS<br>nextTransactionDate=>1415733916<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>test-reference123<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1413055520<br>buyerName=>Ravinder Pal<br>subscriptionId=>c9e4fb34-66a6-4091-b9cb-ca849af95c8e<br>operation=>pay<br>recipientName=>Ashish Nandwani<br>transactionSerialNumber=>5<br>signatureVersion=>2<br>signature=>nOIXu60xo4Ksxf7MprP5q8KYIbHwAQfbwweV/CtJKj1lExzCIEf+qUHvqBBGXfpeIRVQDprt8L7i
C6Nq/8ns1xI+kV+cDCZ8ILGGb3j9yI6gyE/vzBc3l4X+3mE7h/L+Z1m7Ep+21FVYcjgIjyaxRXlR
tRJhKKYNS4HNShOp2XqYZylUUN8N3W1EVutvkGkGaG6GirATYvgIP5tcqjrCz9foYR/K27sBbzvL
wlNh4osNaZdF25rEX0miQcGAfkY646XtActxx1YMtqx9V4w1MPk8T6pw9+ezELFxrgiOyg+VAIY+
BUAysWWEN1ohBr/Fp4gPyuVx9KjibWktTRMzow==<br>certificateUrl=>https://fps.sandbox.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0b2fn75<br>paymentMethod=>CC<br>