#about_container{
    background-color: white;
    float: left;
    margin-bottom: 45px;
}

#about_container #map_canvas{
    width: 920px;
    height: 280px;    
    display: block;
}

/* root element for tabs  */
#about_container ul.tabs {
    list-style:none;
    margin:0 !important;
    padding:0;
    height:88px;
    overflow: hidden;
}

/* single tab */
#about_container ul.tabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
    list-style-image:none !important;
    width:192px;
    margin:0px;
    background-image: url(/public/images/tab_bg.png);
}


/* link inside the tab. uses a background image */
#about_container ul.tabs a {    
    font-weight:bold;
    color:#333;
    display:block;
    height: 30px;
    line-height:30px;
    width: 192px;
    height:88px;
    text-align:center;
    text-decoration:none;    
    padding: 0px;
    padding-top:15px;
    margin:0px;    
}


#about_container ul.tabs a img {
    padding-right:5px;
    margin-top:5px;
}


/* when mouse enters the tab move the background image */
#about_container ul.tabs a:hover {
    color: #FCA230;    
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
    background-color:#f0f0f0;
    background-image:none;
    height:73px;
    cursor:default !important;
    color:#333;
    font-weight:bold;
}

/* initially all panes are hidden */
#about_container .panes .pane {
    display:none;
    padding:20px;
}

#about_container .left{
    width: 50%;
}

#about_container ol.whatwedo li{
    margin-top: 15px;
}

#about_container .pane .region{
    margin-top: 20px;
}

#about_container .pane p.document{
    margin-top: 10px;
}
