div#admin{
    text-align:left;
    background-color: white;
    border: 1px solid #777;
    padding:20px;
    height:500px;
    font-size:15px;
    color:#444;
    line-height: 19px;
    font:13px/1.5 Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
}

#admin .gray{
    color: #777;
}

#admin h2{
    font-size: 24px;
    color: #333;
    font-weight: normal;
    display: inline;
    vertical-align: 50%;
}

#admin h3{
    font-size: 18px;
    font-weight: normal;
    color: #333;
}

#admin h4{
    font-weight: normal;
}

#admin p{
    font-size: 15px;
}

#admin li{
    font-size: 15px;
}

#admin a{
    color:#0084B4;
}