#care_center_container {
width:940px;
float:left;
margin:0 auto ;
background-color:#fff;
position:relative;
z-index:100;
padding-left:20px;
padding-bottom: 20px;
margin-bottom:20px;
text-align:left;
}

#care_center_container p {
font-family:helvetica, arial, sans-serif;
font-size:13px;
color:#777;
line-height:18px;
margin-bottom:2px;

}

#care_center_container .actionBox{    
    float:left;    
    padding:10px;
    margin-top:10px;    
}

#care_center_container .wish{
    float:left;
}

#care_center_container .wish .wishimagesmall{
    cursor: pointer;
}

#care_center_container .overlay {
    display: none;
    background-image:url('/public/images/wishimage_bg.png');
    width: 580px;
    height: 620px;
}

#care_center_container .overlay .close {
    background-image: url('/public/images/close.png');
    position: absolute;
    right: 8px;
    top: 5px;
    cursor: pointer;
    height: 35px;
    width: 35px;
}
#care_center_container .overlay img{
    margin: 40px 0 0 60px;
}

#care_center_container .actionLinks{
    float:left;
    margin-left: 50px;
    margin-top: 15px;
}
#care_center_container .actionLinks h3{
    margin-bottom: 25px;
}

#care_center_container .actionLinks .make-a-donation{
    float:left;
}

#care_center_container .actionLinks .grant-a-wish{
    float:left;
    margin-left: 20px;
}

#care_center_container .actionLinks .or{
    float: left;
    font-size: 18px;
    font-style: italic;
    margin-left: 20px;
    margin-top: 12px;
}

#care_center_container .sharing{
    margin-top: 20px;
    width: 500px;
}

#care_center_container .twitter{
    margin-left: 15px;
    margin-top: 2px;
    width: 250px;
}

.care_center_content{
    float:left;
    width:620px;
    margin-right: 20px;
}

.care_center_content_image{
    float:left;
    width:300px;
}