#add-care-center{
    text-align:left;
    background-color: white;
    border: 1px solid #777;
    padding:20px;
    font-size:13px;
    color:#444;
}

#add-care-center h2{
    font-size: 24px;
    color: #333;
    font-weight: normal;
    margin: 15px 0;
}

#add-care-center h3{
    font-size: 18px;
    font-weight: normal;
    color: #333;
}

#add-care-center h4{
    font-weight: normal;
    font-size:14px;
    color:#333;
}

#add-care-center p{
    font-size: 15px;
}

#add-care-center a{
    color:#0084B4;
}

#add-care-center #general-information tr{
    height:30px;
    font-size: 13px;
}

#add-care-center .label{
    text-align: right;
}