#contact_container {
   background-color:#fff;
   height:650px;
   margin-bottom:25px;
   text-align:left;
   padding:25px;

}


#contact_container h1 {
font-family:'Droid Sans', arial, serif;
font-size:24px;
color:#333;
}

#contact_container h2{
color:#FCA230;
margin-top:25px;
}

#contact_container p {
line-height:18px;

clear:right;

}
