#donate {
    margin:0 auto ;
    margin-bottom:20px;
}

#slideshow-container{
    clear: both;
    text-align: left;
    float: left;
}

#slideshow-container .text{
    float: left;
}

#slideshow-container .image{
    float: left;
    margin-left: 60px;
    position: relative;
    width: 363px;
    margin-top: -10px;
}

#slideshow-container h1{
    margin: 70px 0 0 20px;
}

#slideshow-container h2{
    margin: 20px 0 10px 20px;
}

#slideshow-container p{
    width: 350px;
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;
    margin: 50px 0 0 20px;
    color: #777;
    font-family: Helvetica, Arial, sans-serif;
}

#slideshow-container span{
    color: #494949;
    font-style: italic;
    margin: 10px 0 0 20px;
    font-size: 14px;
}

#donate .bottom{
    clear: both;
    float: left;
    margin: 0px 0 25px 0;
    padding-left: 20px;
}

#donate .facebook{
    float: left;
    background: #FFFFFF;
}

#donate .twitter{
    float: left;
    margin-left: 80px;
}
