#footer-inner{
	border-top: 1px solid #CCC;
	color: #777;
	clear: both;
	text-align: left;
    height: 150px;
}
#footer-inner h4{
    margin: 0px 0px 4px 0px;
}
#footer-inner h4 a{
	font-size: 14px;
	font-weight: bold;
}

#footer-inner a{
	color: #777;
}

#footer-inner a:hover{
    color: #2898E2;
}

#footer-inner div.footer_box{
	color: #777;
	float: left;
	list-style-type: none;
    padding:10px 4px;
	width: 230px;
}

#footer-inner div.footer_box ul{
	list-style-type: none;
	text-align: left;
}

#footer-inner div.footer_box ul li{
    padding-bottom: 5px;
}

#footer-inner div.footer_box .moreinfo{
    margin-top: 10px;
}

#footer-inner div.footer_box .moreinfo small{
    vertical-align: 15%;
}
