#donation_container {
float:left;
margin:0 auto ;
margin-bottom:20px;
}

#donation_container h2{
    margin-top: 25px;
}

#donation_container div#steps{
text-align:left;
clear: both;
}

#donation_container div.step-1{
float:left;
width:370px;
clear:left;
border-right:dashed #999 thin;
margin:10px;
height:560px;
}

#donation_container div.or{
    background: white;
    font-size: 20px;
    font-style: italic;
    padding: 4px;
    float: left;
    margin-left: -24px;
    margin-top: 10px;
}

#donation_container div.step-2{
margin: 10px 0px 10px 20px;
overflow: hidden;
}

#donation_container #map_canvas{
    width:410px;
    height:350px;
    margin:5px 0;
    float: left;
}

#donation_container .step-1 p{
    margin-top: 20px;
}

#donation_container div.step-1 .btn {
    text-align: center;
}

#donation_container ul.tabs {
	margin:15px 0 0 0;
	padding:0;
	height:30px;
        text-align: center;
	border-bottom:1px solid #777;
}

/* single tab */
#donation_container ul.tabs li {
	padding:0;
	margin:0;
	list-style-type:none;
        float:left;
}

/* link inside the tab. uses a background image */
#donation_container ul.tabs a {
	float:left;
	font-size:14px;
	display:block;
	padding:5px 30px;
	text-decoration:none;
	border:1px solid #777;
	height:18px;
	color:#999;
	margin:0 4px;
	position:relative;
	top:1px;
	outline:0;
}

#donation_container ul.tabs a:hover {
	background-color:#F7F7F7;
	color:#333;
}

/* selected tab */
#donation_container ul.tabs a.current {
	border-bottom:1px solid #FFF;
	color:#333;
	cursor:default;
}


/* tab pane */
#donation_container .panes {
	float: left;
	margin-left: 20px;
        width:490px;
}

#donation_container .panes div.pane {
	display:none;
	padding:15px 0 0 5px;
        overflow:hidden;

}

ul.states{
list-style-type:none;
margin:0px;
}

div#listofstates {
float:left;
clear: both;
margin-top:10px;
}

div.states_div {
float:left;
width:117px;
}

div.state {
margin-top: 15px;
}

#donation_container .panes div.pane a {
	line-height:22px;
}

#donation_container .panes div.pane a:hover {
text-decoration:underline;
}

div#back {
margin-top:20px;
}

div.name{
margin-top: 10px;
padding:0;
}
div.name a {
font-weight:bold;
}
.grant{
width:400px;
float:left;
}
.donate{
width:24em;
padding-left:10px;
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
float:right;
background-color:#f4f4f4;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}