#header{
    color: white;
}
#header .logo{
    float: left;
    height: 72px;
    overflow: hidden;
}

#header .navigation{
    float: right;
}

#header ul{
    list-style: none;
    margin-top:30px;
}

#header ul li{
    float: left;
    padding: 2px 15px;
    border-left: 1px solid #CCC;
}

#header ul li.first{
    border: none;
    padding-left: 0px;
}

#header a{
    color: white;
}

#header a:hover{
    color: #FCA230;
}

#header a.active {	
color: #FCA230;
}

#header a.highlight{
    color: #D9EDF6;
    font-weight:bold;
}


#header a.highlight.active{
    color: #FCA230;
    font-weight:bold;
}


#header a.highlight:hover{
    color:  #FCA230;
}