#home h1{
    font-size: 26px;
    margin: 15px 0px 25px 0px;
}

#home h2{
    font-size: 18px;
}

#home .motto{
    float: left;
}

#home .sharing{
    float: right;
}

#slideshow-container
{
    margin-top: 20px;
    float: left;
    clear: both;
    text-align: center;
}

#whatwedo-container
{
    margin-top: 10px;
    clear: both;
}
#whatwedo-container .box
{
    background-color: #fff;
    border: 2px #ddd solid;
    float: left;
    height: 180px;
    margin:0px 15px 0px 0px;
    padding:0px 15px;
    text-align: left;
    width: 275px;
}


#whatwedo-container .first
{
    margin-left: 0px;

}

#whatwedo-container .first .video {
    margin-top: 10px;
    cursor: pointer;
}

#whatwedo-container .first #video.overlay {
    background-image:url('/public/images/video_bg.png');
    width: 710px;
    height: 410px;
    padding: 20px;
    z-index: 102;
}
#whatwedo-container .first #video.overlay .close {
    background-image: url('/public/images/close.png');
    position: absolute;
    right: 5px;
    top: -10px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    z-index: 103;
}

#whatwedo-container .first iframe {
    margin-top:20px;
    margin-left:30px;

}
#whatwedo-container .last
{
    margin-right: 0px;
}

#whatwedo-container .box .image{
    float:left;
    margin-top:2px;
}

#whatwedo-container .box .title{
    float:left;
    margin-left: 15px;
    margin-bottom: -5px;
}

#whatwedo-container .box p{
    clear:both;
    padding-top:10px;
    line-height:24px;
}

#whatwedo-container p, #bottomrow-container p
{
    font-size: 14.4px;
    line-height: 20px;
}


#whatwedo-container .box img.icon
{    
    margin: 0;
    padding: 0;
    width: 40px;
}
#whatwedo-container .box iframe
{
    padding-left: 25px;
}

#whatwedo-container .box a.read-more{
    float: right;
    margin-top: 10px;
}

#whatwedo-container .box.last a.read-more{
    margin-top: 18px;
}

#whatwedo-container h3,#bottomrow-container h3
{
    margin-top: 15px;
}

#bottomrow-container{
    margin-top: 20px;
    clear: both;
}

#bottomrow-container .bottomrow-item{
    float: left;
    height: 160px;
    margin: 15px 15px 15px 0;
    text-align: left;
    padding: 5px 5px 5px 15px;
}

#bottomrow-container .big{
    width:600px;
}

#bottomrow-container .small{
    width:275px;
    margin-right: 0px;
    float: right;
}

#bottomrow-container .bottomrow-item.big img.pic{
    float: left;
    margin-top: 13px;
}

#bottomrow-container .bottomrow-item.big .testimonial{
    float: left;
    margin-top: 13px;
    margin-left: 15px;
    width: 440px;
}

#bottomrow-container .bottomrow-item.big .testimonial .open-quotes{
    float: left;    
}

#bottomrow-container .bottomrow-item.big .testimonial p{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 370px;
}

#bottomrow-container .bottomrow-item.big .testimonial .close-quotes{
    float: left;
    left: -15px;
    margin-top: 75px;
    position: relative;
}
#bottomrow-container .bottomrow-item.big a{
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}
.star{

    color: red;
}