#slideshow-container{
    margin-top:-30px;
}

#whatwedo-container{
    margin-top:10px;
}

#bottomrow-container{
    margin-top:20px;
}

.bottomrow-item{
    float:left;
    margin:0px 15px;
    width:300px;
    height: 180px;
}

#bottomrow-container .white{
    background-color:#fff;
}
div#living_with_container{

   background-color: #fff;
   text-align:left;
   padding: 20px;
float:left;
   margin-bottom:25px;
   width:920px;
   
}


#living_with_container p {
line-height:18px;
float:left;
clear:right;
width:450px;
}
#living_with_container img.kid {
float:right;
height:250px;
margin-left:30px;
}
div.living_with_text {
float:left;
margin-bottom:20px;
}