#login{
    text-align:left;
    background-color: white;
    border: 1px solid #777;
    padding:20px;
    height:250px;
    font-size:14px;
    color:#444;
}

#login h4{
    font-weight: normal;
    font-size:14px;
}

#login h3{
    font-weight: normal;
    font-size: 18px;
}

#login .login-box{
    padding:4px;
    background:#FFF;
    border: 1px solid #E8EEFA;
    width: 400px;
}

#login .login-box .inner{
    background: #E8EEFA;
    padding:20px;
}

#login .login-box .inner .form-input tr{
    height: 40px;
}

#login .login-box .inner .form-input .label{
    width: 80px;
    text-align: right;
}