#media_container {
    background-color:#fff;
    text-align:left;
    padding:25px;
    margin-bottom:20px;
}


#media_container ul {

    list-style-type: none;
    line-height:24px;
}

#media_container span.date{
   padding-right:15px;
   text-align:left;
   padding-left:0px;

}
#media_container span.file{
   padding-left:15px;
   text-align:left;
   text-decoration:underline;

}
#media_container ul li img {
margin-left:20px;
}