#nav_bar
{
	background-color: #fff;
	border: #fff solid 5px;
	height: 50px;
	position: relative;
	width: 950px;
}
#nav_bar a
{
	font-family: 'Droid Sans', arial, serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
#nav_bar a:hover
{
	color: #c9cf31;
}
#nav_bar .navitem
{
	background: none repeat scroll 0 0 #ffffff;
	border-right: 2px #ddd solid;
	float: left;
	font-weight: bold;
	height: 10px;
	margin: 5px 2px 2px 2px;
	padding: 15px 24px;
	position: relative;
}
#nav_bar .orange
{
	background: #fca230;
	border: none;
	color: white;
	font-size: 14px;
	height: 14px;
	margin: -1px 0 0 0;
	padding: 18px;
	position: relative;

	width: 110px;
float:right;
}
#nav_bar .orange a
{
	margin: 1px;
}
#nav_bar .orange a:hover
{
	color: #fff;
}
#nav_bar #contact
{
	border: none;
}
