#pga_container {
    background-color:#fff;
    text-align:left;
    padding:25px;
    float:left;
    margin-bottom:20px;
}


#pga_container p {
    line-height:20px;
    float:left;
    font-size:14px;
    width:450px;
    line-height:24px;
}

#pga_container form{
    float:right;
    clear:right;
    position:relative;
}
div.form{
    width: 350px;
    padding: 10px;
    border: 1px solid #dddddd;
    background: #f0f0f0;

}

input{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #999;
    padding: 3px;
    width:200px;
    height:30px;

}

.join {
    width:150px;
    background-color:#FCA230;
}
.checkbox{
    width:20px;
    padding:0;
    height:10px;
}

.text {
    float:left;
}