#slideshow-container{
    margin-top:-30px;
}

#whatwedo-container{
    margin-top:10px;
}

#bottomrow-container{
    margin-top:20px;
}

.bottomrow-item{
    float:left;
    margin:0px 15px;
    width:300px;
    height: 180px;
}

#bottomrow-container .white{
    background-color:#fff;
}
div#living_with_container{

   background-color: #fff;
   text-align:left;
   padding: 20px;
float:left;
   margin-bottom:25px;
   width:920px;
   
}


#living_with_container p {
line-height:18px;
float:left;
clear:right;
width:450px;
}
#living_with_container img.kid {
float:right;
height:250px;
margin-left:30px;
}
div.living_with_text {
float:left;
margin-bottom:20px;
}

.donate{
width:20em;
padding-left:10px;
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
background-color:#f4f4f4;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
margin-bottom: 15px;
}


.sandy_state{
	width:25%;
	float:left;
}

.sandy_state ul{
	list-style:none;
}


.sandy_state li{
	margin-bottom:5px;
}

.sandy_state h3{
	font-size:12px;
}

.sandy_state .name, .sandy_state .address{
	font-size:11px;
}