#Stories_container{
    float:left;
    width:960px;
}
#Stories_container p span {
    margin-left: 10px;
    font-size: 12px;
    color: #777;
}

#Stories_container div.story {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 700px;
    float: left;
    clear: both;
    border-bottom:1px solid #CCC;
}

#Stories_container div.story{
    font-style: italic;
    color:#333;
}

#Stories_container div.story .open-quotes{
    float:left;
}

#Stories_container div.story .close-quotes{
    float:left;
    margin-top: 45px;
}

#Stories_container div.story .testimonial_content{
    float:left;
    padding:15px;
    width: 600px;
}
