#thank_you {
    margin:0 auto ;
    margin-bottom:20px;
}

#slideshow-container{
    clear: both;
    text-align: left;
    float: left;
}

#slideshow-container .text{
    float: left;
}
/* 15 jan
#slideshow-container .image{
    float: left;
    margin-left: 60px;
    position: relative;
    width: 363px;
    margin-top: -10px;
}
*/
#slideshow-container .image {
    /*float: left;
    margin-left: 161px;
    margin-top: 94px;
    position: relative;
    width: 363px;
    */
    float: right;
    margin-top: 56px;
    text-align: right;
    width: 363px;
}



#slideshow-container h1{
    /*margin: 70px 0 0 20px;*/
    margin: 22px 0 0 20px; 
}

#slideshow-container h2{
    margin: 20px 0 10px 20px;
}

#slideshow-container p{
    /*width: 350px;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin: 50px 0 0 20px;
    color: #777;
    font-family: Helvetica, Arial, sans-serif;
    */
    color: #777777;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin: 20px 0 0 20px;
    width: 550px;
}

#slideshow-container span{
    color: #494949;
    font-style: italic;
    margin: 10px 0 0 20px;
    font-size: 14px;
}

#thank_you .bottom{
    clear: both;
    float: left;
    margin: 0px 0 25px 0;
    padding-left: 20px;
}

#thank_you .facebook{
    float: left;
    background: #FFFFFF;
}

#thank_you .twitter{
    float: left;
    margin-left: 80px;
}
