#slideshow-container{
    margin-top:-30px;
}

#whatwedo-container{
    margin-top:10px;
}

#bottomrow-container{
    margin-top:20px;
}

.bottomrow-item{
    float:left;
    margin:0px 15px;
    width:300px;
    height: 180px;
}

#bottomrow-container .white{
    background-color:#fff;
}