#header {
    border-bottom: 1px solid #777777;
}
#header .logo{
    float: left;
    height: 72px;
    overflow: hidden;
    padding: 5px;
}

#header .logo a > img {
    
    max-height: 32px;
    max-width: 250px;
}

#header .logo #powered-by {
    display: block;
    margin-top: -17px;
}

#header .navigation{
    float: right;
}

#header ul{
    list-style: none;
    margin-top:30px;
}

#header ul li{
    float: left;
    padding: 2px 15px;
    border-left: 1px solid #CCC;
}

#header ul li.first{
    border: none;
    padding-left: 0px;
}


#header a.active {	
color: #FCA230;
}

#header a.highlight{
    font-weight:bold;
}


#header a.highlight.active{
    color: #FCA230;
    font-weight:bold;
}


#header a.highlight:hover{
    color:  #FCA230;
}
