body{
    background-color: #FFFFFF;
    background-position: top;
    background-repeat: repeat-x;
    color: #333333;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin: 0px;
    text-align: left;
}

h1{
    font-size: 24px;
    font-weight: bold;
    color:#9F111B;
    font-family:'Droid Sans',arial,serif;
    margin: 25px 0px;
}

h2{
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0px 20px 0;
}

h3{
    color: #08364F;
    padding: 0;
    font-weight: bold;
    margin: 4px 0px;
}

h4{
    font-size: 14px;
    font-weight: bold;
    margin: 4px 0px;
}

p{
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
}

a{
    background-color: transparent;
    color: #2898E2;
    font-weight: bold;
    font-weight: normal;
    text-decoration: none;
}

a:hover{
    color: #FCA230;
}

a img{
    border: none;
}

ul{
    padding: 0;
    margin: 0;
}

.width960{
    margin: 0 auto;
    width: 960px;
}

.error{
    color:#E46C6E;
}

.highlight{
    text-decoration: underline;
}

.page{
    padding: 10px 10px 20px 10px;
    width: 940px;
    background: white;
    -moz-box-shadow: 1px 0px 4px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 1px 0px 4px rgba(0, 0, 0, .2);
    box-shadow: 1px 0px 4px rgba(0, 0, 0, .2);
    -moz-border-radius: 12px 12px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}

.left{
    float:left;    
}

.right{
    float: right;
}

.clear {
    clear: both;
}

#header
{
    clear: both;
    height: 60px;
    top:0;
    width:100%;
    z-index:101;

}
#middle
{
    clear: both;
    position: relative;
    top: -10px;
    margin-top:40px;
}

#navigation
{

}

#contents
{
}

#footer
{

}
#container {

}

