/cart/captureresponse=><br>transactionAmount=>USD 73.39<br>signatureMethod=>RSA-SHA1<br>transactionId=>189M1UE7Z2S66Q51GI4QSAKH6DHCAJL5RNG<br>buyerEmail=>brian.hector.robinson@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Mr B H Robinson<br>transactionDate=>1384793454<br>statusCode=>TransactionDenied<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>FAILURE<br>signature=>PRORtB9ME5U/WUYTbKzrzbAF0gn0Gmj6WELJ3+obHXT46Ai/STsmOKwdr/6MeqkHHT+owiW9NcQe
Tcu6riDWgLQvrOZ50Oxb2Kdd9PZOrPCEBrmOjBCl/VzlkUQ9k270bArHgf733MgJ26pnE7lzddyw
KgdV3irfvtyR/oUnMWHANjOKWoK9ihrR3x+W8cwEP+KuNl5Y2XJzFpN3frgM8MwF1bfPNytmcl6P
8FlJF340aggHb3WFFkxrHAVmE6PV2NxF0Qej8emjkV7Kkf/ZL80YUdUD+u8/zJH9fpHU/GSaBQqW
7VebPEmZotsfdmiNQvoLtWk8GCC4s+GxPUBGzQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh2w<br>paymentMethod=>CC<br>callerReference=>5a242696-5071-11e3-afcf-008cfa12d494<br>