/cart/captureresponse=><br>transactionAmount=>USD 56.99<br>signatureMethod=>RSA-SHA1<br>transactionId=>21384787733892BNO7OM44Q8QU6J4UERBBI<br>buyerEmail=>chenjie78@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Jie Chen<br>transactionDate=>1384787733<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>lsje4irh/bRGqQhixcPf55c7/6czHD+TojdWaBWRLbNsK3mtF680ogiEP81M6qPqB/0T94GhMsDR
ppjbdSAQmxP1vXZNyhFhO8uPGdqonSlGbOO+DZSxpXOfhu3q3kM1OrV7akLnAhVFhyYUIcHnJbw9
02ON7SE3KQyBmfDDm9JPVY//WYKyxB439X+ftwJmE32XmMYcGr0Bzp2wjbpahC2F44cL3X039smk
5KqF6IbFS6LrStr+KI8lRv2vqYdSLUQzpgbDComaKlWFoLMlkuuFKWTzJvzatYGwN5Ku71rmA07t
3BOGnB9W1pNx69oB5z892c2EMeFj6ku9iqxGpQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh2w<br>paymentMethod=>CC<br>callerReference=>12d59bce-5064-11e3-afcf-008cfa12d494<br>