/cart/captureresponse=><br>transactionAmount=>USD 20.39<br>signatureMethod=>RSA-SHA1<br>transactionId=>189LSH5IDYFJ9NCDDQSBE1D8J3SB3UEOVGE<br>buyerEmail=>aescob01@villanova.edu<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Amanda Escobar<br>transactionDate=>1384787777<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>MBXZdf2qO+sMTm2LFYoCg1ywr4T5iDMad1iE7KiqJ28dG80T2yDsVT9dxIoz553LDqPe8TmagTZz
mIsAokHUfdbtsdC3hSiHgZF2xXtxdq3xsAexwOm976hnk79W1SkP45F7IKnHyUOuyHV/ld42rCER
wifijsPaXnKTEvMUX+To+9tS1mKHFOevJHVHDhSHRdsRw2NN7iPQUpt8ePEGW4J6oWWZL1It75+4
5QjGEkU45Y2Am4ta7Njhz0fFsH8Z8cM7DXHVGuPoKQzd/j7JS4RvOqbTGe7ybKdTGpkqAF9J07ic
T7hgPhLInHFoSVyLAtTnEixG8iKfOe7B0We7SA==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh2w<br>paymentMethod=>CC<br>callerReference=>4830f69c-5064-11e3-afcf-008cfa12d494<br>