/cart/captureresponse=><br>transactionAmount=>USD 20.39<br>signatureMethod=>RSA-SHA1<br>transactionId=>189LSH5IDYFJ9NCDDQSBE1D8J3SB3UEOVGE<br>buyerEmail=>aescob01@villanova.edu<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Amanda Escobar<br>transactionDate=>1384787777<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>aLankw+ZrITDWT8J63PX0TBMuwbfp2XUxkzwVLmBxZC0iYd1WT+lBRLKBj2yzeyKkvPgQLEFoZX7
YUZf1xGCSSLvXn1gG4XvkXMAxc3+KMyXftkcuLSn4mSAecYdO5aDf8Jh/JB8C2Lrm8hu8P+JyWy1
1Rcb1Hd/en/gWz07C7Fx3SIZ8iRQynkW+WvDjOeuIep74+sQFcmjsJVtLrhlJr4DGDuh4b5PjFGk
zzsZZW3OSLHh05RVrAmdFMdEE0c8kB5xoLUbjSk7CBaUfTP17Dz3oQYdW96xNNF8+JA0BmXzTdZj
Xw8PFVWzPMwle1WDXfa4KpOfQftXkGW84Rm+YA==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh2w<br>paymentMethod=>CC<br>callerReference=>4830f69c-5064-11e3-afcf-008cfa12d494<br>