/cart/captureresponse=><br>transactionAmount=>USD 56.33<br>signatureMethod=>RSA-SHA1<br>transactionId=>189M2HMDJ4VPZU3EL7RHEB6N8VHGF3MZN1R<br>buyerEmail=>ipaslawsky@yahoo.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Irene Paslawsky<br>transactionDate=>1384794085<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>aBizLjCf8fFGpvaBffTz8SFoE7/u0CefCrD1e7KBA2OUJPbmuw5ssS8lMtKE/uvmtV8B7O4f//gw
SQGSMpFkWIoekVk1xZWJ5ksr5yTwK7241fxCcB2L5xboihlZXMsqmjXP+yw8Hjzpz4wEKFHKSt3+
br35jjR55CSqhlNPU5VOfVzdJ4vWH6setaPCrv16eiOiUnSoIS79Hl3m2ZBvmzvWcLDqNzgxPEKN
6+KBBhLvxHvhTMZfDv6b9RojBshX/miupuA0kFbCpnTmq4gKZj8KOP1AflYPXbJDySre650eVu7S
VsytEn1m5uD34fNRjS8ZJnmjfLIMd7OU5TSeGQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh2w<br>paymentMethod=>CC<br>callerReference=>fd9335be-5072-11e3-afcf-008cfa12d494<br>