/cart/captureresponse=><br>transactionAmount=>USD 55.26<br>signatureMethod=>RSA-SHA1<br>transactionId=>189LS1LKF51HT3BTU958T5FO4AMN181BOND<br>buyerEmail=>belencaldas@hotmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>BELEN CALDAS FARINAS<br>transactionDate=>1384787269<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>D63/pzxKc907zxTuIqMQEdzs7aaQH8IzoqGlyzBxC0H+25XdEDqiU/gdI/FTm5yUIxXUg4jSP99u
/BzsQgmwjFoXZFDepq+E3LtbVOGe3Yz+3M+sHbft7b44AzjXXGrulQhIv29F8g1D/oHSjGDd4fd+
TC5Q5rXl5LwUQmbLUOjO+9vgeX0kiiUSwZNtezY/1Lsz9lH74sF8eQxG6q3kUmRtYqWliF8UXXho
8sgcYIkOctPzOEkCqxTwaGImSxTB6u2yjt4jDhQ4tZvZfg+B6Cmjie5EG9dqnUuySvPJOgYLpiDC
TpZMXTDh9ULOM7+zcwUwUM6W4iycdwz36wVdhA==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh2w<br>paymentMethod=>CC<br>callerReference=>18298eec-5063-11e3-afcf-008cfa12d494<br>