/cart/captureresponse=><br>transactionAmount=>USD 23.46<br>signatureMethod=>RSA-SHA1<br>transactionId=>189LS4V6F6D73DMHVNR4GK12CS8O3MZ9V36<br>buyerEmail=>drucksm@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Mary Drucker<br>transactionDate=>1384787377<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>oJq3YskvyI198kJOW/2Gkc6rVaemOXKRzaJjBvHXuT6X388wQcbmB/ewwdATBWI0lNgsoaVvQBG+
sRG/1ZgU1D4UsSuyLdCIbs/uMwk6u8gURSUCHY2U7me86QNUpjtTJ0g14E3JPap7U6OmwdLXjqNp
FnUgAWUVLaqzH8P1q56SfETVaHRkjzp1IcgqDmY1cptL0+Vh33YswuNOnjOLFLrv2MtSrPoX8vx/
WCERg+Z9Z0KxS3XwIwMQ6KK9wtmuKFwM4bg4IS5jtb2F4G3q6gdzCjnkGY0NYmaMjcDzF7rrikxt
9lsenYll3LiUja4D76R0QaYXX9PAKDNdXD3bww==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh2w<br>paymentMethod=>CC<br>callerReference=>3e826f28-5063-11e3-afcf-008cfa12d494<br>