/cart/captureresponse=><br>transactionAmount=>USD 14.84<br>signatureMethod=>RSA-SHA1<br>transactionId=>189NTPMUR4OBFHT6VKZC2RAG2VVGVH8VAKT<br>buyerEmail=>nadia.lamniai@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Nadia L<br>transactionDate=>1384856214<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>pjB6DpDecpFRBGRLu/RIZBwN49f3omsm/pfUqsIfThlE1JJlXsUYmhtvIcbBo1Kk3J69cJwScRbI
QKhjR6GwpLRivm1ROH14FY/TiPjzGDGbGJDdei95ZaGFletk+hQHXLMsRJCsg9o1Ulj0jIDiPuaE
eWsgG1E0tvC/9KhdyEpBYYacCAFFFDPS6VQ1UxmwmH0pjZINpnKo2RJBqTvK1ZPu/y8Ei1lc9fOg
SJ+EU+2p3uJfci1hrolWXGBnewK0va1ofv/rY8GpgNVyVCq61/hXl4qPSC/8agqPYaoNBus0fyHR
01eye8vj1l4OKKAs6I5rsloCsM3p7Za0eeO4HA==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh2x<br>paymentMethod=>CC<br>callerReference=>3dccc452-5103-11e3-afcf-008cfa12d494<br>