/cart/captureresponse=><br>transactionAmount=>USD 48.29<br>signatureMethod=>RSA-SHA1<br>transactionId=>213847874287523HIT9LC2FTD7AE421HKPK<br>buyerEmail=>vday@plitco.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Dmitriy Plit<br>transactionDate=>1384787428<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>n2r8dJJ5PRcfn+3yv7CQDn+SJ5DflDQ2zJQ03QM6zk17ptp5xfO4yv3+d4UJx7s3EUIlZVLFmXxF
RNuN8x33pAua0prphIEtogAomTLDmsmWZFwT7zlnNZeWWZ9BOXXYMkvArj0OKoymDb92opBp4Kf/
xR9T/4R+syQJRY4enhd8i+GAwmpWamlIj46MZ762Bsr8hJc9Y6+MrhQNAX7l75MoXNw1BTsYbUwG
gmlb0jsqFmkBVKXrGTaZoExX5pw4vRovWrfan2eZSkvw1xFDegFgZQgTcPf9ZzXqsrI3NMlKdhAF
IWHsrtvy40pOJ6Bs97oD5eKmyTUDULgyiVhX9Q==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh2w<br>paymentMethod=>CC<br>callerReference=>7124e776-5063-11e3-afcf-008cfa12d494<br>