/cart/captureresponse=><br>transactionAmount=>USD 75.68<br>signatureMethod=>RSA-SHA1<br>transactionId=>189MO9B7F4ATJO1EP9LL3CEKC7A6U8NFFM1<br>buyerEmail=>yagmur86@live.de<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Yagmur Ünal<br>transactionDate=>1384816880<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>IetjeKNPrJGOYflHm+kNzDH7p06iL9m5sDw5Z3B0l256tZgnUkM0sTtZgoMfRD8UT8CAfyPBOo4S
+ahPScukWRnLEvnDXBCkFWDi7eYzkRxHSgyodtKHp6PP5IfMkTg657hC4mkcx1dOda0+d97L4Jgp
ErygWjh8Zu6o74cyxU6nXHdHt36X2/yRom05zfcbo2UrR3vpMN3V6KoYMCO7Y1alJrjgo71/YItk
tw9QPzYzL11vzhYPF0NdXJCVjANKdbRsMOcfk33sqU4FPUonYmYCQzMFfoRAjXKMfxfpUtMUAkfG
okNiDhyMb30V2CGgteuUtoLKd2vMtwCuYuMb9g==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh2w<br>paymentMethod=>CC<br>callerReference=>0dfab118-50a8-11e3-afcf-008cfa12d494<br>