/cart/captureresponse=><br>transactionAmount=>USD 63.53<br>signatureMethod=>RSA-SHA1<br>transactionId=>189LU63A431DMD53OCOG88IJIKOSTVMGJ5B<br>buyerEmail=>kmendelsohn@verizon.net<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Kimberley Mendelsohn<br>transactionDate=>1384789511<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>QZs10sMBe3kQFAOTSHq6JsZjioeBq+EzlwA9tB9hBIijP0MBcNDWn7X4WnLE9YQmqk73BiaZC1oJ
yCFzOZ2cXGNRFLmz+GFSOLGCwRmDgxWifcyjBji+9eY51OTvN4AtWGMU8I/ebXH32r0DV9l4Mpgm
gGw+qhI1uPsZ5ee0xtRw0xzUDTefQAns560okNG7cCAtNXXNXdRSZlZpsZ6IZcSKk3Lf4iAkrgTP
Eus0V4ChYmYVEBcg8IEYOXREXYwJnD+05Oe/KWDu1oR6oBHCsUtz7byUgYMxarL5dBItef9fEOPl
JYnibsD5TE8fD6DrS/fwMnHKdsVRHugvLevlDw==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh2w<br>paymentMethod=>CC<br>callerReference=>42c46f94-5065-11e3-afcf-008cfa12d494<br>