/cart/captureresponse=><br>transactionAmount=>USD 75.68<br>signatureMethod=>RSA-SHA1<br>transactionId=>189MO9B7F4ATJO1EP9LL3CEKC7A6U8NFFM1<br>buyerEmail=>yagmur86@live.de<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Yagmur Ünal<br>transactionDate=>1384816880<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>BCnwFn9UmZNrqs4mZzrIB1KPFV451K0pfu7lPoliKsnx8llazSZTGwbSCZEd0vU+CGPDFQhre7/E
u0gI4as/wZVw/BkUti1hzW/TEC2JrgRVyu2x29I1q7j43obC1WvF/AXri+5pH6py2FEWRkSfsCqU
oueqXGQCLfcp5N5mRvPj0aD+2O6I8sNENIjbxnNkf/LswboKJL0ykr3UCXnf/O5SRFOMqHw3rJTm
/d4A9VGiTyBZ/kkhpU//oB04t2Aug4NqWsnb0NyTEiIX0AUJhiINfi0/KsrZMHx7AJI4eQxaP0No
eg0d8QER8+9S0SnSbCIIma6kIo8Fsk9sb1BhzQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh2w<br>paymentMethod=>CC<br>callerReference=>0dfab118-50a8-11e3-afcf-008cfa12d494<br>