/cart/captureresponse=><br>paymentReason=>Donation to Angelwish<br>signatureMethod=>RSA-SHA1<br>transactionAmount=>USD 25.000000<br>transactionId=>18AINCQ517AKABUC8H2V85LZ8G7HJU1RV62<br>status=>PS<br>buyerEmail=>marika.m.makela@gmail.com<br>referenceId=>Donation to Angelwish<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1385755469<br>buyerName=>Marika Makela<br>operation=>pay<br>recipientName=>Angelwish, Inc.<br>signatureVersion=>2<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iyyc1czzt<br>paymentMethod=>CC<br>signature=>B4IOqlIQRHFqFZGrxxDt6Pu2WSsQNRXFpZi26HLxeFPnE3/cpoPWulSkSTXpuntm39Dp2gS/t8CD
EjLUNU52dLplO+YfvA/IwvH4Al+GPqLfFODFyS9AkIuAIQUeHiI9cpG99lAb/Yb0WiDUMIudCHZl
8dAFou/w0oC3QaBd038hKnCjdId44+syq45OchCIvL/snwq8tLsNWeOQA3NV1HP621FzqMBudslu
t5DUVIc6WYIPDvcyuwLge6N/AavjMHwlks1NVo2bSwuGrQINTqAk7uqOipNbUK3yU324d/wFtMv7
PyWpUszY6tKQ3N3TdlZ+oWMrq13m8bKizmthkg==<br>