/cart/captureresponse=><br>transactionAmount=>USD 55.19<br>signatureMethod=>RSA-SHA1<br>transactionId=>18A863ZM933EM6U1GNGLQJEP7HQI6UCVZOF<br>buyerEmail=>melanieham2000@hotmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Melanie N Smith<br>transactionDate=>1385401778<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>LhQDQl/zuhwwnLvCho2YCkRXJ/phBSSR0MscMSPseSzVbIiM+DEEittgoF075ivEYwlhFAKmZ7qi
ch6UbWYyA9VXNEuk+Wg8LXrUTPdu3SxLJ/GGT384HHqWnJHekwF+TGWx594P5E4gVZEVwbqm2Bdk
PJnjDb5XzcNwf2KGeX/QDDYps3PGjeqZGvVSdpVAAbJFaLbtbTyjh+rDdjRAPv2Zcy/G+IY+Fo8N
Z+0w8R8K4EH0mlImzuz46WKG9OyPjmnDTT382BI+amlSpIAcKRcJkFtWn71GUlnYAhbNJdfSyDOO
mr/dAEhbm82zPMi02ARw6RpgzVTGeSM8P3UA4A==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh9x<br>paymentMethod=>CC<br>callerReference=>7ac50a2c-55f9-11e3-afcf-008cfa12d494<br>