/cart/captureresponse=><br>paymentReason=>Donation to Angelwish<br>signatureMethod=>RSA-SHA1<br>transactionAmount=>USD 25.000000<br>transactionId=>18AIABTN25IQ54FPNH1FTEZQRNM2G25Q3G2<br>status=>PF<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>referenceId=>Donation to Angelwish<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1385741809<br>buyerName=>Ravinder<br>operation=>pay<br>recipientName=>Angelwish, Inc.<br>signatureVersion=>2<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iyyc1czzt<br>paymentMethod=>CC<br>signature=>nb4I8DBl50jWwmeSFUuZMbgfztdOPRfHTej7mGYM3v+ZlsXKsGPeb04x/FtODnhUbyxCLKmigDvh
5SYRNBEqON6SH1bmOt9TOjE/NBjMkIycW4E7XA8ebcUug45yUmpEW6d0XzXOfe6x1ILfOU6Jnt8u
HJ3b/7DSP7XWHKJUenIRoP++PupQowYHzf2u03aUQ9VBFZPpsalUk+NNfjj2KD7Bi/WIDsmJiDwn
DPIRn6hyTsPno9qISd5EzNCQz+v6QfkaIUmg1d3PMxHSJtt6krVn8Ry4Rw1+U9oUarkafL1MhzMv
1z7Ro8VmrvqQlnP0NCwE8JQh2teddlScNmlUgA==<br>