/cart/captureresponse=><br>transactionAmount=>USD 24.83<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AOCQKMR5ZFDZCSD35OIC8QGK57QKOMNZ2<br>buyerEmail=>scottmargolin@yahoo.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Scott H. Margolin<br>transactionDate=>1385945715<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>FHKdG45fiAOjiI15+P2zkWF5Z/CRsbqOcUR9nXwrYw2fLgtsLh2FK5r5Nl6ANW4oS8Cfxl/UGI3q
uzOH3NkB5LAba1W/ThBVztGG4psinYA1hx/AZXjJp0Hl2ydpdwofut3c8lGUIFehNWo9TCCOzY/8
i0AHrBvfGWHy9O7m1SGNfHpBqeUFg7yn4Bfy5xty0IVFQ97eQ3yCGI+NdwQySCgROi2Ha0FjFKtu
SN4oHY7L/zRuVeu+UMLmFgvogKGPycuYs8mStmlGh5eUPwRxHJlmy1EwBCX4iphbO7nuU5vfSS97
NnPiuDpCjDd+CtUuVHVXWqfZgB9qXyhR0eL+Ew==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg2<br>paymentMethod=>CC<br>callerReference=>563bd45e-5aec-11e3-afcf-008cfa12d494<br>