/cart/captureresponse=><br>transactionAmount=>USD 19.14<br>signatureMethod=>RSA-SHA1<br>transactionId=>18A2VMLC87GZ4JG4V27AGSJHQDVRH1KRJQ2<br>buyerEmail=>nanzi124@aol.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>nancy andreani<br>transactionDate=>1385227310<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>rMAftMC8KE0BjuKGNO/4Aq1ikVfhySHpfpkhXExFH3v9uqaXfIvGbmb93nTFuKmMQ4swlziYDsRq
PfP3f02eoTgEo68UaBIMWzaLU7B9DBx3RoZxFRW+clnSiwlPY6CVsJRKcVOQHbHHU52fgkYMmF+Q
lEo73LTuBkZhq4abXCRXBSjFKWN2eeVnD8MnOI1meyxwRWKACRSd3rMi6wlO9jieIB44QDNNpadP
JRp4uuIWzfACXPzAn+ezURO9u9EdeYteaPfzMCqrtgGgN9ihOL5qBvQd739/ZTUzHZtXbDjUUmqM
a6cY8h1epRYH6VU3BsNZOK2xx+RLKpDFS29i8Q==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh9v<br>paymentMethod=>CC<br>callerReference=>b1326d80-5463-11e3-afcf-008cfa12d494<br>