/cart/captureresponse=><br>transactionAmount=>USD 19.14<br>signatureMethod=>RSA-SHA1<br>transactionId=>18A2VMLC87GZ4JG4V27AGSJHQDVRH1KRJQ2<br>buyerEmail=>nanzi124@aol.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>nancy andreani<br>transactionDate=>1385227310<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>MksxHQbW2D3V7koZU85IKF4d7/o1N7DqF20FuzoMwr5ZGh1YYRWLrpc4KoVGDijUAH6ldD8rpk61
c8ik/sz/TD5yzHSS6tv8Jnzx4AuuMj0y4tt4y1tfF+KJISo3pfa+yjkUXd++lfUz2VkAO2KW+Utb
DG3JleGMuKe3AGBpysvL1isSovChQKd/knJi60e3Kkv661qoVCxlUTPPR1lXNytqqFX4ICFGa4I3
nvKRgdbsw4INVwLuhIq9OWP6KLt/i9/KYZPS8qLUjLknwKsH0NJZU4TPjUepG9Efol3QsgJ2l+Q5
0EO4VxOiRlHeIYxEdMh5ExeCvJqMZsvBldTpOA==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh9v<br>paymentMethod=>CC<br>callerReference=>b1326d80-5463-11e3-afcf-008cfa12d494<br>