/cart/captureresponse=><br>transactionAmount=>USD 50.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AKFBEQ8TRPFOGPSAUZIDZUA3EQ56S3O8K<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Ravinder<br>transactionDate=>1385814145<br>statusMessage=>Invalid Credit Card Number<br>statusCode=>TransactionDenied<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>FAILURE<br>signature=>OqN+SqN835wzpZBDDprKjwt/xbnd/ks5YrZxAEoQXafAhK+t2Ypm0Ybwq18RtHDeN43XDLZus3Rh
OqpQif1IJP21fN4RnbVz9gD4NMw1VIGdu9U+QvhalmItT2FHhqqVQXPncUVJbv5H9T7NO3F2BxjJ
o20ygabALG+AxcHl1x3xF9YfNvbsQvnjl8m72VjeqIQ+1YAk30Eb47wkWbtVh39dEeoX+VnH8tIZ
EXFbN8oa9zRhfLUcqLvO2SKChkCReB9T1Rq435LEXvBEJq1Jk9wRkUTXEXcbMTFKiwGgnadPKrrm
ntXM7vAaSt24do+MSVqR9243W5MJb4oohSI8Ow==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fhgw<br>paymentMethod=>CC<br>callerReference=>ec310ef6-59ad-11e3-afcf-008cfa12d494<br>