/cart/captureresponse=><br>transactionAmount=>USD 23.99<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AAECUQ82CBI14P56KD1I1DPE8DBGGTKNH<br>buyerEmail=>dwaynelogan@yahoo.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Dwayne Logan<br>transactionDate=>1385477602<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>XEAmFXTUwX6q4s61hedwQ5PMWLTF9OcWgFZWVKslH+R8vWYHYXNsmtEZOinuVuVpKC3M+HvOKhwB
Finj2Jh9HiC88vkR7m70P9m9cM9m85H6tp5K+cz+Z7TeUUWn9g1bGIQxvk432FjiLhSZpJMGmxTK
Q4F3YzN+wtCHbJ+4BLUvsNGpk2rTiYKNiPTrHnAjzAL6nJ05Dj/9Ojyhw7Y7MZ9LPB1MwNQjuv+x
Y6I+/cWcAYhKfVSs6wTWukt9ERB4LRTzlpQaadhWoINSPGQ3tn5H/+b1mymF3GKivQy2Dow5myPj
w6BcKeKmEem5cfroxAdTHxg+vbRk3g1YhqJn4g==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh9y<br>paymentMethod=>CC<br>callerReference=>620fd4d8-56aa-11e3-afcf-008cfa12d494<br>