/cart/captureresponse=><br>transactionAmount=>USD 23.99<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AAECUQ82CBI14P56KD1I1DPE8DBGGTKNH<br>buyerEmail=>dwaynelogan@yahoo.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Dwayne Logan<br>transactionDate=>1385477602<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>M4lMrcUSBjSVQJYp966ua4VTMJg/IDg6nVv3QL55QJjd9xtiOi+raRJN/9nWyqoBK0r7qkVD7V6l
3oP0Vj5BxkynPKGLZqfDh3iyayZe1VSg1kv3IrufV40YJPR33PMI6EVYm+R1rRR7z1GAzTWH/wMe
Gz0mENBhlAVxq6n6vvdIFX6HZvZZ8gx2TmI93qUtyef4z3rstuTan1yAq1NH0f6HRFB66WEujRYz
XFn2vbwM/qVv+6xmvkfctePICL03x7cZwIJeyS7SoFzWzPxNwN1qt9KiTj7bz8pf+0makA5R9aU/
kQv+yi+f0pUMhOiElEjcgyRILOnd1pnHi8b7Zg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh9y<br>paymentMethod=>CC<br>callerReference=>620fd4d8-56aa-11e3-afcf-008cfa12d494<br>