/cart/captureresponse=><br>transactionAmount=>USD 24.83<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AOCQKMR5ZFDZCSD35OIC8QGK57QKOMNZ2<br>buyerEmail=>scottmargolin@yahoo.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Scott H. Margolin<br>transactionDate=>1385945715<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>rQgiy0LIsN5poe+vX5rRsI1aNT8az+tFYq9gQOUtPG9fCrKvL7eRx4SfKZvrLtxtSbNWM27A5avE
JK2ZmAcfNgVxKYd6rQS6ErEezWRHu3hVbaLFzOJcgXaMrROZxJnC5y7/fmUX4xQQIVvwg7kJDlV1
DI0QXQTTbJgOsua3uV78P0AuSkL9F1g9x7vw24PvuAdu5+bWq5AEHU1CqKWmdz3yV4B8FUr1Uz/7
k7Q8o71B0axaeJ7ZCFgNT7W/nab+1EN2bm9XQPx2EefExI0mTf8rgYjheQ36r/HWPf40NwtbIfh+
MSXSbwei4ozzMax/bzX+rR5ukkpHXOWmb67Rjw==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg2<br>paymentMethod=>CC<br>callerReference=>563bd45e-5aec-11e3-afcf-008cfa12d494<br>