/cart/captureresponse=><br>transactionAmount=>USD 27.59<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AOD17R36GCVC9R2KZ44ZZA1DLK92LJGBP<br>buyerEmail=>scottmargolin@yahoo.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Scott H. Margolin<br>transactionDate=>1385945931<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>fdMT7vS12MwzM0Lq7zV1oZ+qqTh0lRpsE2i38johG2LfoB7sQbCfaKbiUgYMppWdJQh9ZkIz1zx2
IE8+Mi1LcdknwLS+iBcvcx2JbOWZmU2uXjiKfWPLyyQrOwUf12Bs4LXqwQL5MWInDn4tLZaeyXjb
7osmPiN72GVQhWfUhoS2ezvuhRidVBeUwTu+JkWEy4N9IYoOj6iriXfLS/Po6trGqAduJYTvjEzN
vujuca82gZV0YDQqlg+O1Grz+RxZ703aKMtRySCBr8bCTByCvfBD1MaUrXlq1kP7iImhBF/frJa2
TtP8M7lrEmn6F0mGobMdlLVzomjAyxFl8pjqcA==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg2<br>paymentMethod=>CC<br>callerReference=>dc9696ce-5aec-11e3-afcf-008cfa12d494<br>