/cart/captureresponse=><br>transactionAmount=>USD 20.39<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AAKMUM9RDVL1B9ZTL8JNJEL9OB2UNON3C<br>buyerEmail=>ldk430@verizon.net<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Donna Valentino<br>transactionDate=>1385484221<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>WcUDBdPRw6kCPsSaEXNYec3as610FO2zo7GL2QhVbNOzzbk1S5XafKxce9IM6f4/vFzSW3zCVB0V
/7TMpUIlb+JTs0qPDjJj4AHLiR+VMnhtZ0+qdDCZpDF4mDV3pJdRuxAAu8o7894s42ly6Qxwh8kf
gtvnLErPIIrQ6hZl9gjbPPXiTLUvNmmEOjNm93ftu+7Rq+yk+1/U+Hhq7N+g55ADwYhrvD9DGlcU
JoQdcT4SGBbWkQAo+LH1TtOPv4CHTRv46QSkGI85IK5n/k3cUKBST5Khpn45UXI29XLxzko8NdMa
7oxCbqrIil8VKn/6Gf10snOsrgm+b9s6uEjS6A==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh9y<br>paymentMethod=>CC<br>callerReference=>d464d880-56b9-11e3-afcf-008cfa12d494<br>