/cart/captureresponse=><br>paymentReason=>Donation to Angelwish<br>signatureMethod=>RSA-SHA1<br>transactionAmount=>USD 25.000000<br>transactionId=>18ALLGB5H51K2J6JJZD21KPI8Z4BS44ON47<br>status=>PS<br>buyerEmail=>elizfougner@gmail.com<br>referenceId=>Donation to Angelwish<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1385854151<br>buyerName=>Eliz Fougner<br>operation=>pay<br>recipientName=>Angelwish, Inc.<br>signatureVersion=>2<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iyyc1d06o<br>paymentMethod=>CC<br>signature=>Du0oozwbAHm+oQBgAPanvxiimM2nw9pzK5FxC8DBmbNeG4Ynau9W/UxCTb3y8E6U+a6wenFbA9p/
p5my0IRsODGHUWwk1lgDXccQQqnATtdCeagZmJqGuyKkTIxiq3g8NgSUuQSRgkShYH4s6gFCMPSc
Aa2Q1hbo1bTtDSp0/icuTKDoCGUfWM0/tThEwefIGJpfAzE5n7jiauRCkwEg6GX6lMdgKPRaU91O
0gS+a+aV+Dqoq2McOyjtcxXYNCyVceqWzSBjO5VhQfOYFC12Z9QXtRcfvk/4022E7dtR0gUtPhfo
J1hN+E95DIXMAkqCWhzaCUNaiTeGB+bJvW55Gw==<br>