/cart/captureresponse=><br>transactionAmount=>USD 35.97<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AD3EC32AUKHL874PGVZAIG3I2K22Q91GC<br>buyerEmail=>polina.fayet@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Polina Pozharsky<br>transactionDate=>1385566777<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>mjBu0EEU2bpuqaDVYEq/VV4Fu485+fBI/mtA8sR+kHzfe4clLB3MONd1zJtlNGwUgAFFp+BhDBQQ
NY+nub7vfDlvd4bRxRDsqm65X2BKfRXcqJhmC5ynHijEelPB6ghutBWwhzv1bZ0r8jVK7bkzlfvC
gWAPlskY7f8ZA+F+ZZaikYaZEvPzXZWDSZhDYItiWK51lw1Yvf6TVZLlOWw4P2owqbVbwNrnAc0N
Dgt3i46vquFrBPSG3Kco/UCGSunSWk6lpva1BXjqeNXJTMNYloZRQVsii1QlTJ4FyheiDbT2k6Y6
HNG937OlPMt26pDayypT98CZY2LCz6Z42rTyUg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh9z<br>paymentMethod=>CC<br>callerReference=>05f5cab0-577a-11e3-afcf-008cfa12d494<br>