/cart/captureresponse=><br>transactionAmount=>USD 20.39<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AAKMUM9RDVL1B9ZTL8JNJEL9OB2UNON3C<br>buyerEmail=>ldk430@verizon.net<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Donna Valentino<br>transactionDate=>1385484221<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>KGqNIyXjodPje42NmczFKgpdfbOvxhpVshoLIwS5x9sEg1ckSoYzVOOd1Ff0IptANYjQi0lNDptt
hAmfAqmHcPd+mNJ1D2wtDoYash+JPpbg+y4FfFKOx8RTMxU6NyAhxrbolmslfvgq7jlXWfCu1uk3
CaaKrgzNLllnogqqMjGwb+CIQfyWqC6suk1ZV7V7DgBWolKEQmrMWyaF4zR4xIY6mAdbPKzUTvGf
5Ij7vNQvwpOc4SwtE6heWZKNfSeG8se3kBXMWwlQnV5d8sLR4oaqjjUCNXHm8rEvsde2GIPR19o4
93MQaZc2iJlQ+xPdsviZeYYl5FmQWG2VCsX83w==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh9y<br>paymentMethod=>CC<br>callerReference=>d464d880-56b9-11e3-afcf-008cfa12d494<br>