/cart/captureresponse=><br>transactionAmount=>USD 55.19<br>signatureMethod=>RSA-SHA1<br>transactionId=>18ADQJFTR5ABPOSKIS68TVFKKU538LVVHMS<br>buyerEmail=>rblavat@yahoo.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Ritta Blavat<br>transactionDate=>1385591062<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>XAuVX/7BbLHjlpYbiFWcl07uwmt/Vz8WlzuBA3xGq2pMPjZSBYf9aVdzrETTFdX1WZeSl/TL64Zk
YEQDolmgU9lPFIvCKyb//bg2DsqIitYHhceIH8cDU/mwC4ci/VZ5Bjft1yQB1XeCg7TJFyalu40t
D3FOnpgbnewPRp0O9CI/2oiheKgVzYVYI7Hx55KAUgHY2l2eyqmzou/ri47GHg9dsURBtqPytSqO
Xvh63g6EDqmjjMoAghpFbCb+qaA2fM7+o1/R8Rh8k8b4m1vstckmxn3zrq/MQCb86NjNJFSUqB0c
WEwWvus2vgDFYiqg4cUCCcO/W/VyLCmOsZJ4ag==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh9z<br>paymentMethod=>CC<br>callerReference=>6fcf92a8-57b2-11e3-afcf-008cfa12d494<br>