/cart/captureresponse=><br>paymentReason=>Donation to Angelwish<br>signatureMethod=>RSA-SHA1<br>transactionAmount=>USD 100.000000<br>transactionId=>18AAUL4FC6J7LH9PDUCBEMT8DAQJKBMANLM<br>status=>PS<br>buyerEmail=>mrs12@columbia.edu<br>referenceId=>Donation to Angelwish<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1385494647<br>buyerName=>michael strange<br>operation=>pay<br>recipientName=>Angelwish, Inc.<br>signatureVersion=>2<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iyyc1czzq<br>paymentMethod=>CC<br>signature=>J+WBGLC0prnxfpKneuxXrGaGIzxZfThcurw5j9TTaNRsETLoS4xXvmnZ8Hw19Q36TohOBPEHvoT5
FZ/4OMnlAS0YjDAbu4TT3+IVnB0TkTWFT+Hlo1gXMQQ48JhuoX3KW2/4BrUCPzg1zPGnU3oecT0n
cce83zuO9AyWAEY2qpXR2m3uFtvQpbTbI83408bZjCaQ/yOM1c8Vv+azhKO0F9hOZ6vCMDPYJZsl
QP7hUWHTSySx63mqt76xNS+muPX7JAlwtw2Q407AwHjuzQ/G4o39NGz0jB7urnu7nJLUgIIct3pX
9aXYu+dAJrV7+wqc6y69VpeTFDb33d1h9C6PMw==<br>