/cart/captureresponse=><br>transactionAmount=>USD 55.19<br>signatureMethod=>RSA-SHA1<br>transactionId=>18ADQJFTR5ABPOSKIS68TVFKKU538LVVHMS<br>buyerEmail=>rblavat@yahoo.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Ritta Blavat<br>transactionDate=>1385591062<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>h9z6m56m9knnvAFWe5oikIly1QfGBvN3xVuGefG0nskm5LWpwZaUkmEL+MTXdZdPFeHkTysyBrN8
HJ9mVhKrZiaKMTbezUbMEDjQasiFLergqQU1TCJIyA22FipYYhQWsPK/sgvCOkHake6d1toto0QL
REQjxiv51nHLcwJo7tk8NtQCwgnpaO4JJ+4ZIY8PaEdvu/7rWq3V+2F+RkisHnWLbiVLkJZxutBf
VpN6UC58yNnh3EA3hUDVaHofWnW1VXR509xHGWsP1trlJysInWDZ1KOcHAc7s1WzHqqwJA74eJsi
lmnC1PxmleCnPsOqc67h8qKancKNF/TIf59b9g==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh9z<br>paymentMethod=>CC<br>callerReference=>6fcf92a8-57b2-11e3-afcf-008cfa12d494<br>