/cart/captureresponse=><br>transactionAmount=>USD 55.19<br>signatureMethod=>RSA-SHA1<br>transactionId=>18A863ZM933EM6U1GNGLQJEP7HQI6UCVZOF<br>buyerEmail=>melanieham2000@hotmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Melanie N Smith<br>transactionDate=>1385401778<br>statusCode=>TransactionDenied<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>FAILURE<br>signature=>CTzaLoo79/xhyKDU/fYUP8KeQfsM1csknB07cAYnIdwALwyL0qeb3n+fxwvOgnsnUhV9W8rDojGe
6MH6WAY5XOP2cCp04nMXV9mCbA5zHXxChU37IjEvzAufWBoTTBT3KQt+Msj6UFO4hDHHb7sdHIT3
jj48IeoMxLeNq6RKa35RA+NPkvmzQf+8/hAbNPEAp79dzL2NvPM+7W2+81WCMBgzNEWRyaMmoZ6f
cpf1HMQ2kWIeLH3r/VRxYQ8ni5JkbhcC+fpN9Qnwzzy39hz36WQsuYSJEkkim+BOI80tJo1elW+r
h5L5x6IovA09AmQ9WKl5p8xEc74sW2ko6WJZ1w==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh9x<br>paymentMethod=>CC<br>callerReference=>7ac50a2c-55f9-11e3-afcf-008cfa12d494<br>