/cart/captureresponse=><br>transactionAmount=>USD 50.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AKIPJE176PSKSD5OUBG36A5TQ7EBAVD1B<br>buyerEmail=>shimmy@angelwish.org<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Angelwish, Inc.<br>transactionDate=>1385817755<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>j7MRbiIjJMymNNzsU3efqB0Q4mLTQPES1LwEfjsqNHwdGhnjDk1fTFZ2PukBAjCjXUf4TTpENaiY
tbIltCviQr18/zzzS9XZfsZELowdpLPFn+wz3cyqFimpXkl9AMNz5P4z2EwUirBsD80ajXiC3DQC
st++ZG3AlSroGY69NgQsnhrbW7jnONUYm2J8mK4m//n/7BJNTmkHxuhkI/LzRvsV2EGcCfs6BKQv
SXVbjof5hxxacz0SoyCCu7+CPf92yCPpHN3WMbZSLUSGUbkIeYM2Y+IDREXI1dxpQKpiPebNzK1W
s7OySqaXvZ0PHIFRYDC+DA72tqSEHm/MaDoB8A==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fhgw<br>paymentMethod=>CC<br>callerReference=>6625a172-59c2-11e3-afcf-008cfa12d494<br>