/cart/captureresponse=><br>transactionAmount=>USD 139.86<br>signatureMethod=>RSA-SHA1<br>transactionId=>189UBEJ1V6MM26RZCENANSFQV1Z1DRKP9B4<br>buyerEmail=>j.aghayev@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Jamil<br>transactionDate=>1385071856<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>G0DYMcmqaM44Dr5HBCYFMoC0p1DSNZBSlLfl4q+i72CA3+KtusqUqAbY6ZoTBia8w21HtGjUJvyE
+xDvNz9O3jZeXkFoosE80JJ/yuw9hVIbybBozKZWOXXphXPIalmlL4A0hyc6B1g8RfBPdd8VFl3c
BFiEBPJzQk7+aqtMFbQGMiL+Jq6bg/xxmQ/6X0iPCOWQRW7l/9bBDW8dogC/hIJ9xC/8rFhjwM21
KYxBhT8u1EXdT9WgTaJ9ZE+wrUX9aeMxLtMSHMnaPEXZjgDe//TmpEBVx6By3PVByk2rfNfvwRgV
Xh5eQgkvCWs7HLa02N3pFl7ayZnxEC13W1CqFw==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh9t<br>paymentMethod=>CC<br>callerReference=>44d4ec00-52f9-11e3-afcf-008cfa12d494<br>