/cart/captureresponse=><br>transactionAmount=>USD 139.86<br>signatureMethod=>RSA-SHA1<br>transactionId=>189UBEJ1V6MM26RZCENANSFQV1Z1DRKP9B4<br>buyerEmail=>j.aghayev@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Jamil<br>transactionDate=>1385071856<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>D3rO75JL7HewQuCpl0/5Ig0k055BNTt31n7wJy/v5dbuwjJ+uyh3AUgX1PKzCQxq8Ja66iOb2ceo
OrarkMvceuAcDt/2LqAZUnz3jB/chO4RJ3Oq2oBwWP18KUYsK+8URiwH+BaNtjRIu+1pLClUdnL7
tnCHXeDFIWjpnYNPmUwy7kW1X+6yXvQ2dtePsLLviBs3DvRjE6E9UfkjvWkQEHGgPvyom6dUkR60
BBEOp/p99Nkc9xCrDTiPWlMpebFzJSTOHmTI0/qRSTlSp7J7fRMMWbotVohEYNMc7IQdMn/dmyFh
9XHkXEb4vCKY4KFt9aThhnUfK5VwMS8gBrOkzA==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99fh9t<br>paymentMethod=>CC<br>callerReference=>44d4ec00-52f9-11e3-afcf-008cfa12d494<br>