/cart/captureresponse=><br>transactionAmount=>USD 26.25<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AQEBB8J512JRBZR39E2H1CFPP8O1IZ1RR<br>buyerEmail=>nadiapasicznyk@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Nadia C Pasicznyk<br>transactionDate=>1386014420<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>Et57DIHhjLdvDn7L1A79eOQ/f4pzeuhwIDEm6C2F/kEcGcgRY7/cpjtPZCHpMdxv8z0eH6lsoPrR
mryhfCX/EjJLWkktdWSZWaZpL2TyHbFJiej8SJYPf2IhKoFb/c76foNWbdbGi0HI+d0BaC30NsZ+
o92RATor6+tXts+Sdp5ftdi2oF+w/tS3pCnX7nubsMwLhTEjuq63cNOgKiGklzTVlGwi3G6DMK5B
RPl0P741wLMvvnMx7teZn/yNK7laeSesgnc0vmFhiocsNa4HYr9WSw0BcduUgypOiHIHtKNRVIJX
uZoH8QhGMrQ+RqUXP+wFJI1MudsfQ5UfNq+5Yg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg2<br>paymentMethod=>CC<br>callerReference=>5090e2f6-5b8c-11e3-afcf-008cfa12d494<br>