/cart/captureresponse=><br>transactionAmount=>USD 48.29<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AV9ZMLQ16DBSC2C8JTKJOPUVPZGUS2OI2<br>buyerEmail=>antonm78@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Anton V Marchuk<br>transactionDate=>1386176600<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>QvuI10HAQpiDRXeF5E4obB/XofZK4/GxXYIxvkeBYUFLnFCQUxRWBPFz89DBAwB/DvIT0UUt0Ppf
pZe8drD+OE3erHPmmnHHZoYhd4LJCAhI4U9b6gjVdUBI0bWOJHP7bhAEfgp94lLZvMweySVHavgT
KGC812RViRjnXett2USFdJjSeAwHdzXYQFUG1d5+ue3CtKULtIRRhUBVW0OqI+GSin8lCvInofSU
4QGeRzUyCnhPwfSKsjHIF8LyYW0EnJVaVHyDrvsZ72cKOhQwMcqjxRiLN0/jXmItuMPQ7f7dWFdA
6sXMmN6DSKoC0DQKNrvyyFyjwObrobDkkW6pIg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg4<br>paymentMethod=>CC<br>callerReference=>ea9189da-5d05-11e3-afcf-008cfa12d494<br>