/cart/captureresponse=><br>transactionAmount=>USD 13.79<br>signatureMethod=>RSA-SHA1<br>transactionId=>18ASPLL3V6UHAHV7UCM35EK19TNKVVGIZ17<br>buyerEmail=>jasmineparallel@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Jasmine<br>transactionDate=>1386093401<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>uOJrzY8WidGvXK8RqgYdnlTC4/W9ESg30IzwuY/5bAZPsFbnfYvHTkHgCp4GR6n3Ktsz3iwydPmB
ZW2cyV5UgLFiYdZcAgx9OIFxnvD2c9z/0OdDw1RVIma7LYcDAlUMfuhsuGZtMTFHazAjzm2Y1v+J
qnHM/yQQ51T6d81YgdvoOqSSxGSpO77ML8xMe8Wo1w2hsyerusFpvZ81LbdhPiiwuJDEWAXhqW23
NE37gYX0nG9c/t6810FyASj19yMG+uvToHA59xl5cKAOcK5MuvtNhPeW5E5t8sXLSEvObrOrNL6r
dOIUqH8CZhXcBf6fA+Nd9XGZCI3cTrL8z0BFHA==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg3<br>paymentMethod=>CC<br>callerReference=>3c7a7e0e-5c44-11e3-afcf-008cfa12d494<br>