/cart/captureresponse=><br>transactionAmount=>USD 32.38<br>signatureMethod=>RSA-SHA1<br>transactionId=>18BF1ZS3I6M9DMLV4AGPJQOZNZ7SQD5K2RQ<br>buyerEmail=>espo_donna@hotmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>donna esposito<br>transactionDate=>1386705088<br>statusCode=>TransactionDenied<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>FAILURE<br>signature=>OhSgpwgDwI+ASzJytnorPQY5QooSc9UoCbPd2WzcEcfIYaXiG1I3m3bha/TshQeLAYKNfOjXf/QO
Iwt+nErBwlWI4Urzil83DpSpc5YErO7/2akSJHodCVhOpdIB6MkLWE7hwc9vuvo68mNqeAbLPKEe
3AYGVL0sRxtZA+m+Z2dqaJY5HvU8gbwRxC1j/KeP/7iSdjx4TKIdcsY51LOnAIP02QQI+4/xSmXb
y8LA9CMHmRJfzql9XEOAlaOhZvxOV9rRI5d99gf3JgA5Ca21+yP8/tTLZo9bBa9/SjVt/l17jLXi
Hnie+uE+ItWcqw02jShaUn5rl1C3SQlxxpCbSg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvn4<br>paymentMethod=>CC<br>callerReference=>131de222-61d4-11e3-afcf-008cfa12d494<br>