/cart/captureresponse=><br>transactionAmount=>USD 26.39<br>signatureMethod=>RSA-SHA1<br>transactionId=>18BC8LB9I4ULNA7VDK6MQQS9REF8SPDGNA7<br>buyerEmail=>meejinab@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>MeeJin Annan-Brady<br>transactionDate=>1386612436<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>X3hazzD02v6lwGyl6j2RVdt5+T3MVXdU1SWCU4ak6zdAzMCo3zLD2RjuIRik4qN1BPzmczNgIdXd
Bv0dUzO5Jv1tXxifJw81IWyEk5UqVwl/pO3/wC3VAG6ngGAhw9sS3RbHLK7Ukbvx2uLChrpzdJoz
V3JYWSC+kHHzAMpL9OKD5xuxKQvhQicj79J1EyhFAlixUnxKjfCC0XaydvWN+wOcuox8pafmZ+4u
rl2QIdSU2p+NzY8rT/if/IshATdS1mfBSsuMnpdpOKPVrX7njVEmwlq5viZsU4abIq+gnacMmxz6
YfA/0Eu91AeJNwfVzFj9eLl5viy0R1ML6Tu27Q==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg9<br>paymentMethod=>CC<br>callerReference=>acece2aa-60fc-11e3-afcf-008cfa12d494<br>