/cart/captureresponse=><br>transactionAmount=>USD 13.79<br>signatureMethod=>RSA-SHA1<br>transactionId=>18ASPLL3V6UHAHV7UCM35EK19TNKVVGIZ17<br>buyerEmail=>jasmineparallel@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Jasmine<br>transactionDate=>1386093401<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>UUZP/GK2P4fUpYwEKF3fCAf6QMwYGcckvBWZg4+vBez2XScRFzOkrAORHOun0votsangu5bWxAiA
OugyeREPXKVHoS3oyqt5g7YJCI3KZL6dJa0M46Ya4YH8b7ZdaqnR3JeAyvra7odtYB/RJi/V+j1P
V+hrZCnAeDkjh2zgJb0qsEUQLqWEzgdaUzmxfLlHEkTD+TUBsa0twDRs9mVl+PXma4lUPuStQ6ir
4P4SGhTzE1y6ApYGD/G16NsBH2Gl6Gkq1piq9lhGgdZXs3u5TNZC29LerJ0EdW2sIyHbzDK1gV1+
HysorLTF0nsO8olEPrgSnJZ82i2NSzBZYLHrZg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg3<br>paymentMethod=>CC<br>callerReference=>3c7a7e0e-5c44-11e3-afcf-008cfa12d494<br>