/cart/captureresponse=><br>transactionAmount=>USD 21.41<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AQEAHQF1ITSUSDVFNLK8MHRV3C1UQV6UD<br>buyerEmail=>riaria71@aol.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Maria D'Elia<br>transactionDate=>1386014394<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>KC7alNpT+HKT7tAdwDQJM/rqAnpzOhGyCfD5t0TYlNse+1tX+cGvxt+mTvNAttYRN0MTdyL8ZjxO
Lrwr75WAIsECsPbbRQnDAvQKsxSAYeENhMI0bnTiUW8mLIwlzMgBLYirkfzKFWQxsomyGePchz3E
7sv+43GJC2AznTVF0f6NOTdoW3RT4N+lqLe3V6SwsBpl2Y60LcScbQXiwIXSq+4ooYB+HXolCgsw
cMIzU15mZA/p1FZsTWJW5WcNkY5PJzECw8HQ5XDX/AuFEmwIgDlRV816KS6aU9uXPMDcXWREEmtQ
xxlp/+kOUJVYR2a2yEysgNSMqIDQcSWCHi4qQg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg2<br>paymentMethod=>CC<br>callerReference=>3fc085ee-5b8c-11e3-afcf-008cfa12d494<br>