/cart/captureresponse=><br>transactionAmount=>USD 30.75<br>signatureMethod=>RSA-SHA1<br>transactionId=>18BMZ4IP91N16VBDP1MKDVGJUINTSK7O6CC<br>buyerEmail=>svetlana.pavlova@moodys.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Svetlana Pavlova<br>transactionDate=>1386939042<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>wC+bPr42EkQUykihpZM+2SLlY1gRTXM6PNU633WK35QcRVnGgV/010f1yygEUuhhUuog1Nn1IYkC
xdL1eMTbHqswEwvYWTfLVGpFqWBakod7smLtzNoN6p5ieTWSfVYLCnlrxJPzyIDg95m2N5lBKXp6
tSEN6rAA1Joq93nqLf9N4kjXYeN6rh8x+ppaG9KlL026HSN2psMt7vN7hQ4K+64x4QnIYKqekWhj
5dLYpOj+s+B3laQtCPzrZJkztx0PG+Gcsyi+3iu31ILrmSJ0NwA88QvswGFjz+zFsfO2ylPyc4+U
MMytOpvPQmhkuvtppc23Gygnp/rlrEq8ZBkF7w==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvn7<br>paymentMethod=>CC<br>callerReference=>b2c0309c-63f4-11e3-afcf-008cfa12d494<br>