/cart/captureresponse=><br>transactionAmount=>USD 325.85<br>signatureMethod=>RSA-SHA1<br>transactionId=>18BFU8I774B8VIGK5VG77PID9H4OT8OJJ5Q<br>buyerEmail=>bor_yu@hotmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Bor-Yu Chang<br>transactionDate=>1386735749<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>ZsBbcOdV9rduwz5pATape9tVA6ig8MYpeQjuBlkOxO9oGJWT2oOvhq4T3bwXs+bGvrML1kbeIWIH
hybzD1ZrYxblVjGFAiPPBGtNQkWT7EXzfFBKPmuQQ4xZMEg6fohN2oKSVLYJeiCj120EDdNfu5oz
3QNzRaCfGsve3yiyOOsJSm8+Vw6eWtsURArkkEn52aJ8ONqopHPdUJk9/xRKIx787hXdg/akDSzi
LwTJpcXQlCF8n/PU2UHNa8hestuS0Fl4z+cyjEgzfzbNztxVNyiJcgobAwJFjbzbAkTvw1qU8ghj
L3W9TZ5T9PJTA9Uo9rDDUF3skX8miWpHpWwTeQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvn5<br>paymentMethod=>CC<br>callerReference=>abf32196-621b-11e3-afcf-008cfa12d494<br>