/cart/captureresponse=><br>transactionAmount=>USD 47.86<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AQERAFH3FTORFIQUKQ8QENLOZPBS57THQ<br>buyerEmail=>nadiapasicznyk@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Nadia C Pasicznyk<br>transactionDate=>1386014943<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>JlYqRLySrsQWXpuwZSmxZKrAuWcCtl//2lw4dKkf6RCpwXYN3JFPXf923f4DaUA+pi2yaxzl2Uyp
mLmZy0h3uK7D+m0a3gm13RJn7QwggYtIvEPERVZk9k1LvcjgJz/8XJRUbiefgBTTNLMUy9xf1guS
DU+qmTAHLzDRBz6Av6P36apjhcfJ8jVPgrAfC2Etxb4kPeBYI7M5B/xF28hphECmXklakAngT4xT
qf6V46CjeABHW0CpXaxIGmDYHUsIeE0QBrqV0PWeGMgdZ+gV0znheI4+WyHL3xJpRT/cffdEXnS3
vG3o2YQJixuHktJV96NS9AAFoEWlgnaKvxnM3A==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg2<br>paymentMethod=>CC<br>callerReference=>8f8492f4-5b8d-11e3-afcf-008cfa12d494<br>