/cart/captureresponse=><br>transactionAmount=>USD 30.34<br>signatureMethod=>RSA-SHA1<br>transactionId=>18BHAB6DE2CJHT7I4GFMQPTB8G9SJEQG48V<br>buyerEmail=>larisa.dubina@fmr.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Larisa<br>transactionDate=>1386781972<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>fzVw/tM4Zrx1G+calRFotkpNfPkchK1db2FyLt20afG2z0kvUSNcWo9tfP6t/4IqenpY8E4eVfve
TwGBbatn2L+lpnaTVwFxrcmX+qI3V46pMrk3HMdLDrRaq1aUUZ3SNjtN98b6GI8riDKgEraH3yW9
2LB2Vwqh6eAWBxzzS7S+D1SSorcgumdVL+H+reMIzdSzOZbgWicBq96QJpx8XBseN5/WHtTUJtV2
n2RK73lMGgPy1kB/vT4b0o4sFqYo094lcsjmPR6WHUjLHpV1Ccsbo353wODNbObwoWtnDs1YQKPU
r1ifq3BET/LIGGfdcUvMHpfKCo3IEwPkMpRmag==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvn5<br>paymentMethod=>CC<br>callerReference=>5e29bbb2-6286-11e3-afcf-008cfa12d494<br>