/cart/captureresponse=><br>transactionAmount=>USD 335.13<br>signatureMethod=>RSA-SHA1<br>transactionId=>18BCEU2374UM96QFGAMLPNLB3Z1EI9J7R8N<br>buyerEmail=>jvtringali@verizon.net<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>James Tringali<br>transactionDate=>1386619013<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>AjPPsA2I0A/bcroOj5GpwNq+c38pUj55V04VMDw9TXvS1yHbGtzSgoJcyFfq6BHw4pL5/qnjUOud
RpwEq3nw39vKjNGyxEqFvak5N6378QWnKAtR4gKsGUnwVbXI4YphPRiOUdig+zgyShfUHHviCwzb
q6rWjE56P5nGUZV+x8yEXTXDDlAUMUJ6KNjtPyiZraOsC6HP8BwU/7eDqKIe7rp5PzmFDMq8Bhql
xiIkjK7eCf+L4c4XypaFBFYBHf/t11zhgnevD1vWkoF1ObKfpmv4sVrPRfvG4gJTcXAXLsx9KKTM
Yur7nG/dy5/KNnw9LiVaKp+/3dU0XigKASiaJQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg9<br>paymentMethod=>CC<br>callerReference=>f3c7dc70-610b-11e3-afcf-008cfa12d494<br>