/cart/captureresponse=><br>transactionAmount=>USD 50.38<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AQ86R1U2345L8ZVH6BC7O9J2OJS84IRMV<br>buyerEmail=>judyerdman@verizon.net<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>judy erdman<br>transactionDate=>1386007981<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>dApuO8CqnQjUI4tUQxu3oMdLXOJEnEpw80UDa2HWHbdgJ86ihdvCAvG2FS6Ayfq2wEeAq21UbiG+
Aw6oBpdyiOm2UqESQKz6CZ/glkl67rbNJQS3KpcSkywBX6GT6/c2DIQaaPJkksR0Aa06Cd56+VGJ
GILkb7yjFWGXy14isGDWuQqP4ReBRdYR4BHxjkxYXwEjuB+BF174z9OvHtK4FpfIbHjfsD2IlM3s
zeijya7WXd1YvxfnDeDdS6KpxqSrEcKwmBIkU1Y+VF9EFur4xrp5Pdn/C6IsDvveQdIIf3atQDOn
tQMqwCKL+zNa35BVs93M6pkDBigobuw1mMETWg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg2<br>paymentMethod=>CC<br>callerReference=>4ef9cdd6-5b7d-11e3-afcf-008cfa12d494<br>