/cart/captureresponse=><br>transactionAmount=>USD 79.84<br>signatureMethod=>RSA-SHA1<br>transactionId=>18ASNPUG83BSIDER1R4LIKRQPR1ZECEJVLF<br>buyerEmail=>suzanne_clare@yahoo.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Suzanne Clare<br>transactionDate=>1386091444<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>VJpeXmaTsXMQHIVzhyy3UCi08EOOUuo1lDI+JyqZ0EOvaiPiNM779nNHl9G48rZSwMufcZPt9VBl
b6Dd9K1yq69QOxRerWQbG3kz8SbBjZS3EXtCRPXP09F8R5wGurRD9i7RVk49dEEt+R3CsDDtFYup
cpgIqNXSdJjwbtoQ0YgKijzQh0QbYzdLMaYp4IGl8YvExQCbmYtmG0PKT8lGrM4+/CLqfLzgcPhM
q4uZvh9Fx0m2QjKqG0FCV8uRbFf5RoGovkf5zP7CK69dFdY7S8guDBXaMB/F9MM3YAUBfYp1n5lN
DO/dxMQzmymbw+6y+cjJ9NEEbN1O5yU2wzrznQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg3<br>paymentMethod=>CC<br>callerReference=>a9edf312-5c3f-11e3-afcf-008cfa12d494<br>