/cart/captureresponse=><br>transactionAmount=>USD 50.38<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AQ86R1U2345L8ZVH6BC7O9J2OJS84IRMV<br>buyerEmail=>judyerdman@verizon.net<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>judy erdman<br>transactionDate=>1386007981<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>B9o0oSp5mXJgCZOuhcQP8+y4cOFGIod+VoE4udvYG0ALltAmq8sokZ4I5cbV+GD84wjM5J6OiASu
odacyhv2YiUXzuE9c2Nccbw/bhmfbTbvL09xEGS5DPuEbk+7bSJ0QD8YJwfqNsL+3m6AqdeHMmUa
syX9lOw6DIn0NhY+qaBCi2yggX7LdeBTJX2RVEfFdOchD4GxoM4UfQVlcjZ3ewil7FMaTRQv/H7F
qE/rc8FO1n/YHeQZl9cumyqCtFJwvYmi/wYSS94I3UP/teWzRNmFx+gpr6GKb0KWi8HC4hrTstS9
pX5Uc1gAELisVexJV5iX4liPPKZmY0GG1EBw8Q==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg2<br>paymentMethod=>CC<br>callerReference=>4ef9cdd6-5b7d-11e3-afcf-008cfa12d494<br>