/cart/captureresponse=><br>transactionAmount=>USD 30.34<br>signatureMethod=>RSA-SHA1<br>transactionId=>18ASV2JVI1JBFDDBPEGHTQZNV61KMQK8C3U<br>buyerEmail=>aw1086@nyu.edu<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Alexandra Williams<br>transactionDate=>1386099068<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>IfQLYJK2zCpN2SYnNbZVZX+RKhbEcPGS8gqYBMshs5QHytr4riTjev9y99XXkwGRU7VgScZAuwia
3NLP0cq62n+FHtnpUM4ObbYLjdl94vdmK8aLDNRE14Y9RWS2mF01THFMji9Mm/ATC2DsHA7Wloww
hnMVVGMpNEv3jlfrpP/hpszaVT4RLDUSbFdjyPtA9+7DkjCf3gGgkWUEVWhU6trl0cL3EV3GFsro
UazYRkX+WkmT+bjazqtmlqXDKhMChXJy/HOt7InC4zf42eosccIyViLNcJl5jcIQflSBcWqcqwGi
fVOkUU79CuugDWQPTjidGYHa1Bw2M8f+HN3QSw==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg3<br>paymentMethod=>CC<br>callerReference=>340b282a-5c50-11e3-afcf-008cfa12d494<br>