/cart/captureresponse=><br>transactionAmount=>USD 48.29<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AV9ZMLQ16DBSC2C8JTKJOPUVPZGUS2OI2<br>buyerEmail=>antonm78@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Anton V Marchuk<br>transactionDate=>1386176600<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>DxX+JqFQRjRsR9yZae+249NsYSW3JyfNPiUH/70PlTlPXcfKwTsmQS92fcWwaA4ppZEuH3Ksru7x
tfmIWUEwscRatiMwvbPZ6tT+Wf0yy6NX2uHiUqudfrqnapjW0Rzhihgy4j4tA4V+n0J3zRYTfb0b
imf21RrAQbtQamPf6NgH1KoS5ybTA0PYbInZd1EuoyIxHF3AXWU+i2RE1pcW2ZIx9oLUpZTm5SaH
qtoJj0e28vIO6lGzRIi8Mhfnd0GeOnUqKOOp19mgGlm/g/lnhzYyxPlmpDgk+A6VqY0hW9z+bBWe
t/XlMS6iTxFyiIjbndhPaPUN7vDgeQJw7WrqAQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg4<br>paymentMethod=>CC<br>callerReference=>ea9189da-5d05-11e3-afcf-008cfa12d494<br>