/cart/captureresponse=><br>transactionAmount=>USD 45.58<br>signatureMethod=>RSA-SHA1<br>transactionId=>18BJJE5M25QC98TGEQNITE9VN8SQKBMF7L4<br>buyerEmail=>fabrikantb@msn.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Bruce D Fabrikant<br>transactionDate=>1386858616<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>dp3emBQgg6hAdqH5j85VGuqnYhs7h5QMimBpUaIGhonC6rcDq3Qqg6tG3Ef5x3ceSe2NesjYTca6
GDIdmnTcePT9rN1qeCnWAaTrGVGPV6G1vH1wuz8hQvyzSWc/fsOUkEMDP3um8WjjC98l/JXaHkY1
32RAclkdKWlKrPoKpzu/6Fxy+wsStN/BOH5jSGJEEtU4jtC98B1NmDoCjLWcSxW2jUgnFK9zCybf
042e9m4gPt5rkuWpDkVAB4tdIWPJ2uIfbBs3VzC9jcr7mvWwIeYcOnRv3O/QuHSUAkrv9dwX2LeI
JtyMpDMcRIJB3xGv0mafNFpfmjL78mDIbGPxTw==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvn6<br>paymentMethod=>CC<br>callerReference=>d7189eb8-6339-11e3-afcf-008cfa12d494<br>