/cart/captureresponse=><br>transactionAmount=>USD 40.31<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AQFKASL7A2VR744TAK9MLQBF3I3V6BFMP<br>buyerEmail=>msclafani@deloitte.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Maria A Sclafani<br>transactionDate=>1386015763<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>mLVvFjjLfeumFZLBszl5mTO8IznhBwg2UidKPcp4WEI96IuSF7f9U426BAc787tj0hWG15J4WDRf
Ix4Uq99Rabhy77ZxB0lcFBg5DB7eH5/yaUnYopPfZHUcW555LZiuxZgmfWMt7EbaTe//7fl+60o6
EZmkDGHm6j7ad77cWvDtHw9mfkYLprkTsumdvu542V+UAsdBanHpfZ1/NQEiTl6qbZRD5Srix9m3
KxyeJFU2luovf+8qhAccS+U7vS0GUS9N8Ml4fVbg5LjVcOM3fNgOfz8T4E30F/snG9pR0b3Pm+9w
UVaR9f5qKTRx7wF7BU+N0K1++IM1d5s/L4Cq/A==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg2<br>paymentMethod=>CC<br>callerReference=>694c440e-5b8f-11e3-afcf-008cfa12d494<br>