/cart/captureresponse=><br>transactionAmount=>USD 50.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18ATLJ54M4ZST97GCO1ZCISLOAK48S3QZSB<br>buyerEmail=>mdigrado@taconic.net<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Monica DiGrado<br>transactionDate=>1386122679<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>HPX4l7CPu8NZdJxy5lr/EALMB4D4WQH5mdkyTGqA3sWPByfB36087mEaYHJ8MBpZIY3UqyLkoAlg
dBgweLYrj3dcEVzEYY0fa7OX5WgpnYw4GIlWiSHVXQSqut9va1XuMuBsdraalVtp0fLt7+r7JVv4
0c3aWW9KX6Dw6c8+mlD+8vhJcdVKyPn9YMy4x4sgRC8wShmuqLOxCElOR/hdchtyktXaJQO7pjnA
MWoMsodm06woOMcUaNNnMRii1a8+38IDYlvjmolRtueBK7XDFWM6QiKduz1JNfwhC4SE4Hbk3x1r
ZsxuyxrQH38AqNvHea8qBQeagoDI3vYwUAcHVw==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg4<br>paymentMethod=>CC<br>callerReference=>50558a38-5c88-11e3-afcf-008cfa12d494<br>