/cart/captureresponse=><br>transactionAmount=>USD 30.75<br>signatureMethod=>RSA-SHA1<br>transactionId=>18BMZ4IP91N16VBDP1MKDVGJUINTSK7O6CC<br>buyerEmail=>svetlana.pavlova@moodys.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Svetlana Pavlova<br>transactionDate=>1386939042<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>ge3tHL2HDDRq9dzoVBszYIedT73UjQyU3PB+Ee3vOqt7CDjq+SBZCBY3aYNoijxblUfdEMbczWlZ
MptXTmKuCk3yzPm1SH8VXlqLAJ/yDmTyIx85kX0ZbAgigRqXJoz5uw972REGGfcfNAQi5BmJQ6a+
yHom67tppV766LOLkDsJEmWd0AVHoPbHPOWeB/0DTuAOZA7DXEZMR4qZR8ibDdSH+Vr1zVDswbrz
tRmssHT/tya8fcqdPYZcAbvL4gRsCx1kUZNOXE/A3kspm1MFfbDhTajpXEURPtwBlLUUOzI4fPhF
j0AJo/J/JlWYuihXvme01DdeAKXiUi/A/8wNzQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvn7<br>paymentMethod=>CC<br>callerReference=>b2c0309c-63f4-11e3-afcf-008cfa12d494<br>