/cart/captureresponse=><br>transactionAmount=>USD 47.86<br>signatureMethod=>RSA-SHA1<br>transactionId=>18AQERAFH3FTORFIQUKQ8QENLOZPBS57THQ<br>buyerEmail=>nadiapasicznyk@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Nadia C Pasicznyk<br>transactionDate=>1386014943<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>GPqiqncJu+8Hd0TeSkIZT5xZo2I4sLnA4lLGJSeY35DeER8uXq4pkZDAe9/eMgKETtrWg4Y+IE4/
SjCEVHMBAzYM22FISW2Zum/oVRFEzKfWxO23Cu1iPbgWUogy2GemMzkRUt+/SKoKC0SeGx0DW/EV
9hshjNFixUrKIJLlpLZIosJbNTLlguqVjT8Ah1lm9jVjWF+MccLWqKtzIfbBN6d95XNu32d9hRek
5YCrS6vrvzRJJvmcqRQKxquEEsbLCxAh4qGprStrBu687WupyoN3oL444LAz/+l6llJwnRYYFcLm
f6fPDYphv4W9L7nRzAK3MJtTeO887/8inWY8hg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg2<br>paymentMethod=>CC<br>callerReference=>8f8492f4-5b8d-11e3-afcf-008cfa12d494<br>