/cart/captureresponse=><br>transactionAmount=>USD 30.34<br>signatureMethod=>RSA-SHA1<br>transactionId=>18ASV2JVI1JBFDDBPEGHTQZNV61KMQK8C3U<br>buyerEmail=>aw1086@nyu.edu<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Alexandra Williams<br>transactionDate=>1386099068<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>kvGTPcJk2HI51fyJqDAZiki21dZKTKT8fHozCsywqrOT5FqWcRE0eqGM4NXB1I0eM+CHZwhD4pp4
HmIOtE9dkxYcygvCMJf+A+jpr9us2SyS9o4414vxtaaD0EMTilKDtuARkgqCyL+UiifypTHi3GF7
bSHiuTwlnuZEO7VW4WpL8BPcKk21bCvCepi6pryjPCwBmHfu2CuPdf3DxyNF4oS5zee+J6AogK+B
vqQPPZk+7FSTjJNQxkMfsMKrBPwdRVc5oOldUBGTr0EbwfDAGpRv/WqiXZ0wKVJNBrOnZUGgwAnb
GXSAQUkvkh1QlHnOkvqjhi8mJATGfdUJNnF6Zg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg3<br>paymentMethod=>CC<br>callerReference=>340b282a-5c50-11e3-afcf-008cfa12d494<br>