/cart/captureresponse=><br>transactionAmount=>USD 55.18<br>signatureMethod=>RSA-SHA1<br>transactionId=>18BC3NR7S4ONNTHP9RTRC7U12UPBOFUU3MG<br>buyerEmail=>chipcook06@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>William Cook<br>transactionDate=>1386607275<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>GeOrubmYPcc8NevyvcwgqZ/2VBFDbvqvu2GgN6WlRtd5lrqF/l1qid148HPWlZ73GJGCRh+RgGBm
aW1z5iVc/ITAsu+bReCqkCufFsuuQJ8Uaw+yUb9lQAOq88fVdP9/Bph5LG4YDNTcJSMzOSVRpdrz
0HXcMHaogr38fWDvbJPEY72rKbMuDKxZ87miAHn3kEHwWPbatrcynvlVUlGmjVkECjKdHV7FeXHX
N8MZyRI3jjbDs4fHCiN7AHsIvMk/43auYy2DYz1da9ot1iL/l9oqEbJ/N5uOD5ZIL0b12z2PkGaI
4Nm9kmQJs96BQjA8HwjuJ2CkwaOohidX5kHt7A==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvg9<br>paymentMethod=>CC<br>callerReference=>8f00a094-60f0-11e3-afcf-008cfa12d494<br>