/cart/captureresponse=><br>transactionAmount=>USD 50.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CIIR18GYMQFHBTHSLRTPGBR2IOEQ2HC6B<br>buyerEmail=>cjtrabold@verizon.net<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Charles J Trabold<br>transactionDate=>1387898176<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>BODMhXlMJpBGP4Wafa9qER60CtZD+UByJC4eqTS9CSf0MObmRPAypOvwjKdKtA4GS9mE7hPtWMPJ
lyZms1ouIdRcWqCyk/V9y/Laoiouo7sv/osrKnXylwurr3bwNJnkAvfLs9rGkdAFPTTJQ8ILc2zg
U2iBMxk/yfIjfCvlOy+eaVRDohVUM3ZuD6m7YRjpvwzN+4rEEtqPEDY/9uFsV6f4RAD48xwQLh83
bYdd4kpvggkT+vTrXRGlWtsff/3XVhQKmshRTMmz9x0jsVnd8DO1I2dW0MBFc47AzoUpCW7mUwOX
d1arDYS9MMv/XNkHOhjDlie/kA8kPTRE/lnq7w==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvuc<br>paymentMethod=>CC<br>callerReference=>1cc0fd5c-6cae-11e3-8a34-008cfa12d494<br>