/cart/captureresponse=><br>transactionAmount=>USD 28.75<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZLNF8D53MK117TCRBI34ED1GE8B9B98P<br>buyerEmail=>uwassmuth@gmx.de<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Uta Wassmuth<br>transactionDate=>1387297225<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>f31r/n21GcesY2VHWkWaVFAlG7jF+lVXYUwLKYO6USMtWjAOH+7Pd+htDepWw0IFhGMOGf15NuFx
AvyQD700SQHc/UErAPFoTVc+2h2RtxUvR90gVchDaPQ3uMWXqv0P6DbyNmmqjK4abmwSjL2hgxtq
QyMO6W0lr0DY6XowLxiGnt5Bk98obzCHCNMYXs21ptdCB3sB3q5otOYMAblaPzoeQmpxmrOHoj64
xdxgmq+r4RwEFDvWjxwudQLf/UpnJkqBOXOoerOCf25/ORBBfXC3ftes1iLsAN2ea0yzjCwKT3cE
okSnlVrJE5/sgfXPgLH3nU2CHpEGQsPSJuh2ew==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>e7b76550-6736-11e3-8a34-008cfa12d494<br>