/cart/captureresponse=><br>transactionAmount=>USD 52.42<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZL2HTZ3FE1RAOZE43B5BZPIEON5BBGR4<br>buyerEmail=>jturnage01@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Jermaine Turnage<br>transactionDate=>1387296540<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>KidHYBYNiIhbXnB5YP6s9FectZRLLrBUx4+8d4WQDKcLddxUshCNX+yrePk1C+7Xi+EIIF/ttf6w
1JJftscoczzQPmImRJpgbKaBfQH5S9OxkmIx/bftYMvrz9W92lQYA9/D/ttP4vdCHmiiIi6rVAW7
VPxdT2n/57K7SEczzi3WYIY0NZtvXI+3oBWSasbM31cZyWxNKqO0yaOk41ZLla0o7VukNLD/a2cj
3jr72Uj98XHdtlVNBvTT3cBtF0jkCSzq5Iq/i+aEvOpxfGj4U7KKtK+Vkzsg63mYANkv4gziAObU
jNyNHM+3e4SY2WNBk4rSPjGQdOxhMvtqLpq/sA==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>77ae2ef2-6735-11e3-8a34-008cfa12d494<br>