/cart/captureresponse=><br>transactionAmount=>USD 27.59<br>signatureMethod=>RSA-SHA1<br>transactionId=>18C62M94M63IUFHRUEL59CIQLGZNUG6VJRS<br>buyerEmail=>barbara.mattos.som.97@aya.yale.edu<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Barbara<br>transactionDate=>1387478590<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>T/V4SVtByDK1zl0KY94mLG7JPHaUnNx8bBBXDzd1k0ngmkU7FYhhYOXIdMzPb8PUtGuRxmu3QZXz
Yk141nhBYShnwaiA5UU4O8FSdU+VyYMygkw2QqA6dBv8RVpOqGZHvvD18ha2Wmj21qwBqWyeviyT
GbrEoSsZ1eh+yy1zP+9UaxQvkRkmFPWYHHJGXLVDWJw4v0SCoGbBeDtK4jJ9Ym7QexWC//NnKsF3
0/WnZsAlvYcFRkODDHiGceh1He+x8GFo5tdtcysUPRsceqXS2zVFBONc41aFHop6Z5atsHJXiqto
bWMBqpFZZRtRXDNVGZtFCxjnfPV7XLkbnAPiDQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnd<br>paymentMethod=>CC<br>callerReference=>4a71a9f6-68dd-11e3-8a34-008cfa12d494<br>