/cart/captureresponse=><br>transactionAmount=>USD 324.22<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZNE6D81ALPDUBA2QB179GVU7PM71FT1F<br>buyerEmail=>vickie.tatta@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>victoria tatta<br>transactionDate=>1387299019<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>HH/zipnekmi3e118g+U1jhzH/KBvYrRmyjhEbf23yLcyDF87QbySn4o/n2UEFAwoUlY00KF62HBf
GvU71W82KCZudLUiB18xNjxSrCqVUZNRJlzxgzyvYaNyzAsJJfH1uUoIH+wKvKbun25F92KJqLrm
/niTq66SDV8z7w4E4eGsjsleojgevrdDE/MLIfZQbWSNHwlUm/oXebWIgvjFP/oVsUwFVO43UiXU
LP8tjwMk5Adj4PdFyGnmEJHMQC06ctuMGYkPwgtmFDf0xIJGOW+YSjNOZtGVP5fEvvxPyg8KwdAX
ZmONb7CxvTOF8/3/8xkXUuxhFOQ5XSfmgqnY9A==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>3d8e9206-673b-11e3-8a34-008cfa12d494<br>