/cart/captureresponse=><br>transactionAmount=>USD 90.20<br>signatureMethod=>RSA-SHA1<br>transactionId=>18C3ZP9S82QE2PHPIKM89R2EHMV2CO4O5O2<br>buyerEmail=>ifigeniagreece@hotmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Ifigenia Palimeri<br>transactionDate=>1387375929<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>fQNv03VWpSsYQ++WG4ZxCsaonwmDRsVerTIVbztL+oGIFLNNQPxlWgfOFI/1to7QYWYmR3skcIb7
iDEc6OgNOqN54dg6gFpKUmvj+0Z4SUEAqrjmaPg/6pqOxC2meEsWhM2cUQ9w0xt7GOLewmVxT4KZ
KaYkj4FOKohOLNV01F1oGxlUITtRQNq3Tpj8v+bUgvcijeL5lOyS1rbj3NZ5aIehgUgk5+BNCO2e
1Po/ciX9Sf+Ql2wuOnFxKn/Ab2BBGcfOghQeJWFGccLZw/0A4x7XdLk4iC7ZI36yV7Ql63oBO+P/
8XUYJffbkOZF19ylrrd7ydGGPbTZk0j/gLlZSQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnc<br>paymentMethod=>CC<br>callerReference=>4764a03c-67ee-11e3-8a34-008cfa12d494<br>