/cart/captureresponse=><br>transactionAmount=>USD 24.83<br>signatureMethod=>RSA-SHA1<br>transactionId=>18C13L1ZH4KMIP67O455OQZBZKRU1N4IBC1<br>buyerEmail=>julialyapina@yahoo.co.uk<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>julia lyapina<br>transactionDate=>1387311825<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>VZwH6UmWDbEu+5AyWXGvIG4+C3yuQYtMWSCgxBz6GlKYiGbwqP7nHWC4K1+OF6UNlnIafhc/bwCz
DxVzCnaUo9Y3UO3Z7aJuQwitE66xk6YqSPIrKa512K4Dya6gW5EjLtC+fc7L1js//ipN5l+xOM58
AF6STL5mOzs7Afi/fhzzjHR8SNxU2ZI5pKjE7n+482nf3MHxV6nqcxpEgnKKweBHYuCAh/r/bbx9
O52QF1yvvjZdxIpP8Dp0UHijNJJjt1uTUyfBZl7vlQ/q4hbWNBWBznxI22g6olPxEOPN/CbzY98T
D1S2Gsi+zhhQDi02MKlTuzv2561KIQU4ZGuR4A==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>c43fef62-6758-11e3-8a34-008cfa12d494<br>