/cart/captureresponse=><br>transactionAmount=>USD 31.13<br>signatureMethod=>RSA-SHA1<br>transactionId=>18C3JV8EM6G4AIGAPFS1A8C9O2EAAJLH5C6<br>buyerEmail=>marianne.steckert@moodys.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Marianne<br>transactionDate=>1387396047<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>XuEXHvr9feVCLGxEKbEKJvPqgtSXmwDC5WxWMh2i8vqkrizG8iwa4uvqNPuybYv0XxTZUO96FVwu
7YeuZ+cbUrk8pyH/GU4bPH/8wZCQIZEyN65Q5zp+h1baOYOxj6Ufp0uPTRokAmjcgnTuZUDIusBC
+i+LrgA1uzKU3bemEBLqtP4yem7pl1+QjFZCWeFQmpbgMX++wg/ShZ1IivoWbSRakcOkC/cPpW58
ZOV283Q30LWXlztI4de93Yqkklk39K3UTh1rkm36qtlecp7nomyagI6SporepvgI0EJzgD1LGVEy
StjYgCTC1ze4nYNtFzj5TRipLhq7/3ZS0ud/8Q==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnc<br>paymentMethod=>CC<br>callerReference=>f5d531c6-681c-11e3-8a34-008cfa12d494<br>