/cart/captureresponse=><br>transactionAmount=>USD 53.24<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZOPQNR1VJZKZQ9M7E4G6QBQ1HGLMEUUB<br>buyerEmail=>elizabethfoybergman@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Elizabeth Bergman<br>transactionDate=>1387300449<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>mgU1bEVyj6nrge0DMFKRzZYs7iKf7whVlaAfAQK4Wk2kGpLl558naElFbU7TtJtO1n+jKSxrRx0u
DnvZMvJ425WVC874qpFfASL1gExPxIl84bH7551L89oePCKbNQAi8Quw9sytQJMmXuZXwfQc5dtZ
R2dz6NM8yekuE08TmMh2AWph5f4OfSuKXFJdbJeii/WBF6136MZ3pK0a9guhG1byx3FLeAtFjmhm
fTMizpUU6CXt3vEV2EWPOXxpg3ugT2vwgJqbtApaa5JYIZn5uVWkhnT+0iGDsurKuaLsrGFvfdUd
JH0Vn6iRCcgo+qtSIS3bRnJo9EWeKKKwDpE7Vg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>8f910496-673e-11e3-8a34-008cfa12d494<br>