/cart/captureresponse=><br>transactionAmount=>USD 25.19<br>signatureMethod=>RSA-SHA1<br>transactionId=>18C39D9L472RCCJPHN4UF9BP27LUGD2R69M<br>buyerEmail=>queenjen1@aol.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Jennifer Parnes<br>transactionDate=>1387384972<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>X0mHt4wWW3P9TFGgHANvjIuDWU5n4yztzbiAkNrvSmpWsPAaV6uQzzYAgHCSdooSVB+gETA8jr1s
mP/E8n/FxrypdwoS++Cvt+pNbQxhE77wG3lzBcyk4UcyYVquE0w4+lBJk92DPDlktdfrdL87cap7
02zqRjzFJ1G+PEjD86xpkC/C0dFrbg0PpbzmzMLkmLXAGX02OClsSDMW5Fkm/3K9ITC+3jJroKlW
K2VJ7OvBh+bpt0nI3qW6O0tKNeLYQ2sElJOeFjkEKOPm+/XCQ4BHG0st2CfNaEwtg+JVjseCiUKH
hgqm7c7PxUnYk7NiFQISwKr3nGj491lN2vAfug==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnc<br>paymentMethod=>CC<br>callerReference=>3fcf8ab6-6803-11e3-8a34-008cfa12d494<br>