/cart/captureresponse=><br>transactionAmount=>USD 40.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZL69PG2PN1MFIBHZO4RPZTJA9DKNSIDE<br>buyerEmail=>michaelrohr@arcor.de<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Rohr, Michael<br>transactionDate=>1387296663<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>FTJPclizqeoFjh71S8Atfy5F3+VVNPSkyuuWsZ6jJl3UvLjLGyYUB6+/Wu3H7vDN0V8Vqz2FFL1y
DxcYYgFBw2z6t87PI6/QR1Lhz3kygd2iVlHrKQxivLWfG+1Wkkue/Ig5a4Fs35cpIuLfJQkMJ2/R
Hvs7HZbDUh/NqOY7joTdN+2q1dyIxXdYfOvkr0SfA6igs6/EEHDvDY3cOlWdbpoyQOfjBwwq0c1t
JLtHG4rOxiyDPP9ViN4XTeg3bra+vrWbBg82qQ4ffE8ht1sHBV48VcI75VCjxzr7dYsn1Zwa7YCs
LJcQd7viG2oX9e1LsmQuWrrQnORDPDHQHG6rVg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>ba02a184-6735-11e3-8a34-008cfa12d494<br>