/cart/captureresponse=><br>transactionAmount=>USD 52.42<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZL2HTZ3FE1RAOZE43B5BZPIEON5BBGR4<br>buyerEmail=>jturnage01@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Jermaine Turnage<br>transactionDate=>1387296540<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>l3xXINPq4OBplM5LrjEejz04YcaeXBEfV2beE2n4BXu4PT5BdjXTszmxM43NUNyR8+bWii7KwVFP
cCZjug9ShuIGz/058qOhEbmsxjsflSm/+UdTgz97XweKquo1ssxjy+H8R7ZcHpZsgFGC498mA/xu
i4mGOw0eZwQ2jEhgr/fUQCXV2+qrv/0Mj/KHB4qa5UxEiMnlgSnm8R+2W3Yz/Afsl2eqPFPFU4VX
DL1fd9XQzRJewwpziuwErvik3LMeM0s+F5V4S3GrNtLlIbASX1B3rpY4zt7HMH+46YGTTP8CdfWx
l18mgmAJGuM0Jx79m993v0CsRIyJs70KJ4UwJw==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>77ae2ef2-6735-11e3-8a34-008cfa12d494<br>