/cart/captureresponse=><br>transactionAmount=>USD 28.75<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZN6L5L786J2GB8V23U762IGFIDIDMMC9<br>buyerEmail=>carlos.gonzalez@moodys.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>CARLOS GONZALEZ<br>transactionDate=>1387298772<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>HMTue6MHo9jMwNW2N3k/QXk4xtvoz3U10AgukdmmVlvWM5FRwZF1wZ7Fhd2x1DnOxnil8xMNlNGt
IXb3oO8hhYDiDo46LQaeQcjFFBUzSRyMcI3iwKTNrtPuqKE10G+xyTLUhUftYcvqor9qDS/akgYA
JJ4L/kwVSfbfjyiyhOZ8j+huQF75govj/Df0AhxZ5mJA4nA5UCJ8UyhZunTTpi547utFCKTrBEvf
zd4l2Dktzlg+bobtfrYzXGfs9A3vkt1S8CbLDfGYChhC+42q2ozR1yE7IFW1IPrNBW3FWbdI0ABL
sh83dmF592GhWEv/f0CMc9P8hG6zF+MI5VGpfQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>b388f0de-6739-11e3-8a34-008cfa12d494<br>