/cart/captureresponse=><br>transactionAmount=>USD 68.98<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZNK7B94I5IEKOKPU9734RPRACSMIBPU8<br>buyerEmail=>gwkozar@yahoo.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Gregory Kozar<br>transactionDate=>1387299216<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>R3zCgnbO403NJhtooX9aRrSiuZDkqgvLGelqA59RZc8ERGnrZV8+UcfRRDbjwP2ALsMOb0dbQDAw
fG+P4HGoS4umQydbyJTh5wVPJLMmzTbuD9N/yNcODo1nR5yWAfeXBfAF/CDBOeRVdTdHhOL3XtFZ
BOu9nCz4wlP2Cc/G5yoo6c2lHeuV2jn1OFbFFlpWr23kEaKLdT0eh7defa6MbDNdHdWk6OaBjmIW
Syv2ww1euTtdXd3/HItxR9TvJGnieiUZgWMGO3Xt07TxuclYT0hZZn5DWJuxnjuiUC++NRRgAVpc
pqYjq/Yi0ySvgUD2Z1ZUN5BHUqS8wHamwVr1Dw==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>b41616ec-673b-11e3-8a34-008cfa12d494<br>