/cart/captureresponse=><br>transactionAmount=>USD 31.13<br>signatureMethod=>RSA-SHA1<br>transactionId=>18C3JV8EM6G4AIGAPFS1A8C9O2EAAJLH5C6<br>buyerEmail=>marianne.steckert@moodys.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Marianne<br>transactionDate=>1387396047<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>ZORwAjpFZVJWhNV8Q2Hz1jRxISfUUn9+q935aN8SqT/x40Tvy3Gl7T6/Vp8nw+LIwQ/2AuOvvkAU
OmChbVlN1oz2TMpUIsNWuwvBd9AxthI7/emHpu4kWl2eT3Kr3eNzbxeU9BP1UevPYO8qNZuroY/h
KCZIRVqtsQek3Y6D8vOYVB6BBlmuWqcP4UFxFGDfWlVG7jNSuxCQNpXdrT+UEJ/hyiyoodUrl4Hw
GEs9IBPEcona6MCOX8pWPizVWAe/ovxN5PmqXFU62k2vA0NGz+vT6zcmDGg5ZeOR1ybFgA757iBu
+Tt/lZPBth67RzoE4zjWEhliJZHreQCOWw/4sA==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnc<br>paymentMethod=>CC<br>callerReference=>f5d531c6-681c-11e3-8a34-008cfa12d494<br>