/cart/captureresponse=><br>transactionAmount=>USD 17.93<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZLFI2L3I1AMJIF498UPKFZOARNAO15O5<br>buyerEmail=>ajbps5@yahoo.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Pilar Steele<br>transactionDate=>1387296966<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>AkVvUxY0yisiEPKbSmTs68i76RP6+ehsuhr2xvRuPUwFkrDrSqAomInKVWzzveIyoGwSwzLRvb4R
kWmHaBuEtkwWzQahH6UVzlzdKafYgHbPEHOS/t4zfGeZpKuqe1N2HffghVNzZggQ963afaFX2cLz
wIsiiYNqKzzAp5yLJS9nnlW/S/aKeC8YMboT8W6t3I8j2Mz4cd2ikBuPtu2JjXvuaN78qq4ibHfQ
dX5HgD5iUbZdtd4D4qvBdI3btRDW2lFB9qeZqVW+zmkHcp3tBvVBnQjPSV8fU3Vz7Gx15CN20XlZ
PFFPcvx/Xza/3RN7Dko2Z5d3yNH1wiBAMPDu5A==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>78494c6a-6736-11e3-8a34-008cfa12d494<br>