/cart/captureresponse=><br>transactionAmount=>USD 23.99<br>signatureMethod=>RSA-SHA1<br>transactionId=>18C92SR156TCMVJ6RRQHR1P2DSI37FPI396<br>buyerEmail=>lyssa1020@yahoo.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Alyssa Yulis<br>transactionDate=>1387579468<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>JPWKPLkpaqggr2K98CLqSY3GbZpba25GxbthMDv5ynFYVz8oiH9xBJIEmlykj+zB29zANMNFEL8j
NmNN+gWn8CjGOkXpzNWaVmA79atLCRr2gYqlfqG2hdtW1if9PzjApx4r/bzCMudzroKIXYmEjdjD
exHzavJomF621ei5N76kBZfCdGoBsPykr7ZxFyfQT/A8SxQW0r2BJkzvznLwZ5rMN5XmtpbjoXjq
CosIKjU8hIt8Ah3hyIUXIT8yaA3VgaPBxgZjHGvKLpbfQ3emyCkltcLqjKxFfOjnkO7uerKAfGYd
Yjj9eHdMCQg+AK3X0axoRS7XPc/t80qrFetqWw==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvu8<br>paymentMethod=>CC<br>callerReference=>3e33c0a2-69c8-11e3-8a34-008cfa12d494<br>