/cart/captureresponse=><br>transactionAmount=>USD 90.20<br>signatureMethod=>RSA-SHA1<br>transactionId=>18C3ZP9S82QE2PHPIKM89R2EHMV2CO4O5O2<br>buyerEmail=>ifigeniagreece@hotmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Ifigenia Palimeri<br>transactionDate=>1387375929<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>cTeYbq9k45zYvECNJ968dbZAJH4vqJhS3MdMJyj+9DgH7RXv4UYNYp3Rxhpd2MNVznELMS8dkpKm
6lHPY4HUH1G76LA4/KbsrhcY7o2ddfe4sTTxd9fhwMeBGGmw9fqWyYqRpkt0Fguv0RDD2lcQIqkv
OwesGNdq8w7rUUdD/qqMcOh91Z1kzCTrji7baG0AXbeWhXdV6BiRE4NWKaVQqNfzWYNgrGGr3AMi
n1tOFlWfpmVFn/5poPqJE5F3ojTHEZ9s2cLtRIVmL5h+iaA7NztZpFcblvMedCv/aozFRjkK0TU7
VbLNenXrGPQ+SteNN0Km6/5IBoP90+PCzkvNmw==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnc<br>paymentMethod=>CC<br>callerReference=>4764a03c-67ee-11e3-8a34-008cfa12d494<br>