/cart/captureresponse=><br>transactionAmount=>USD 185.30<br>signatureMethod=>RSA-SHA1<br>transactionId=>18C1Z4A5Z6UM62MZUFU9K73QEB76FU5MD1J<br>buyerEmail=>charles.knapp@att.net<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Charles E. Knapp<br>transactionDate=>1387308132<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>Gc6Fu+5EK31o93vJZ0IsqLAce60OKygigMvqzVKA5u2pzRVCj49NzJgiUY6/u7142ukfuGt0QUup
rYi1sncnASet7dqgjgHdvX6pMgBi8+NMMf10++vN/Z+6YgFdXD/OG85QHtKtnncBdPdzdyghJ6/t
M3OK5aMayRSK5+OULZjYifCfrsbOSvN7ARidY/LHN7AD6jroqUDXJq5YNnSJTF4ceZS886slRdCX
BtvI13LIaE4q0cNqr6OyR2Dqyi9ha70kT6daPuP0eaeGZ0GQKUy3sKA8aCQTgSlZqIzgLa+jkKd/
Z2f2/UCZe1CilwkB91/hghqUCwqr8DW5KnZQTg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>5523e596-6750-11e3-8a34-008cfa12d494<br>