/cart/captureresponse=><br>transactionAmount=>USD 16.58<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZNEUMQMWDZVRTQE17TO2NE3N789JLUL9<br>buyerEmail=>deniz.yegenaga@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Deniz Yegenaga<br>transactionDate=>1387299044<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>krn0AVsj50ldUTBK0cJc971GsKqg+poQ1w1dXawHoIw6oJcbJtM8lkIdiMgrtc5H3HEHE1HavDMe
HYMTIiC0766PZPTuB1o6dUyf4RSvx3d2QaPGAa6teyG9X9m0BlRl+/1XR0UdiPrOGTa1x6IKe14i
dEk+C607ATr/tRXqoiTOfKli5rc3mOtgEl2R4nL2YWA5rgmAau0gbRdMbTzQe3BvwxqRUCBy7OZb
ERfLsYFNTHg7LZ5QWmrfQyqaLyWIYVQvBqMrGE/Fme6SgFHrIWKVpMykcz+CZlylT+H9tvGWfHST
Ogvr9RMsD0TTzCnsFJnbNOeNbtLA0uIjsxEXBw==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>4517d3a2-673b-11e3-8a34-008cfa12d494<br>