/cart/captureresponse=><br>transactionAmount=>USD 25.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZSRI1U4B5L52AG8E7MTGB27JAMSDT5H6<br>buyerEmail=>yxgj1986119@hotmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Xiaohui Yang<br>transactionDate=>1387304699<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>ZXzPVuaXzOdhx936b0DBrpqHtjx58sXKj/W/RZA+cj4FDXWec20RTBWERSxjR5UjtCDMEYUybahg
a7oje+6AovCphyJy7dyroJ8/Pp1I0RaI6kbGJ2Kjf1Z85s4hWdC7BNkgjaotkY5W4wmc7ImPzRQw
AtcQi+r1HZxPrqPyEYydVN41SPxn4KFj7fc/FKAhUzVKRT30TgntwTIVrYTjoo9d+y2IbF77ROdV
/9jn0pC4Ot8xlViwi8LGR2YrE9aigUOAzkw8xa6ukyn7XurPC47/3g9dQu3slX+zEeb5k0rvozMf
WXG/3LfvwS2WHCw17y2rD4ZByJi/6UBNKvltSg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>75903ec2-6748-11e3-8a34-008cfa12d494<br>