/cart/captureresponse=><br>transactionAmount=>USD 20.63<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZMP3SO7JG3837EROSHU2HD51BBECLQH7<br>buyerEmail=>carlo.giovale@moodys.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Carlo Giovale<br>transactionDate=>1387298328<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>c5UbF8aO9ZhVYR50OUPHivWcJqru9cjHmGfe0MhCcIt9s0fQWlyIPHUWzz4RBiE58F+xegG860nt
vrRAnj3aW034yyLUYiZZ8bR3u7ukLG7iHET2i2LDMCrgqZwlZqXuMoRKjcwiXydtHhDOYQftibEN
YHEAbx9bHpDN7lmL9m/LTcS24F/SaB2HkkZFJ4f75gIfqPiQNmnQrBURQv74jUzj0YqvUk4ZoSsS
QhnB/Rk5SZyvMpfeq1uescfdfbMyiABBvBA4XuwtJPAjO/2RfMEP/56wpVauNIamhy1NzGCNXXd9
dxbHejwB+eL+WKxqGXI6wty/1XI+rXzwWnnj0g==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>5b5170da-6739-11e3-8a34-008cfa12d494<br>