/cart/captureresponse=><br>transactionAmount=>USD 38.40<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CG8QZLR332ALAFT9OMKGOJKOCS2JMB6G4<br>buyerEmail=>nywarren99@aol.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Warren Kornfeld<br>transactionDate=>1387820548<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>BfMnbX/2PSIAUJf3ihfcWyvdH6pCDpCZhh7d1n/ChqVA40KyiN77UoT6HsOOcwYtXHNC9H6JUvvs
mvD0ysgXRWGeNNs+wAmA2+/VqRENwj9LO+zHI6dtQWJMBYL8Q9gM1+4sHjbluOEyPfoOctJ2xIZL
D8Ntlz2FKKUHEyyqIHJ145xG5QXN581E+D/J6brtMwwaEmUKb//f9OvLEclEcw5c4Dpqgz3L8+dK
Tlsv+fNKRnMxXOUD/ZpHSMngwY212rQnjKszbMgS3+IkJut0jc9iMtCuypLQSUgLljxJbXu3NJD6
r7UYqoYKC26MiMZ+u1Xr+OYpB2UyYkSxRAGoFA==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvub<br>paymentMethod=>CC<br>callerReference=>79a97aea-6bf9-11e3-8a34-008cfa12d494<br>