/cart/captureresponse=><br>transactionAmount=>USD 29.94<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZM2TGS3I5DCNDOUS1PJAI6ENG8UKV8DD<br>buyerEmail=>ikorablev@yahoo.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Irina Korablev<br>transactionDate=>1387297601<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>KAKNwUMnlYMX3ADiYT+32oFr9SISf0qO/rzo0gZTx++D+h5ZtutzAKDHYbHv50QxmpK5nbgCCuxv
UENP2tIwplvvFNIUrmaiXLWWCcIpavhEz6QZgeyCMS+acN4+S/9M6kvLuIWhe61Qo8oXQNe1+lcj
hWWekyzoF2uAL5c5yTyluhTO0GU6n0cCgC8zR6wbsfnfQlBxouiGK5qvIMVJaA5QNuWeDlLdf8jL
NsqtPMvT4n8+5vWAul+OvVHHEiC70nz7e2U+6/oeyHTh63Z1PVEqhHcfDYu/sqGzyGadRcdJqVFU
pg3Ca6THefeAhGmVwrEN++BdIj1hvrDS1R76gw==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>f72e2e8c-6737-11e3-8a34-008cfa12d494<br>