/cart/captureresponse=><br>transactionAmount=>USD 28.75<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZLNF8D53MK117TCRBI34ED1GE8B9B98P<br>buyerEmail=>uwassmuth@gmx.de<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Uta Wassmuth<br>transactionDate=>1387297225<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>gR3pjjAOqhY+CCN6GkUT7A+iFJi9KwR5dOQHGs0oKGhakgrVokerVq/qQkDe8TJOUh9Ulv9t6N3E
1c/i+jHhUDed8Sr1tcSvN4aGTO9qFaaTuLroJnJstmPc3Vo/p2uvvEVaz6K7yhINmdUrh1hxsfHA
SZgumTTrb/7/zp7FM7DOpuWSlvMY5znhpcNlb85BFBpwg2q8tE8KCawNOoZ1dXilHRyljmfxtAmF
y9rtmqWjUth5uiIPwoDUqsZ5vwmR5MT5X+tMdepm3yoU+3WusWbDzCv0jB05/GjaZ1nLYTRUzjJb
usI1VBj5QQFVlDRdyIiCfE+BF1RcPTXq6VdNTA==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>e7b76550-6736-11e3-8a34-008cfa12d494<br>