/cart/captureresponse=><br>transactionAmount=>USD 40.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZL69PG2PN1MFIBHZO4RPZTJA9DKNSIDE<br>buyerEmail=>michaelrohr@arcor.de<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Rohr, Michael<br>transactionDate=>1387296663<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>Q8te/xbPBB89StEXoc8IE4cjndAbLEXG535elN4mDv8Bo7gFQUYFFebvJ0vz4pMK5xGST5PdcWTK
a6mLS0r8fmlfVrDb9ZD3FVTphy9F14svyFGag/mMVFA5Sr7oIlTIvGDnFkOfJoVw/wSuOBxYk6UN
R59JUXjp2Boi3k7WaVJLvlMy2stjUUu20DWvYSmNfI+0SXDJI0lctW78Yx7hThMtO2a9gUJPDypI
vw1SgRB5jSZBZeO9O4fhOrY3shTMeHaZlVx1R9xSdrA1k0vW/E47eIt7kC7LXG4IINyUsY2CJanK
HO6O3NCYzVCENHBni/t+X5FSgREfNioRBZJx5w==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>ba02a184-6735-11e3-8a34-008cfa12d494<br>