/cart/captureresponse=><br>transactionAmount=>USD 50.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZMAQZI6MAIBJFK79JML8SBLR6T8GZB6L<br>buyerEmail=>rikin.pandya@stern.nyu.edu<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Rikin Pandya<br>transactionDate=>1387297859<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>JHnUjRJTDmSWz5OTAnZczNIOt/EUl9h5H/tAqpt5mg1qHubXhXSDe1znUymwIKRRQbko97rs3Oj8
tg1UiILpeTD6xr4EkZRe1rAd70/REF1QroxZ5p1cR/qmqtycPFfiAOAYJG6Ka/fx4bLHxXrTtqWK
GUuaCG2lOVhMZjqRSbn+H6rI0jX96lAax0FU/OoxJbklKV5XIDWAVFbJN9DsKAF/WhZl/z43LTzo
d1bw2PxjY8U69Kmr0WM0/QL2001PS/qmP/Q8y3tm/rxQkTP6rPUgztd9OSSMQzJsgHbodlqNU/3p
KRPSjDgczjPv3080XcRIMC+mJLlqPzOpx0W/vg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>86505f86-6738-11e3-8a34-008cfa12d494<br>