/cart/captureresponse=><br>transactionAmount=>USD 24.83<br>signatureMethod=>RSA-SHA1<br>transactionId=>18C13L1ZH4KMIP67O455OQZBZKRU1N4IBC1<br>buyerEmail=>julialyapina@yahoo.co.uk<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>julia lyapina<br>transactionDate=>1387311825<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>GfihPnm9ROsK1huDeYeOX4fJzyLvN+7XwymXFN9uQd6eGFcpkMl4mdZrPONClANWywjyP+iwuf5k
VBTYo4zLczdA4NzrlJO2Pj1Ty7/SS7gonxgESMD+xcwNDbz0wurEOZ1oeDGZ0KuNz+7kQoO7UnBY
e6z34YF7ctpjUR8vMd8OvFRsLRfV2hGUONkUgOg40CJxf75SXvWfeH9ltuc0rz1dkIPwo1X8M8BG
W2nl11IE8cbIXw0nmhmWytkSxTB7+96nVLYrrv/VhBtWNdR8TwGPP+/oOCQmdh6cKWOyPC24rWer
NzWpQjIpjz3aF/7ppmrOcyhauahFN783f8S9ew==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>c43fef62-6758-11e3-8a34-008cfa12d494<br>