/cart/captureresponse=><br>transactionAmount=>USD 68.98<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZNK7B94I5IEKOKPU9734RPRACSMIBPU8<br>buyerEmail=>gwkozar@yahoo.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Gregory Kozar<br>transactionDate=>1387299216<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>tXv3wk+zK+UR6q8SB8Ib9xBuaXCfPQeRV0Km3p2pisJ+B2lx3sDju3qJtuRqOwrxpkrMC2tRLQ0x
G+VpXZLnIV3exeaxoBKv0kjku//D9UQMXWac244YfX4boyGeMYjXj+KRgwkE1cDG0m7IiNYl8F4+
hwAdK34Ezodoeu+rDAhXy4oBhW6xLNvJIIDNlTlucYLiK8xu2a9oq9EAv5HyF4WVXbOpoYWo6oZH
DNkgZFGGKJ17/D2YReUEFo5UJKPFU+LvexsWvklZI2nOzIlxHQWFejEG3z0rSyicUuHmBCSy8uuu
6njiF788O/un6hVunFBoqK8T69+G5iCiqNbkjQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>b41616ec-673b-11e3-8a34-008cfa12d494<br>