/cart/captureresponse=><br>transactionAmount=>USD 17.93<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZLFI2L3I1AMJIF498UPKFZOARNAO15O5<br>buyerEmail=>ajbps5@yahoo.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Pilar Steele<br>transactionDate=>1387296966<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>qftcnv6m5NIWR7kvXokBgT1fWTYAaSCqFE3XB38Y+fQRfW97gpPOaG26G6zbxrctDPjGh/+9GDdS
ngcUBSw6Jm8y8FPrRCymkrL0R9w1OKmnEG7L8zUxGL/0W/RLNKU9DFIVO16dSbJkk3+TRNuwioc8
nJhi9ty0R5rI1AW3DtWEqmU12mKarGu7JZ8lGgEM73X+uhkK5eJAFvoerye1zlIEbC1OF3Vm6x29
DbQHlFvxp1Jx+8CC8NWgWC0v8JWHW0F83rcC4YMZnKuYnLTpa05d5a5JIDfMW5EEObphjc0QoOtt
SNvYdda5KxWtk1iwJraEthDz5o9+tk5aqWrTaw==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>78494c6a-6736-11e3-8a34-008cfa12d494<br>