/cart/captureresponse=><br>transactionAmount=>USD 50.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZMAQZI6MAIBJFK79JML8SBLR6T8GZB6L<br>buyerEmail=>rikin.pandya@stern.nyu.edu<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Rikin Pandya<br>transactionDate=>1387297859<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>SQtjmqh2VRZPlQRtnfafrEm7cyWlhYHXVnLwYJrz0tDBe1ChT6vDO9kt5TVvXR8NC6NznVrOQruG
204P/eCdOqGtCj5rOma8jk5MDLKsIiFp3lp7VphH88+KWpm1CA6fOz4V1V6NuoVgxBgTZc+GMVLj
fYHDgTZzLS7rvKCsaaU4BexX4/l/x1cVHDJxwG4QUgr5KzBHxiVmfdO0C809z1YhNcJZcfTQB4A5
7lmQBTVzFbcY40esuEqAAcn9xFNuPbaK+uyTQn+JUYcE6apq6HWYA9oxfTvnw++/Uz7BmyoVTrln
Idt3rKNXY2WoA7T9aLMCzSZeFBfopYK5ubhItg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>86505f86-6738-11e3-8a34-008cfa12d494<br>