/cart/captureresponse=><br>transactionAmount=>USD 324.22<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZNE6D81ALPDUBA2QB179GVU7PM71FT1F<br>buyerEmail=>vickie.tatta@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>victoria tatta<br>transactionDate=>1387299019<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>kkj/WJ2fDkL6i8ZruhYVkdWOocGBUZi/4DGsiVjWRAvP+IB2taVLqvmCA0jpMucye7U674EZUUIw
0zz5bBKcBXjywKKALZB2Tl48Ur44Lq48owYRLkGEM0XRMUQs+Y/Mz1XR2nnYXalHeeOL0HLLqhjq
as1hl2L82gJkaFhWNHrPqpNkgUJ5rjIplDSzEKCCizmsfa3NHwDmGgFEard4xL913yEB2f63mT/r
Rhy9Y4cTc8DmWo2oeBv+30urCkBitYPhexIqXG7LAbSVuh385nUiL5qzpS7k4VeIXJTn26cIQu5F
DDwOUX9vZkwwJRXUuxI25h5TO6kR7jP38dtElQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>3d8e9206-673b-11e3-8a34-008cfa12d494<br>