/cart/captureresponse=><br>transactionAmount=>USD 50.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CIIR18GYMQFHBTHSLRTPGBR2IOEQ2HC6B<br>buyerEmail=>cjtrabold@verizon.net<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Charles J Trabold<br>transactionDate=>1387898176<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>CKwlH0DED59V/oE4pJ3h1WxcEqTt/QFJCKULhJHRTOzfnSsuaxmnkhjSHFKUCiCz0K/ThPVF0JZT
RHGn3jG4JyWIIJ9h2YTYm4w1OsrkVEgdeEGmpq2xCjFcfFF4MOJEiHn5pargQCdM5hW9xsKpKvXl
MB42rcBebvxAjCxzmz/exXbCpuCfepWc9Bgkvr1Sh2tF5EV8JeiXoq8Y33MJ/sD9wFcCcjRmasVd
x1XLbSnKhlYOL6ULxxVQbO4hjiGeLJhdd6r5JkA5qrUuAnApuIQw+5YAZZWtYpXv/IXvpxZHWNfL
dRdPlo1+iJPP0OutW9bbrlFPnHgZOoE7Ay7alg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvuc<br>paymentMethod=>CC<br>callerReference=>1cc0fd5c-6cae-11e3-8a34-008cfa12d494<br>