/cart/captureresponse=><br>transactionAmount=>USD 29.94<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZM2TGS3I5DCNDOUS1PJAI6ENG8UKV8DD<br>buyerEmail=>ikorablev@yahoo.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Irina Korablev<br>transactionDate=>1387297601<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>PnTznRVcWZhmT5y2zWLI2/YY3jlrCsX6GPPDxYLj1zZ5mPc3rgMltpZRN/B8IfGMK4y2DWn+lN3m
93cO2ilTwlEqW3RWqGSfF1EbvAk1iEXeUNOJaGT3UoJjI0b7wkLw8tYh4PFgSFYnJ4053QA74J3m
Jixaz9lxdZHObPPnnMVx3AWTfJR4y0CA71r1f+UU4Z9kwrP0YJAy0qqhg2UuDiGd+kxKsFjg6vNW
c739ZmCCNjKEc1vHuZFmt2L76r1+oJyq0a2Rt+ZK9yVPas5dMvtTk6KGrEB4JKcbYT3Y1dacd4ZX
l66ghIpeeGJ53fdLpDWwLKXx3L/EqErOm9fyoQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>f72e2e8c-6737-11e3-8a34-008cfa12d494<br>