/cart/captureresponse=><br>transactionAmount=>USD 16.58<br>signatureMethod=>RSA-SHA1<br>transactionId=>18CZNEUMQMWDZVRTQE17TO2NE3N789JLUL9<br>buyerEmail=>deniz.yegenaga@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Deniz Yegenaga<br>transactionDate=>1387299044<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>dd5g39TK3zoh4wh7J28gbPEBeiSF3NJFs+HavkELQ5o5mR+ogbRsVjqAo6iQMX2gJYbqF+js0oP0
Mj2xIEpiQgDHIinxT5DiD6qNtB4hMFwfAfLu0KbpMleWffn4XMGayJbQQ55yyxg2xuCgjwCsjZAN
GUa5jjKR6FlL37kgknJG64rdI2i8nGC2JJ0kQSCRfokaKm5Zl+5l2Ancbl96GicWPxby4PPQ0W+L
bP9i/nzzpjatMXC+3uYBwHDn61srVzNGW9kkuSz+Znpkt8T+eXSOLwttmoDztMdP0AaJ42QxNEPL
GpKIOZzV8LnJtuqrdKjnpaW6ErelQDJTCw75RQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvnb<br>paymentMethod=>CC<br>callerReference=>4517d3a2-673b-11e3-8a34-008cfa12d494<br>