/cart/captureresponse=><br>transactionAmount=>USD 25.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>213882518347Z177DJ49ZOMJRQL4B9CIQB3<br>buyerEmail=>markham@optonline.net<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Elizabeth P. Lobrano<br>transactionDate=>1388251834<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>BS4PMA6047ydiNJdgrmld6Rn9uOuisR4lkhW3ENcfEj8UZ5pA8+eJ2999s6xbU1pVoz3wcWEhQIU
Ls6H5mWfKp1+/cHEVFk2D6zs1jbgw24HH1KT+zm84cpB7ZOMwLp5KkMGT9tdrrDBkKFKi2w8IUp7
AkDYZtOOG0Rdusgk+ysASn/0o0XPCskcowMhwB0njhKOU3PfCo7TEeKe/4JggILy85sIc87WXsdR
NDfs6UJhNTxHFZU+DDz1q199BrsP5iNX7J70LVe3FTbfdZimsUsWKXnw2sQCiTLb5iHkdXwHIu1s
0u+SenVCG2N5GyHAUcmxTZTapwJSffi3vf1d2g==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvug<br>paymentMethod=>CC<br>callerReference=>b29b5e50-6fe5-11e3-8a34-008cfa12d494<br>