/cart/captureresponse=><br>transactionAmount=>USD 500.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18D5V8DCNNHF19Q4J6MAFOII81KKQJLH8EC<br>buyerEmail=>rcc24@cornell.edu<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Robert Cignarella jr<br>transactionDate=>1388548732<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>oIhf9T+RrdhLblXTojnm2o8JlvYjcxJiwQsvfaA1czFW0Me+EIgwUjeGgSL6GV3fSOLx/DYaRQ0+
IV/xHHiNo59pHGBcrXIPCCqX+Lq+lahpkfFNN4TGHLz64Brljd3SvLmXt5RLU4b0YKaq3cO07Kv3
VFgiBnQp2VSVclphIXOZ/gjAxjhXnojD26citrgsnVyO2cdEyEHtjT3My1JNsgWr/cmM0NFfYuN0
6P8GDA01UEUgSkjREz5ZaTqAjfqprFBj6s7AsgF//LNxrp7g+hoeHTo/JmM3sXiJHc0AkItLe8uA
zhlkYdeOcWXUj8o26PfB5+J0suuPIFG0SiKGZA==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oe80jxgx<br>paymentMethod=>CC<br>callerReference=>ee1b07b8-7298-11e3-8a34-008cfa12d494<br>