/cart/captureresponse=><br>transactionAmount=>USD 14.65<br>signatureMethod=>RSA-SHA1<br>transactionId=>18COZ1BNE5M7CR7B1KQRV366NNFGFSDEP6M<br>buyerEmail=>analopes@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Ana Lopes<br>transactionDate=>1388079787<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>BnUMBwZgQUci5ISWakm1778RPLKkuB3u8EfthoP7MZiSJ4/KhiBkZ6WsPId2LWzwyHrHEW0qQVLS
BAYsIPBc02/gDBix7PJ44iYkP5+g8hqFS1sOgy3dyZZV8axzAa/ZC5RQOF4tQ7MNYE/g/dM6Qn2I
tA8rjuvZkV/wHuZf2KifSIQzQ5XwcLIy/ySpaZQWkYr1SH0RF73v7CSSM9qw5jr6Zy39oBjmTnd7
OJJYPnjkUoySsZKVnGTyO2/xH85Xf9Vgbpehq0UWofiAk57Ayl6L1xG6qBUdJtnExTs/nbNkHuZQ
GmEYLL5d1jsWBZzSsaTeMG8aqTjEHjz/Lem8jw==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gvue<br>paymentMethod=>CC<br>callerReference=>155dee32-6e55-11e3-8a34-008cfa12d494<br>