/cart/captureresponse=><br>transactionAmount=>USD 50.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18D31ZRR45OBS38ECNVCM97FRQF8DNLRZ4Z<br>buyerEmail=>l_mrozek@yahoo.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Laura Lanigan<br>transactionDate=>1388449918<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>G2kfKNuyU/iq6BDfRSs0l15XbbQX+zh2WAdooXakHTyvpCXkDqa4fkxzRO4o2Osa13ch3BrQyGsi
CoaFvaTUU1b/elxRNGDUMNi57AAUi99dlKU8unK7IhoYILNcdSfBToWeRKhtESSVqV39uZHUlUKq
LGDy3T2jOG4PGPnGILObwNsEQEOvylKvBg43KYoxZMGWAgpjcyXcEHlS1wxhfsYTdISq0X8DuXbQ
VYO5saY/5KRrzgd2mPOR8wINv4uOciB8KBssqlXuIqcqFqxEfckVVGtbbH2Wq20I+50Zb00N1+ZA
CDic9s1sRW5rjnOVeX+AsNIYqxPjioPymk/ReA==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oc99gw1d<br>paymentMethod=>CC<br>callerReference=>ea3acf34-71b2-11e3-8a34-008cfa12d494<br>