/cart/captureresponse=><br>paymentReason=>Duplicate Donation<br>transactionAmount=>USD 118.36<br>signatureMethod=>RSA-SHA1<br>transactionId=>18EZDZR4U319GBR36S3GQ9Q9TA4UOJA1R84<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Lauren Rose<br>transactionDate=>1389435579<br>parentTransactionId=>18CJ89BD71N2SBTC1VOI5LP96N3GVCESS2J<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>REFUND<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>aNNkRQ+JxgDa0kaStllFcEnr/DbXs2+vTunN2ohOnVvVhee8rZb45Y/Yqr28pfW/T9rq63xddBbp
gQdT9pnjHF6fLtpWlWKpqlgZ3k8BPjJY9qwJSo8uCSCL6oGVcHTlDd+/z2uW1rA7W+6usmnf8gzG
jBcXKmwoMzqFtod0eAndEQXzkkJJxtoU8LBUGAGcmHOmcdYbSINcHQITHW1jZ28A3lDAA9TZV2Ii
a49CMlvDKU7QJ+QqCjsIq9w0uG+946i2pDpNMRZTCvp0J2RebsNn8Q/h5yFjY6VHqfgVDP/fMUN3
BZi5yu4DOTVHRtNYjFA7e1a7c7iMxAzP5lLdcg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oe80jxo1<br>paymentMethod=>CC<br>callerReference=>262bd068-cda8-4a5b-a460-52a66b2cd34eCaller<br>