/cart/captureresponse=><br>paymentReason=>donation<br>transactionAmount=>USD 10.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18DN3O94DHBRGN8NV7H4BQICA8FZ8M6HTF7<br>status=>PI<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1389123871<br>buyerName=>Ravinder<br>subscriptionId=>cf74b8f8-e5e2-4260-9966-e22ea1bebf93<br>operation=>pay<br>recipientName=>Angelwish, Inc.<br>transactionSerialNumber=>1<br>signatureVersion=>2<br>signature=>D6zS57J2e70hmpfVS8acGu8jvcVXuL3KuDpIxJko+lJIRdaLxAo4eJySCF+8oApuRNFR/AjrQayJ
yDpc5ZBtbgkDihkyGmw9YsNWZI0BP3yo2nJU0Lu5aFgZrEee9a8rvDYdBDb8i9+7DQbHdu5PNlUE
5+wd6cJOlm8kYQ7DG8YRIhGK8mr8Wo2okzbxMDQN2yvaJ5mQyccOkdFyYFwpkt26l1PhDZKmWMFD
o4tO+TOIve3s/O2Ty3BgBrfpm+NLM9YgVniGR0BO89ct+GE6ykMT71xHsFLrvp8Hkrrkpy4Cv8c7
BFv+U1WveqtdaVHQvwOln47xAmOZmANKUsxkCQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0ashg6v<br>paymentMethod=>CC<br>