/cart/captureresponse=><br>paymentReason=>donation<br>transactionAmount=>USD 10.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18DN4EB81QCROCKZS45SNF6PNM8N2729RRP<br>status=>PF<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1389124594<br>buyerName=>Ravinder<br>subscriptionId=>38dfbcba-fdbc-487d-a0ac-78dc29f14b3c<br>operation=>pay<br>recipientName=>Angelwish, Inc.<br>transactionSerialNumber=>1<br>retryCode=>PendingSubscriberAction<br>signatureVersion=>2<br>paymentMethod=>CC<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0ashg6w<br>signature=>MQWfXLUxgJY5Mmi5jg6/mjsQfasN5VEOG51AOal0gjjUjdhSQhJemRCU1medNHUSVbDzAgEE5fNK
efEp/Nhc1UmtLIntj1uGcqpal937+An6U9vqORCbyngDkiea4sWLb170xhffixuP6gkiswSWP8Lt
eYaC8FvLojAiN2lkZRzEsRR64YOSgqNW1Zf8DEQakH7swNf0yhFgIYwwjAEN8Wfv7XBSIwrVbX1p
qZmnxFzQLVm19KdEplcJfF5cmnQCjcOwhRn+jDjZSm0ui5knHY3XZ72yOiAFFZXklRGoebSTk7Oy
tJBM0/7Hgu2qLiV7KYwkpX9pJazb38VvNfc2ww==<br>