/cart/captureresponse=><br>paymentReason=>donation<br>transactionAmount=>USD 10.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18DN3O94DHBRGN8NV7H4BQICA8FZ8M6HTF7<br>status=>PF<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1389123871<br>buyerName=>Ravinder<br>subscriptionId=>cf74b8f8-e5e2-4260-9966-e22ea1bebf93<br>operation=>pay<br>recipientName=>Angelwish, Inc.<br>transactionSerialNumber=>1<br>retryCode=>PendingSubscriberAction<br>signatureVersion=>2<br>paymentMethod=>CC<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0ashg6w<br>signature=>aJMUm4/7QXmY+kKpOfygd44ppDwSV53lk3Wb5OFyA7sQ3tw83ZnBdAHAeNQaMkSCrhPF/fvbF8Uo
qYvLTSapCsLFf6695S50jt6SNxPSxffzc6bW3FJTJzPgIegdr68N6h7IGF3ahLbwUun6ToDwlY+Z
wRYJTWlE7s6AYLbMMq/jqQ4JmGf9tBwrHM9mcltyMqWvZZBkdtxh6N6lb3Eg0KUPPgRVoeK+juZD
BhB8+aydaSpjSb8wYmxrHtMaN8FJ5W9RMi9mvkvBwm7ZRCST0Yh4HmtEtkApUUj2lyngFg1Akine
MiCEtFYwPtThAZinBRCfCZX6Lm7JuiGDELRVEw==<br>