/cart/captureresponse=><br>signatureMethod=>RSA-SHA1<br>status=>SubscriptionCancelled<br>statusReason=>CancelledBySender<br>signatureVersion=>2<br>subscriptionId=>cf74b8f8-e5e2-4260-9966-e22ea1bebf93<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0ashg6v<br>signature=>cTSuZQTeMxn2yb2bKKWabzObjwoJp9BQnctq5yCcmztTaZ41w043xQHyK1mKjlKUcmeQzVyB1p9i
HC3A+3Xnso6xQc5wWN0skJmbbLCM77TygrBvsa4D/NZytaFSDB+4dixNvIqYVgLbiFl0OpljB2b1
7EDe9WdFc1TK7IcBLyGqEHeruEJwwa1lByvy/+/JdvQ/fjNhZT/O/13NtjJkez2VAKmkV+w+sPBf
dHhYwIHSZQq2DbbY3fvaqI4W5x71nyHl/OYFNDjWevl1qEE6Q4gRsg8UXdNq/Qw6skb3BkNRzlFL
bGFKsOu6tuqiA0bX3vlkFIGwaKQi6k1YfuPFdw==<br>