/cart/captureresponse=><br>paymentReason=>donation<br>transactionAmount=>USD 10.00<br>signatureMethod=>RSA-SHA1<br>startValidityDate=>1389123871<br>status=>SubscriptionSuccessful<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Ravinder<br>subscriptionId=>cf74b8f8-e5e2-4260-9966-e22ea1bebf93<br>recurringFrequency=>1 MONTH<br>recipientName=>Angelwish, Inc.<br>noOfPromotionTransactions=>0<br>signatureVersion=>2<br>subscriptionPeriod=>12 MONTH<br>signature=>YglW4w5hE40U2M0Uom5cBp0aojwU4jwJzFi1c3ieK86N5GRKMPqdsUBioNBiI/WkdLNdg/nxrRgu
S+K8ymetQ5F+APY1aFGmcVcb/PvlYW0fwD0mTxrFuBgSsxn8v54yndjOtXhn0YINmRfSZH9w/p8H
iX8RtUjE5FaqgwcRsk+T+paU0/9UcnvCWg/YFocBT2nP7cX40ttz5GKVb0r6uZH9d73cJzErPMy7
xzTuhb53c1/xw4+xHu68KLjUSph8Si3Ct3NSoKSdSEN2AblwvSciperkwmPFTldpcztd23aq41OI
g74zyX/nLh/J3MZ21oDhY1Dr+GreSMdCkihtqg==<br>paymentMethod=>CC<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0ashg6v<br>