/cart/captureresponse=><br>paymentReason=>Duplicate Donation<br>transactionAmount=>USD 118.36<br>signatureMethod=>RSA-SHA1<br>transactionId=>18EZDZR4U319GBR36S3GQ9Q9TA4UOJA1R84<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Lauren Rose<br>transactionDate=>1389435579<br>parentTransactionId=>18CJ89BD71N2SBTC1VOI5LP96N3GVCESS2J<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>REFUND<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>paymentMethod=>CC<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oe80jxo1<br>signature=>dy9W2GXvc16eN2Rtpp7xZZhUWnOib+nSm2dbjqfZsqTNnnjk5i4JBhJiXoAVfEH+O5mMKo8qJ/b7
L/Gr2Dz/1wqJwSutfyHWazSo/Ho0KYuxpnePwaAwk1qqLPQZuJP3Q3mZzFhcfIkQ22OVCINx/9Ux
OnKufRlRYIN/Ayx8WHiNnEvPVU9c1chcSOUUQ9Z/pcbsK8cgXAthWr//LuOeYpnZRjnnmguVmX1w
63Bu6NISoQZAjKPDgd8wBAijkZdRUvHDEgfnh7B0WrudXVnfnXUdLNg2v4uaL2aUfWRxR09Qa9nd
5rIge/fvUlNOe0cftja3INbdkZORcq9g6kYUhw==<br>callerReference=>262bd068-cda8-4a5b-a460-52a66b2cd34eCaller<br>