/cart/captureresponse=><br>transactionAmount=>USD 100.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18OAUH6F55C4CT7C1MUJKHCFDCAU2FQE7HN<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Ravinder<br>transactionDate=>1400526903<br>statusMessage=>Invalid Credit Card Number<br>statusCode=>TransactionDenied<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>FAILURE<br>signature=>QEcCKBhLAZgvL4urT5hC5rczfjH8O2RR0D06LM6NK23qF6Qa3wzWlG7QQPTloPfjKR0avxt0hzb9
TMEHxhTSK84HzHu0WRxjCehdJPW7xl745fscv3yC4yqkuEfzgqE9P/3/fUNx06IOYUOVh3Ys/LIL
WgJWD0rCA75U0QBINZ/Ec53+Y9scdwFuFddZ873vVeRRFoh+0v5ShVlgUcjW5flmEPd82EWIEyT9
vK9O7X7elix+2PwUmh2AX/WXBwsqQCIFZLramMPzrenPDuHRoQ3iNtAXPKnaRDqRbqGuc1aPtf38
tVFZuDiNPW481C6S853lIMpdCiVhW3asVq7GYg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oe80pk4w<br>paymentMethod=>CC<br>callerReference=>cec47058-df89-11e3-9d8f-008cfa12d494<br>