/cart/captureresponse=><br>transactionAmount=>USD 5000.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18P78H4ZB1DB4QSFG9NBIVKAZJICFEIA8HS<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Ravinder<br>transactionDate=>1401476911<br>statusCode=>TransactionDenied<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>FAILURE<br>signature=>hxH9FsddZl9es75ExjJMy4JAbakQ1aRCwMcktLfIFooT8+k68ilDBjqxatpbOBZVYE49a2cH0wBa
+pqKm8e1+0UXG3ryDENPwZoPXMY99p0BaLh44UpeiQl+Bd+aoY6VrqoR+gTjZCiAdiy0AJ7CHq78
GIgfL2N1MjXH8Qpwn8BA2Qlaj05weWnY5y3HM2n2Ru3+qEH2D+ZIRbEvT6RmWqAazmFSlBV93P7h
8Ez41tWKfun+AFFLmzIBpCY+IANvS9tvlHYgNwv6skwVtQPuYXvQrvxKBD7HofntCYIaJ9aLOCA8
93vvln9JzAiy/lXpCSAog+9+o7p/mFFjF0tEeg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oe80pkc1<br>paymentMethod=>CC<br>callerReference=>b12ed626-e82d-11e3-9d8f-008cfa12d494<br>