/cart/captureresponse=><br>paymentReason=>donation<br>transactionAmount=>USD 10.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18PMT2ODUM1AAO52F94AO7DQA6DM6OBUB3H<br>status=>PF<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1402001777<br>buyerName=>Ravinder<br>subscriptionId=>f7a66a9f-8c57-41dd-98a9-d281b8eab04b<br>operation=>pay<br>recipientName=>Angelwish, Inc.<br>transactionSerialNumber=>1<br>retryCode=>PendingSubscriberAction<br>signatureVersion=>2<br>signature=>hSyH9GSXDkrn5xVZRx8UbMpXeatJb2BKtKekwdoCsegca8ipOj6RC5YIsoU3kzV8pC4V8lWJtwoP
PFdJ4kalOG0+MFtd8DDBTdH1WOx1uOCyFTRlM+hSiltmvPIsqxSMBY5FPzgAxlynuyQu3UsLF0a6
WIUpYiXiP+1UiXk9ZXach69jnbOgOw1UVVj6qsEovzTEYji7OBHcaTJTEtsxz2Hw0+4Y3J6T0plk
nOnmHAQkD4LYyQs8di0evS1QO4AyedXBJoCZhS4M4iDfcU0OP5HEk6TVQ7lvg8DndaMIRcs7BvVQ
p9FJ5dl4nqjv+S/3waAzMW9bzVtnEwMeAE2pkg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0asoh11<br>paymentMethod=>CC<br>