/cart/captureresponse=><br>paymentReason=>donation<br>transactionAmount=>USD 10.00<br>signatureMethod=>RSA-SHA1<br>startValidityDate=>1402001776<br>status=>SubscriptionSuccessful<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Ravinder<br>subscriptionId=>f7a66a9f-8c57-41dd-98a9-d281b8eab04b<br>recurringFrequency=>1 MONTH<br>recipientName=>Angelwish, Inc.<br>noOfPromotionTransactions=>0<br>signatureVersion=>2<br>subscriptionPeriod=>12 MONTH<br>signature=>wPx8QutLidPsaYsMt7l6xTppBA6UMAAxeE8mo/1AG5CBE1jBUWuViAMBwqDSWTMUa/QeRUm6PXF0
Aj1q3IfBn7dTmBXqCBRifzcXtdpPGfAculgtyJNIdONSWr+cKK9Q9BuT9D8+2s+v/j0ng81NmoW2
RXHKpKJHDj+jMx0MOkZKuqtGl5qKDkQWGvR3Ytovg40lLesjPXMwntN4V6Vz7XBFnvbf9PaihB80
4jBorO3Uyb0om7nliJz0tsQsW9HBt+U0GCuP0j0RrlP/laaJsT7OWV0yGrnYGgeRn+geaHKglF0C
XpuPIYoSmjEEQ3qjpnCXNs//Yty6hGf1KTH0xQ==<br>paymentMethod=>CC<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0asoh11<br>