/cart/captureresponse=><br>signatureMethod=>RSA-SHA1<br>status=>SubscriptionCancelled<br>statusReason=>PaymentFailure<br>signatureVersion=>2<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0asoh81<br>signature=>LdjAMOS2AS03fFNqontMU6r+wX8HKVuHzMHazn+FSt/uqWnu/VKqDWYOSziAx9/UIow7BjOmq77B
hWbPPeswh1NJcwDKKdJLNKIfysK5CCiQtuVIeC/vpGodmNP1b1zRDbzgeouLLHsAQGnCaIFSamri
RjWLUza+fz0DErxQ7Z9Nh9MH9UjXQF6w5hX+dIKCN0fFdSVvd0Im4oLtkGQjf2P/R7vLb9QuGtqz
x/gakSEPsJiAbzOPYs6o8mTQmllmNoB4owfwKNEPEMFQcKJLs5QCYeHi+kGG6Kqs7aOpTh9XExXH
lI+Yj6TRQzo4zi/MlviaxwAHH2MylZmiCNJXEw==<br>subscriptionId=>f7a66a9f-8c57-41dd-98a9-d281b8eab04b<br>