/cart/captureresponse=><br>paymentReason=>donation<br>transactionAmount=>USD 10.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18PMT2ODUM1AAO52F94AO7DQA6DM6OBUB3H<br>status=>PI<br>buyerEmail=>ravinderkumar.pal@kindlebit.com<br>recipientEmail=>angelwishap@angelwish.org<br>transactionDate=>1402001777<br>buyerName=>Ravinder<br>subscriptionId=>f7a66a9f-8c57-41dd-98a9-d281b8eab04b<br>operation=>pay<br>recipientName=>Angelwish, Inc.<br>transactionSerialNumber=>1<br>signatureVersion=>2<br>signature=>NBSXDMPLcBwkDRsus7v1VLQwZo8QDdbv4BsJy6Zg4M89aDn0uhNOdOCVK69W78lMrpOeTX9WjgdS
pW3mYt/n403QLvRFZpcSwrJjfOIRIs3rcgPqBWvYq3I7gh/7Zsi/jOXKhX2KEt0kNeVmW7s4dbJm
IzSwN+dH0EEgnv+76EiKXTNMZzLhzBOswnAeYDuKG4Z+yjSRHdxO11xI31RLNf+w8bvhVCo7+N4p
axNEUBCCr1pKMbHnhTTEX7OAo6CNkB3hU/pyQkpAUB0NLkUgxvaakkfXiDOxncazQ3whIoBFbDB1
mj+gCAQuE7qmHSJn7E0fV/rxl2GU1JoQc6+ZAg==<br>certificateUrl=>https://fps.amazonaws.com/certs/110713/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4l2u62wp12gjox2iz0asoh11<br>paymentMethod=>CC<br>