/cart/captureresponse=><br>transactionAmount=>USD 520.60<br>signatureMethod=>RSA-SHA1<br>transactionId=>18TFGIRV172O6N81CQH2BEVBSU335NDAZZD<br>buyerEmail=>shawnkaplan@hotmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Shawn Kaplan<br>transactionDate=>1406048759<br>statusCode=>TransactionDenied<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>FAILURE<br>signature=>rL1quA7x8E1vRneSFzZJEXm1VpuuEm9+FDIC/3MEztnP9SzF1SpKfoCQOSmAquVWs2NtXLExbQIV
zgmwSBboXSb4VnNEb1NFAf8OzFFadmFGtAa1s6xC9eq3F6ZOZeB30bpOByo4Ush9eguW86TT4cq9
vxwWKLjavHh154a39tY7DX65P1zRu4WWUSQl4x7dVGIUTAr0gAkPtkT/d0Ha6DL4xAulRJpgidjl
2BoGPZ3Lhkuw7nUxSEPE6GDwpJaYWVvLu3905zFPVEkHSM4y/7p/G2FSqCj+H7GM9YRZnZbrO2Xk
5mLA38/+3ajY7kFwMldE4f9q+CHjG1IyNOVytA==<br>certificateUrl=>https://fps.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oe80sd9u<br>paymentMethod=>CC<br>callerReference=>de0f0b1c-11c1-11e4-bc81-008cfa12d494<br>