/cart/captureresponse=><br>transactionAmount=>USD 284.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18UH5SHU63OUN6U6684RQZN6AIEZ4Q3OZ44<br>buyerEmail=>ciacona86@gmail.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Cristina<br>transactionDate=>1407178393<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>H6tiAmZCFrK+IxuP8lq795Cvh4UJXtvtUxOAmTR0FP4oRDUrCYqYp/G8A8c/DCX+teiSDX7IjaMP
xAcMAJkXGHyTaq5uik4y4QY5T2bbvR25BR8JXJtgTAHbqDffl8ghBVKkXnksw0iP7HmD6K4lflmI
FFNI/sXAIqfoWYZtdxgv2zMIaT36WO/C7gDmfAuntvgext7yPIt8JSm6MM7NiubrcQxSlWm8ezjE
zOBsmkpR3s0zm8az8C8JQlFaaRrMorHLUek0974rZOyteyi9T+YpsNjOUJs/YPYJA7Kk0hBcFO/p
26K8+d+FsJ5W0nX+7AbdPAnFDu19Xwqr+E9jLw==<br>certificateUrl=>https://fps.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oe80trg4<br>paymentMethod=>CC<br>callerReference=>0c626072-1c08-11e4-bc81-008cfa12d494<br>