/cart/captureresponse=><br>transactionAmount=>USD 1.00<br>signatureMethod=>RSA-SHA1<br>transactionId=>18VGTHMZECAT3UATQC1ZDBU3LQSDZ11L4MQ<br>buyerEmail=>shimmy@angelwish.org<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>Angelwish, Inc.<br>transactionDate=>1408243390<br>statusMessage=>The transaction was successful and the payment instrument was charged.<br>statusCode=>Success<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>SUCCESS<br>signature=>OAPYwluRCljCEGmD8Xcyu53lSL+D0RlygLr/4seuXQW2+CMYlgWxhG+MVriftLvfE46Tv2Ynd82s
Y5C5IiCRa5yshUwGrSbxhsRPC8y2Mw2bhs14uWvd5xfoTAlB9ac1whlIyNGthnKx0LYTZ7Mx0Z3D
lY5i04BYyf6YgH9SMxBJYQrdz3rtWKAnLGahvgPMHfw2eMnCP4OjaGEL8QZYnF7fWahlL25tZ2Ph
ABQVYbHRJlhYKO1YXR+ZAg/MmQxDM/1N8U1I2Sh4DyHGW4fjuX0ph23RctK4XLZfkmT0L9CdBBBY
8/1MHXOCzDZNn8nNMZZ79EHaVMnjjokjvXrlqQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oe80trnb<br>paymentMethod=>CC<br>callerReference=>94f44f82-25b7-11e4-bc81-008cfa12d494<br>