/cart/captureresponse=><br>paymentReason=>Granting wishes at Angelwish.org<br>customerName=>Emilie A. Greco<br>signatureMethod=>RSA-SHA1<br>tokenId=>TKCGCUFPTHC8IT3IZ5S97VVKJF6AYGKF8BSTV1NIPL4HN2RAIBEFRLHIHXD4IVFA<br>tokenType=>Recurring<br>notificationType=>TokenCancellation<br>customerEmail=>eg2mail@yahoo.com<br>signatureVersion=>2<br>signature=>KWvZHUcqUvJUp0VQjjEeczl3fi2KLwLsV8ZDkVBaHloC0LCJtkz2kxhSkWioqE8hKv6CsdJr+dH8
Dpc0VJuJuLX9ZxAN/skHBOGdEbNwtmy+7KI2aMW0YxEevuexksBRzgGzPxn/Dfm1+jc624Tp5+nH
ZNwDdP+hyN2as6WOsM1FSYlPfMrujJOkXNwxRODv7/33USJggMIBp0seZiinpoP3+QHf0wmtROqr
eFpDmnnFSjyIXP4I2mT8ObXoVKhnA9E+RE8NxbKuylkeR6EaN93jjIa6rq+7Wceis+anWrYOFynM
GWF1aKxdYAmEuagkK4bHAa4tBxG8Tjo4i9w7Ag==<br>certificateUrl=>https://fps.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oe80v67k<br>callerReference=>cacc7b66-38ef-11e4-a56f-008cfa12d494<br>dateInstalled=>Sep 10, 2014<br>