/cart/captureresponse=><br>transactionAmount=>USD 29.66<br>signatureMethod=>RSA-SHA1<br>transactionId=>19213JZZ462EVKVOQMHE4U176QVI6HV74GV<br>buyerEmail=>sourav.bhandari@kindlebit.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>dsdsdsd<br>transactionDate=>1410934079<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>bvBUguTIip1JLBOo3buvmCROf+1yGt+zQ54D2cOnrl+60v6IapT51IKtAcMd8pTdWcx8Cyj5nWMs
yiDgwz+wfJYVBlZhckLU5ogjTu6etPAXJ10XL9DPVYBP5BUtjuIf0HFoqkgrNIKJE9XKeAwSdYnq
jWbmLsidPeXn7PxvHe5Xhm7EbHXNdmJaJrfDm8HfqQW03DX6FF26fwRr3UircpHHhCrGDauOpmff
A8uRDDBvQ6TmmUgUCX1Hx8BSnXPNRsgVn8wCxB3UAXyxbNV0LeXZcXeoG1k7k4PXPHdhNE2Pnc9g
Y9Hu9F97wH3kb2XoEtOhU6Oc1YYbTjvsVOwB/A==<br>certificateUrl=>https://fps.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oe80v67r<br>paymentMethod=>CC<br>callerReference=>6ac63860-3e30-11e4-a56f-008cfa12d494<br>