/cart/captureresponse=><br>transactionAmount=>USD 34.49<br>signatureMethod=>RSA-SHA1<br>transactionId=>1921LNOZF5VGS77GGJRRPURMJ99TAKOUTB8<br>buyerEmail=>amit.rialch@kindlebit.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>amit<br>transactionDate=>1410953109<br>statusCode=>TransactionDenied<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>FAILURE<br>signature=>qQ1WecuMzToH92YAAOiSSCUD1xA770APHXBtnhCRxqrI3N/hnjX/1F9og4P9G7RcDXYrOdyeqnwH
0XloJ7HFP5LA3KH1c/aBaePwdEXbT3ixj3iczq4wyXCbUbGWS0Q109mVQ9irPOMq2Nc5qbdshkVe
g+wtIRSecJAckneNz/Jd2Ltz9QwVT08nVp7c8zHqZ/XKgoDQA7NJ7+hZe8C4r89dOHVy0oaRsTHS
gtu2Sk/gB/oxpjUMe0jlrER/LmuWiVAhSk/kO2LOqbo6WeeE0iVuysIxmF+s20t7nEDXh+L64fZR
iAEzeprli2LIVMMai3z4ggAI75rhM1k0k105Og==<br>certificateUrl=>https://fps.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oe80v67r<br>paymentMethod=>CC<br>callerReference=>d8535c8a-3e5a-11e4-a56f-008cfa12d494<br>