/cart/captureresponse=><br>transactionAmount=>USD 34.49<br>signatureMethod=>RSA-SHA1<br>transactionId=>1921JN2Q67JMPZST1RG6DD89FIKBP82R61P<br>buyerEmail=>tejinder.singh@kindlebit.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>tejinder<br>transactionDate=>1410950990<br>statusMessage=>The transaction is awaiting a response from the backend payment processor.<br>statusCode=>PendingNetworkResponse<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>PENDING<br>signature=>lzcoceAj976H03obU3YxoDFu5Ebmx28sx3i8G4wrN1cYCHqyajfM/C2kspDF+s8wqDKuE79Fp1C/
6z27mtTbcAvBU4cVqmK4gBX5kxkEIELsqF9EhyXV9fxDHwvcUTokv3eumeZmY420ZfZq4UhLbNxN
XN3JRwyYdRYw6zdSbuIs9duHk3vcZXKNEdrQj/dVxBBR0jfdng/2tFT8iISOkLhKkL5VL3AC5R0S
e1N+TkUEHQU910CzIfoyj8v3taTcCywt3obz74DR53CvN7rQlR899uErvKewVoOWUn9vwxwyQ5OU
qs22Cfxj92JmY2MGQiQ7UbFvJCjpD0NG3nWjSg==<br>certificateUrl=>https://fps.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oe80v67r<br>paymentMethod=>CC<br>callerReference=>d433dd30-3e57-11e4-a56f-008cfa12d494<br>