/cart/captureresponse=><br>transactionAmount=>USD 34.49<br>signatureMethod=>RSA-SHA1<br>transactionId=>1921JN2Q67JMPZST1RG6DD89FIKBP82R61P<br>buyerEmail=>tejinder.singh@kindlebit.com<br>recipientEmail=>angelwishap@angelwish.org<br>buyerName=>tejinder<br>transactionDate=>1410950990<br>statusCode=>TransactionDenied<br>operation=>PAY<br>recipientName=>Angelwish, Inc.<br>notificationType=>TransactionStatus<br>signatureVersion=>2<br>transactionStatus=>FAILURE<br>signature=>DNuVyWaa+G0kAgtzJkLHMSYOBgy6FTCNnD6t4c3Dk3qOO20UktTnvNpinpfsuX9YD34aY4zirNZo
TgNvfGVJIeF+VphzJK3riTgmOnZ11IgN5PtlkLw0fzjv00PJBF+RB0OMNgR1NsfyizCJWfwDtHSD
kF1f8roKORZ57hnN5gWiVYFPDH6MhmdWOtU4ofwIEv5U4DKLYmdgOkRMWGwIZCSzQ723ytYByBrd
l9BbHcsB/pkXz0Q4CS1QNg+C6kkq+6i37XFK39HdhlsY1725EEeMjZEtMfzG9DXccycTB6kUItPJ
XvFdTJyzSyEOdIVEjVJ7hhBZ0wIXCEWozjSgKQ==<br>certificateUrl=>https://fps.amazonaws.com/certs/040714/PKICert.pem?requestId=15n5e5e9f37m8wr13zpwl8h4mknrq6s486t29j9oe80v6eq<br>paymentMethod=>CC<br>callerReference=>d433dd30-3e57-11e4-a56f-008cfa12d494<br>