@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset "UTF-8";
*{box-sizing:border-box;}
body {
  background-color: #ffffff;
  background-image: url("../images/bg.png");
  background-position: center top;
  background-repeat: repeat-x;
  color: #333333;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  text-align: left;
}
#new_bg {
  background-image:url(../images/snow.png);
  width: 100%;
}
#container{margin:0 auto;}
#header {
  background:url(../images/header_bg.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
  clear: both;
  height: 60px;
  top: 0;
  width: 100%;
  z-index: 101;
}
.width960 {
  margin: 0 auto;
  width: 960px;
}
#header .logo {
  float: left;
  height: 72px;
  overflow: hidden;
}
#header a {
  color: #fff;
  text-decoration:none;
}
#header .navigation {
  float: right;
}
#header ul {
  float: left;
  list-style: outside none none;
  margin-top: 30px;
  padding: 0;
}
#header ul li {
  border-left: 1px solid #ccc;
  float: left;
  padding: 2px 15px;
}
#header ul li.first {
  border: medium none;
  padding-left: 0;
}
#header a.highlight {
  color: #d9edf6;
  font-weight: bold;
}
#header a.highlight.active {
  color: #fca230;
  font-weight: bold;
}
.page {
  background: none repeat scroll 0 0 white;
  border-radius: 10px 10px 0 0;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.2);
  padding: 20px 10px 20px;
  width: 940px;
  min-height:350px;
  margin-bottom:20px;
  float:left;
}
#middle {
  clear: both;
  margin-top: 40px;
  position: relative;
  top: -10px;
}
#footer {
  float: left;
  width: 100%;
}
#footer-inner {
  border-top: 1px solid #ccc;
  clear: both;
  color: #777;
  height: 150px;
  text-align: left;
}
#footer-inner div.footer_box {
  color: #777;
  float: left;
  list-style-type: none;
  padding: 10px 4px;
  width: 230px;
}
#footer-inner div.footer_box ul{padding:0;}
#footer-inner div.footer_box ul li a, #footer-inner div.footer_box h4 a{text-decoration:none;}
.state{float:left; width:100%;}
/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
}
#cssmenu {
  width: 100%;
  border-bottom: 4px solid #656659;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#cssmenu a {
  line-height: 1.3;
}
/*#cssmenu > ul > li:first-child {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
  border: 1px solid #45463d;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#cssmenu > ul > li:first-child > a {
  padding: 15px 10px;
  background: url(images/pattern.png) top left repeat;
  border: none;
  border-top: 1px solid #818176;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;

  text-align: center;
  font-size: 18px;
  font-weight: bold;

}
#cssmenu > ul > li:first-child > a > span {
  padding: 0;
}
#cssmenu > ul > li:first-child:hover{
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
}*/
#cssmenu h1{padding: 15px 10px;
  background:#b3b3b3;
  margin:0;
  border: none;

  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;

  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color:#fff;}
#cssmenu > ul > li {
  background: #eeeded;
  background: -moz-linear-gradient(#eeeded 0%, #d7d7d7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeded), color-stop(100%, #d7d7d7));
  background: -webkit-linear-gradient(#eeeded 0%, #d7d7d7 100%);
  background: linear-gradient(#eeeded 0%, #d7d7d7 100%);
  float:left;
  width:100%; 
  line-height:20px;
  border-bottom:solid 1px #fff;
}
#cssmenu > ul > li:hover/*, #cssmenu > ul > li.active*/ {
  background: #d7d7d7;
  background: -moz-linear-gradient(#d7d7d7 0%, #eeeded 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7d7d7), color-stop(100%, #eeeded));
  background: -webkit-linear-gradient(#d7d7d7 0%, #eeeded 100%);
  background: linear-gradient(#d7d7d7 0%, #eeeded 100%);
}
#cssmenu > ul > li > a {
  font-size: 16px;
  display: block;
  background: url(../images/pattern.png) top left repeat;
  color: #666;
 
  border-top: none;
  font-weight:bold;
}
#cssmenu > ul > li > a > span {
  display: block;
  padding: 12px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.has-sub > a span {
  background:url(../images/icon_plus.png) 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url(../images/icon_minus.png) 96% center no-repeat;
}
/* Sub menu */
/*#cssmenu ul ul {
  display: none;
  background: #fff;
  border-right: 1px solid #a2a194;
  border-left: 1px solid #a2a194;
}*/
#cssmenu ul ul li {
  background: none repeat scroll 0 0 #fff;
  border-top: medium none;
  float: left;
  line-height: 24px;
  padding: 0;
  width: 100%;
 /* padding-left:0 !important;*/
}
#cssmenu ul ul li:last-child {
  border-bottom: none;
}
#cssmenu ul ul a {
  color: #676767;
  display: block;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 10px 10px 25px;
}
#cssmenu ul ul a:before {
  content: "»";
  position: absolute;
  left: 12px;
  color: #e94f31;
}
#cssmenu ul ul a:hover {
  color: #e94f31;
}
select {
  padding: 0 0 0 15px;
  width: 100%;
  color:#666;
}
option{padding:10px 15px;}
textarea{width:100%;}
.describe, .care-center{padding:0 !important;}
.describe h2{padding:10px 0 10px 10px; margin:0; color:#666; font-size:18px; margin-top:15px;}
.describe h2:first-child{margin-top:0;}
.describe p{padding:0px 10px 0px 25px; margin:0; color:#666; font-size:14px; font-weight:bold;}
.describe p:last-child{padding-bottom:15px !important;}

.describe ul li a:before, .care-center ul li a:before{content:'' !important; list-style:decimal !important; padding:0 !important; margin:0 !important;}


.listing, .care-center-list{margin:20px 0; padding:0 0px !important; float:left; width:100%; background:#f1f0ee !important; border-bottom:solid 1px #fff !important;}
.listing:last-child, .care-center-list:last-child{border-bottom:none !important;}
.listing li{list-style:none; float:left; width:20% !important; text-align:left; line-height:20px; margin:10px 0; padding:10px 10px !important; background:#f1f0ee !important; border-right:solid 1px #fff !important;}
.care-center-list li{list-style:none; float:left; width:50% !important; text-align:left; line-height:20px; margin:10px 0; padding:10px 10px !important; background:#f1f0ee !important; border-right:solid 1px #fff !important;}
.listing li a, .care-center-list li a{font-size:14px !important; padding:0 !important; line-height:20px !important;}


