#wishes-container {
    margin:0 auto ;
    margin-bottom:20px;
    position: relative;
    overflow:hidden;
}

#slideshow-container{
    margin-top: -90px;
    clear: both;
    text-align: left;
    height: 405px;
    float: left;
    width: 1030px;
}

#slideshow-container .text{
    float: left;
}
#slideshow-container .image{
    float: left;
    margin-left: 60px;
    margin-top: 90px;
}
#slideshow-container h1{
    margin: 100px 0 0 20px;
}
#slideshow-container p{
    width: 400px;
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    margin: 20px 0 0 20px;
    color: #777;
    background: url('/public/images/quote_bg.png');
    font-family: Helvetica, Arial, sans-serif;
}

#slideshow-container span{
    color: #494949;
    font-style: italic;
    margin: 10px 0 0 20px;
    font-size: 14px;
}

#wishes-container #wishlist{
    width: 470px;
    margin-top: 20px;
}

#wishes-container .wish{
    margin-bottom: 20px;
    position: relative;
    height: 105px;
    overflow: hidden;
    width:470px;
}

#wishes-container .leftCol{
    float: left;
    width: 350px;
}

#wishes-container .rightCol{
    float: left;
    margin-left: 20px;
    text-align: right;
}

#wishes-container .productImage{
    float: left;
}

#wishes-container .description{
    float: left;
    width: 240px;
    margin-left: 10px;
}

#wishes-container .checkout{
    margin: 20px 80px 0 0;
    float: right;
    clear: both;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 10px 10px 10px;
    background: #FCA230;
}

#wishes-container .checkout a{
    color: #FFF;
}

#wishes-container #cart.fixed{
    position: fixed;
    top: 10px;
}

#wishes-container #cart{
    margin-left: 0px;
    display: none;
    width: 440px;
    position: absolute;
    border: 2px solid #eaeaea;
    background: white;
    font-size: 12px;
    padding: 5px 10px;
    overflow: hidden;
}

#wishes-container #cart .cartSection#cart_wishes{
    padding:3px 4px;
}

#cartSection{
    overflow: hidden;

}
#wishes-container #cart #emptyMessage{
    margin: 25px 0;
    font-style: italic;
}
#wishes-container #cart #total{
    float:right;
    clear: both;
    font-size: 14px;
    font-weight: bold;
    color: #FCA230;
}

#wishes-container .cart-form label {
    display: block;
    margin-top: 2px;
}

.cart-form{
    overflow: hidden;
}

input{
    font-size: 14px;
}
input#fname.cart-form,input#lname.cart-form{
    width: 180px;
    margin-right: 15px;
}

input#email{
    width: 385px;
    margin-top: 10px;
}


input.cart-submit {    
    margin-right: 10px;    
}

.italics{
    font-style: italic;
}

#cart .wish{
    float: left;
    width: 425px;
    height: 80px;
    
}

#cart .allWishes{
    width: 30000px;
    position: relative;
    float: left;
}

#cart .oneWish-outer{
    width: 425px;
    height: 80px;
    margin-bottom: 5px;
    overflow: hidden !important;
}

#cart .oneWish{
    width: 425px !important;
    height: 80px;
    margin-bottom: 5px;
    margin-right: 30px;
    overflow: hidden !important;
    position: absolute;
}

.leftArrow,.rightArrow{
    cursor: pointer;
}

.wish .child > div{
/*    font-size: 12px;*/
/*    color: #777;*/
}

.wish h4{
    font-size: 12px;
    font-weight: bold;
    background-color: #ffffff;
}

.wish {
    font-size: 12px;
}

.wish .price{
/*    font-size: 14px;*/
    font-weight: bold;
    background-color: #ffffff;
}

.wish .addToCart{
    margin-top: 4px;
}
.wish .addToCart a{
    font-weight: bold;
    background-color: #ffffff;
}

#cart .donorDetails{
    margin-top: 10px;
}

#cart h3{
    font-size: 16px;
    margin: 4px 0;
}

.pages{
    position:relative;
    top:-8px;
    margin: 0 15px;
}

#cart .error{
    margin-top: 5px;
    display: block;
}

.tab{
       border-bottom:solid 1px #777777;
       clear: both;
       overflow:hidden;
       margin-bottom:10px;
}
.tab a{
       display:block;
       float:left;
       padding:10px 20px;
       margin:0 7px 0 0;
       background-color:#f5f5f5;
       border:solid 1px #777777;
       border-bottom:0;
       font-family:Arial, Helvetica, sans-serif;
       color:#666666;
       font-size:13px;
       text-decoration:none;
}
.tab a:hover{
       color:#333333;
       background:#f9f9f9;
       border:solid 1px #777777;
       border-bottom:0;
}
.top{
       background:url(/public/images/arrow_top.png) right center no-repeat !important;
}
.bottom{
       background:url(/public/images/arw_bottom.png) right center no-repeat !important;
}