#slideshow
{
	background-image: url(/public/images/shaddoww.png);
	background-repeat: no-repeat;
	height: 290px;
	position: relative;
	width: 950px;
	z-index: 100;
}

div#slider
{
	border: 5px solid #fff;
	width: 950px;
        position: relative;
}
#slideshow a img
{
	border: 0;
	text-decoration: none;
}
#slider li
{
	height: 290px;
	overflow: hidden;
	width: 950px;
    display: none;
}
#slider li.show{
    display: block;
}
#slider ul, #slider li
{
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
div.slide-text
{
	background-color: #d9edf6;
	color: #03324b;
	float: left;
	font-family: georgia;
	font-size: 30px;
	font-weight: bold;
	height: 290px;
	line-height: 40px;
	padding: 25px 10px 0 60px;

	position: relative;
	text-align: left;
	width: 400px;
	z-index: 0;
	font-style:italic
}
.highlight-text
{
	color: #FCA230;
}
.gaw-button
{
	clear: both;
	float: right;
	margin-right: 15px;
}
.slide-image
{
	float: left;
	width: 340px;
}
#prevBtn
{
	left: -425px;
	position: relative;
	top: -170px;
}
#nextBtn
{
	left: 425px;
	position: relative;
	top: -170px;
}
div#shaddow
{
	background-image: url(/public/images/shaddow.png);
	background-position: top;
	background-repeat: no-repeat;
	height: 301px;
	margin: 0 auto;
	position: absolute;
	width: 950px;
	z-index: 0;
}


div.slide-text div.gaw-button img {

position:absolute;
left:280px;
top:200px;
}